html,body{
    width: 100%;
    overflow-x: hidden;
}
/*banner*/
.banner {
    width: 100vw;
    height: 50vw;
    position: relative;
}
.banner img {
    width: 100%;
    height: 50vw;
    display: block;
}
/*个人中心按钮*/
.banner .user{
    position: absolute;
    display: block;
    float: left;
    width: 14vw;
    height: 14vw;
    left: 0vw;
    top: 6.2vw;
    overflow: hidden;
    background: url("/home/images/user/3.png") no-repeat 0 center;
    background-size: cover;
}
.banner .user>img{
    width: 10vw;
    height: 10vw;
    display: block;
    margin-top: 2vw;
    float: right;
    margin-right: 3vw;
    border-radius: 50%;
    border: 1px solid #fff;
}
.banner>.exit{
    position: absolute;
    top:4vw;
    left:4vw;
}
.banner>.exit>img{
    width:10.7vw;
    height:10.7vw;
}
.banner>.rank{
    position: absolute;
    top:4vw;
    right:-2vw;
}
.banner>.rank>img{
    width:16.3vw;
    height:10.7vw;
}
.banner>.rank img:last-child{
    position: absolute;
    top:1.4vw;
    left:3vw;
    border-radius: 50%;
    width:7.5vw;
    height:7.5vw;
}
/*model*/
.model{
    padding: 5vw 0;
}
.model>li{
    float: left;
    width: 17.3vw;
    margin: 2vw 8vw;
    min-height: 10vw;
    margin-bottom: 0px;
}
.model>li>a{
    width: 100%;
    display: block;
}
.model>li>a>img{
    display: block;
    width: 14.7vw;
    height: 14.7vw;
    margin: 0 auto;
    /*border-radius: 50%;*/
    overflow: hidden;
}
.model>li>a>span{
    display: block;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 1vw;
    color: #333;
    margin-bottom: 1vw;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
/*分割线*/
.level{
    height: 3vw;
    background-color: #f7f7f7;
}
.tip{
    font-size: 1.4rem;
}
/*swiper覆盖*/
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
    position: relative!important;
    bottom: 1vw!important;
}
/*列表修改*/
.content .notices .notice .list {
    height: 22vw;
}
.content .notices .notice .list {
    display: block;
    width: 100%;
    padding-left: 3vw;
    padding-right:  3vw;
    border-bottom: 1px solid #f1f1f1;
    color: #666666;
    position: relative;
}
.content .notices .notice .list .fl img {
    width: 21.3vw;
    height: 16vw;
    margin-top: 3vw;
}
.content .notices .notice .list .fl .type {
    position: absolute;
    bottom: 15px;
    left: 3.2vw;
    width: 21.3vw;
    text-align: center;
    font-size: 1.2rem;
    color: #fff;
}
.content .notices .notice .list .right {
    width: 69vw;
    height: 16vw;
    margin-top: 3vw;
    margin-left: 3vw;
    position: relative;
}
.content .notices .notice .list .right .title {
    float: left;
    color: #111;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 1.5rem;
    width: 100%;
}
.content .notices .notice .list .title {
    color: #333333;
    font-size: 1.4rem;
}
.content .notices .notice .list .time {
    display: block;
    width: 65vw;
    font-size: 1.2rem;
    color: #999;
    position: absolute;
    bottom: 0;
}
.content .notices .notice.activity .list .right {
    width: 100%;
    height: 60px;
    margin-top: 10px;
    margin-left: 10px;
}
.examine{
    position: fixed;
    bottom:60px;
    right:15px;
    z-index: 999;
}
.examine>img{
    width:16vw;
    height:16vw;
}
.examine>.point{
    display: block;
    border-radius: 50%;
    width:2.1vw;
    height:2.1vw;
    background-color: #FF2A41;;
    position: absolute;
    right:4.3vw;
    top:3.7vw;
}
