ul {
    list-style: none;
}


.banners {
    width: 100vw;
    height: 50vw;
}

.banners img {
    width: 100%;
    height: 50vw;
    display: block;
}

.banners>.exit {
    position: absolute;
    top: 4vw;
    left: 4vw;
}
.banners>.exit>img {
    width: 10.7vw;
    height: 10.7vw;
}
/*个人中心按钮*/
.banner .user{
    position: absolute;
    display: block;
    float: left;
    width: 14vw;
    height: 14vw;
    left: 0vw;
    top: 6.2vw;
    overflow: hidden;
    background: url("/home/images/user/3.png") no-repeat 0 center;
    background-size: cover;
}
.banners .user>img{
    width: 10vw;
    height: 10vw;
    display: block;
    margin-top: 2vw;
    float: right;
    margin-right: 3vw;
    border-radius: 50%;
    border: 1px solid #fff;
}
.banners>.rank{
    position: absolute;
    top:4vw;
    right:-2vw;
}
.banners>.rank>img{
    width:13.7vw;
    height:11vw;
}
.banners>.rank img:last-child{
    position: absolute;
    top:1.4vw;
    left:3vw;
    border-radius: 50%;
    width:7.5vw;
    height:7.5vw;
    /*box-shadow: 0 0 2px 1px #fff inset;*/
    border: 1px solid #fff;
}
.list{
   padding-top:2vw ;
}
  .list>.item{
    padding-bottom: 1vw;

}
.itme_last{
   display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 30vw;
}
.itme_last a{
    width: 49.5vw;
    background-color:#e85400 ;
}
.list a span{
    text-align: center;
    font-size:1rem;
    color: #fff;
    display: block;
}
.itme_last  .ys_ls{
    background-color:#ffa401;
}
.itme_last >a>img{
    width: 15vw;
    height: 15vw;
    display: block;
    margin:2vw auto;
}
.itme_last_la{
    height: 32.8vw;
    display: flex;
    justify-content:space-between;
}
.itme_last_la a{
    width: 32.8vw;
    height:31.8vw ;

}
.itme_last_la a img{
    width: 15vw;
    height: 15vw;
    display: block;
    margin: 2vw auto;
}
.itme_last .ys_ls{
    background-color:#ffa300 ;
}

.itme_last .hd_ls{
    background-color:#e95400 ;
}
.itme_last_la .fw_ls{
    background-color:#ffc53f ;
}
.itme_last_la .mx_ls{
     background-color:#206b42 ;
 }
.itme_last_la .tz_ls{
      background-color:#003cc0 ;
  }
.itme_last .st_ls{
    background-color:#43caa2 ;
}
.itme_last .pp_ls{
    background-color:#019295 ;
}
.itme_last_la .zd_ls{
    background-color:#5d13fe ;
}

.itme_last_la .zx_ls{
    background-color:#156cff ;
}

.itme_last_la .sz_ls{
    background-color:#00c2ff ;
}

