ul {
    list-style: none;
}


.banners {
    width: 100vw;
    height: 50vw;
}
.banner img{
    width: 100vw;
}
.list{
   padding-top:2vw ;
}
  .list>.item{
    padding-bottom: 1vw;

}
.itme_last{
   display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 30vw;
}
.itme_last a{
    width: 49.5vw;
    background-color:#e85400 ;
}
.list a span{
    text-align: center;
    font-size:1rem;
    color: #fff;
    display: block;
}
.itme_last  .ys_ls{
    background-color:#ffa401;
}
.itme_last >a>img{
    width: 12vw;
    height: 12vw;
    display: block;
    margin: 4vw auto;
}
.itme_last_la{
    height: 32.8vw;
    display: flex;
    justify-content:space-between;
}
.itme_last_la a{
    width: 32.8vw;
    height:32.8vw ;

}
.itme_last_la a img{
    width: 12vw;
    height: 12vw;
    display: block;
    margin: 4vw auto;
}
.itme_last_la .mx_ls{
    background-color:#216c43 ;
}
.itme_last_la .pp_ls{
    background-color:#019295 ;
}
.itme_last_la .ly_ls{
    background-color:#00C2FF ;
}
.itme_last .jm_ls{
    background-color:#033cc1 ;
}
.itme_last .zd_ls{
    background-color:#5d13fe ;!important;
}