{extend name="public/pure"}
{block name="style"}
<title>红色矩阵</title>
    <link rel="stylesheet" href="/home/css/partyhz/index.css">
    <link rel="stylesheet" href="/home/css/common/rem.css">
    <script src="/home/js/zepto.min.js"></script>
{/block}
{block name="body"}
<div class="tabBox">
    <div id="sub1" class="tabCon clearfix" >
        <!--微信公众号-->
        <div class="tablist">
            <div class="icon">
                <a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzA3NDkwMjUxNA==&scene=124#wechat_redirect">
                    <img src="/home/images/partyhz/1.jpg">
                </a>
            </div>
            <p><a>上城先锋</a></p>
        </div>

        <div class="tablist">
            <div class="icon">
                <a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MjM5ODUzNjQxNg==&scene=124#wechat_redirect">
                    <img src="/home/images/partyhz/2.jpg">
                </a>
            </div>
            <p><a>下城先锋</a></p>
        </div>

        <div class="tablist">
            <div class="icon">
                <a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzA5MzQxOTQ5Mw==&scene=124#wechat_redirect">
                    <img src="/home/images/partyhz/3.jpg">
                </a>
            </div>
            <p><a>江干机关党建</a></p>
        </div>

        <div class="tablist">
            <div class="icon">
                <a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzA5NzI1NDQzMQ==&scene=124#wechat_redirect">
                    <img src="/home/images/partyhz/4.jpg">
                </a>
            </div>
            <p><a>运河先锋</a></p>
        </div>

        <div class="tablist">
            <div class="icon">
                <a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzI5OTMyMjM4NQ==&scene=124#wechat_redirect">
                    <img src="/home/images/partyhz/5.jpg">
                </a>
            </div>
            <p><a>西湖党建</a></p>
        </div>

        <div class="tablist">
            <div class="icon">
                <a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzI5OTMyMjM4NQ==&scene=124#wechat_redirect">
                    <img src="/home/images/partyhz/6.jpg">
                </a>
            </div>
            <p><a>滨江党建</a></p>
        </div>

        <div class="tablist">
            <div class="icon">
                <a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzA3MDk3NDIzOQ==&scene=124#wechat_redirect">
                    <img src="/home/images/partyhz/7.jpg">
                </a>
            </div>
            <p><a>萧山党建</a></p>
        </div>

        <div class="tablist">
            <div class="icon">
                <a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MjM5NTYxMzE4OA==&scene=124#wechat_redirect">
                    <img src="/home/images/partyhz/8.jpg">
                </a>
            </div>
            <p><a>余杭党建</a></p>
        </div>

        <div class="tablist">
            <div class="icon">
                <a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzI4NTI3ODg1MQ==&scene=124#wechat_redirect">
                    <img src="/home/images/partyhz/9.jpg">
                </a>
            </div>
            <p><a>富阳党建</a></p>
        </div>

        <div class="tablist">
            <div class="icon">
                <a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzAxNzAyMzg2NQ==&scene=124#wechat_redirect">
                    <img src="/home/images/partyhz/10.jpg">
                </a>
            </div>
            <p><a>淳安县直机关党建</a></p>
        </div>

        <div class="tablist">
            <div class="icon">
                <a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzI0NzM4ODU4OA==&scene=124#wechat_redirect">
                    <img src="/home/images/partyhz/11.jpg">
                </a>
            </div>
            <p><a>桐庐党建</a></p>
        </div>

        <div class="tablist">
            <div class="icon">
                <a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzI3NzQwNjg5OA==&scene=124#wechat_redirect">
                    <img src="/home/images/partyhz/12.jpg">
                </a>
            </div>
            <p><a>红芯汇</a></p>
        </div>

        <div class="tablist">
            <div class="icon">
                <a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzI2MTMwMTA3Mg==&scene=124#wechat_redirect">
                    <img src="/home/images/partyhz/13.jpg">
                </a>
            </div>
            <p><a>滨江两新先锋</a></p>
        </div>

        <div class="tablist">
            <div class="icon">
                <a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzA4ODUzNjAxOA==&scene=124#wechat_redirect">
                    <img src="/home/images/partyhz/14.jpg">
                </a>
            </div>
            <p><a>共产党员</a></p>
        </div>

    </div>


</div>
{/block}
{block name="script"}
<script>
//    var WH = $(window).width();
//    $('.tablist').height($('.tablist').width()*0.6+$($('.tablist p')[0]).height()*2+12);
//    $('.tablist').css({'margin':WH*0.02});
</script>
{/block}