{extend name="public/common"}

{block name="style"}
<title>服务菜单</title>
<link rel="stylesheet" href="/home/css/servicemenu/details.css">
<link rel="stylesheet" href="/home/css/common/rem.css">
{/block}
<style>


</style>

{block name="body"}
<div class="de_main  ">
     <div class="title_name ">一.&nbsp&nbsp适用对象</div>
     <div class="detail">
         {$model.object}
     </div>

    <div class="title_name ">二.&nbsp&nbsp服务内容</div>
    <div class="detail">
        {$model.content}
    </div>
    <div class="title_name">三.&nbsp&nbsp申领材料</div>
    <div class="detail">
        {$model.materials}
    </div>
    <div class="title_name">四.&nbsp&nbsp服务流程</div>
    <div class="detail">
        {$model.flow}
    </div>

    <div class="hotline">咨询电话: <span>{$model.tel1}{notempty name="$model.tel2"} &nbsp {$model.tel2}{/notempty}</span></div>
    <div class="serv_time">服务时间:工作日  上午 {$model.am}<span>下午{$model.pm}</span>
    </div>
</div>
<!--<div class="note">-->
    <!--<span class="read">0</span>-->
    <!--<span class="collect star " onclick="isCollect(this,1,57)">&nbsp; </span>-->

<!--</div>-->
{/block}

{block name="script"}
<script src="/home/js/reset.js"></script>
  <script>
//      //收藏
//      function isCollect(e,type,id){
//          $.ajax({
//              type:"post",
//              url:"{:Url('Base/collect')}",
//              data:{
//                  type:type,
//                  aid:id,
//              },
//              success:function(data){
//                  $(e).toggleClass('star' ).toggleClass('star_');
//                  if($(e).hasClass('star')){
//                      swal({
//                          title: '提示',
//                          text: '即将取消收藏',
//                          type: 'error',
//                          confirmButtonText:'确定',
//                          timer:3000
//                      });
//                  }else{
//                      swal({
//                          title: ' ',
//                          text: '收藏成功',
//                          type: 'success',
//                          confirmButtonText:'确定',
//                          timer:3000
//                      });
//                  }
//              }
//          })
//      }
//      //点赞
//      function isGood(e,type,id){
//          var n = $(e ).text();
//          $(e).toggleClass('good' ).toggleClass('good_');
//          $(e ).hasClass('good')?n--:n++;
//          $(e ).text(n);
//          //type：1文章，2评论
//          //	var type = $(e ).hasClass('fr')?2:1;
//          $.ajax({
//              type:"post",
//              url:"{:Url('Base/like')}",
//              data:{
//                  type:type,
//                  aid:id,
//              },
//              success:function(data){
//
//              }
//          })
//      }
  </script>
{/block}