{extend name="public/common"}

{block name="style"}
<title>服务菜单</title>
<link rel="stylesheet" href="/home/css/servicemenu/index1.css">
<link rel="stylesheet" href="/home/css/common/tip.css">
<style>
    a:active {background-color: rgba(0,0,0,.1)}
</style>

{/block}

{block name="body"}
<!--banner-->
<div class="banner">
    <img data-original="/home/images/banner/zdpbanner.jpg" alt="">
</div>
<!--表格列表-->
<div class="list_main">
    <div class="list_box">
        <span class="seq">序号</span ><span class="matter">服务事项</span><span class="section">部门</span><span class="else"></span>
    </div>
    <div class="list_title">
        <span class="seq">序号</span ><span class="matter">服务事项</span><span class="section">部门</span><span class="else"></span>
    </div>
    <ul class="lists">
        <!--循环体-->
        {volist name="modelAll" id="vo"}
        <li class="list_itme">
            <a class="info" href="{:Url('servicemenu/detail?id='.$vo.id)}">
                <span class="seq">{$key<9?'0'.($key+1):$key+1;}</span ><span class="matter">{$vo.name}</span><span class="section">{$vo.department}</span><span class="else"> </span>
            </a>
        </li>
        {/volist}
    </ul>

</div>

{/block}

{block name="script"}
<script src="/home/js/reset.js"></script>
<script>
   $(function () {
      //颜色变换
       $(".lists>li").each(function(){
           if($(this).index() %2 !==0){
               $(this).css('background','#f1f1f1')
           }
       });
       //页面滚动
       $(window).scroll(function() {
           var t = $(window).scrollTop();
           var set = t+10;
           var hh =$(".list_main").offset().top;
           if(set>hh){
               $(".list_title").hide();
               $(".list_box").show();
           }else {
               $(".list_title").show();
               $(".list_box ").hide();
           }
       })
   })




</script>
{/block}

