{extend name="public/common"}
{block name="style"}
<title>梦想快讯</title>
<link rel="stylesheet" href="/home/css/learn/index.css">
<link rel="stylesheet" href="/home/css/learn/course.css">
<link rel="stylesheet" href="/home/css/learn/learn.css">
<link rel="stylesheet" href="/home/css/common/rem.css">
<link rel="stylesheet" href="/home/css/common/tip.css">
<style>
    .notice>.title{
        width: 100vw;
        font-size: 1.6rem;
        color: #333333;
        line-height: 60px;
        text-align: center;
    }
    .modal-dialog {
        width: 600px;
        margin: 0;!important;
    }
</style>
{/block}
{block name="body"}

<div class="banner">
    <img src="/home/images/banner/banner002.jpeg" alt="banner">
</div>
<!--<div class="tabs clear">-->
    <!--<div class="tab"><span>手机党校</span></div>-->
    <!--<div class="tab"><span>练练身手</span></div>-->
    <!--&lt;!&ndash;<div class="tab"><span>党史学习</span></div>&ndash;&gt;-->
<!--</div>-->
<!--切换列表-->
<div class="content">
    <div class="notices">
        <div class="notice regularmore">
            <!--课程列表-->
            <div class="lists">
                <!--图文课程-->
                {volist name="list2" id="vo"}
                {eq name="vo.type" value="2"}
                <a href="{:Url('dreamflash/article?id='.$vo['id'])}" class="list">
                    <div class="tab">图文</div>
                    {else/}
                    <a href="{:Url('dreamflash/video?id='.$vo['id'])}" class="list">
                     <div class="tab">视频</div>
                     {/eq}
                     <img src="{$vo.front_cover|get_cover='path'}" alt="图片" class="img">
                     <div class="title limit">{$vo.title}</div>
                     <span class="study">{$vo.views}人阅读过</span>
                </a>
               {/volist}
            </div>
        </div>
    </div>
</div>
<!--加载更多-->
<div class="tip"></div>
<div class="loading hidden">
    <div class="typing_loader"></div>
</div>
{/block}
{block name="script"}
<script src="/home/js/reset.js"></script>
<script>
    var scrollNow = true;//判断下拉请求是否执行中.false为正在请求
    $(function(){

        //tab初始化和数据存储
        var ntc = $('.notices');
        $('.tabs>.tab').find('span').addClass('active');

        //两学一做上拉加载
        var len = ntc.find('.notice:last .list').length;
        if(len >= 5){
           $('.tip' ).text('上拉加载更多');
        }
        loadScroll(1);

    });
    function loadScroll(type){

        $(window ).off("scroll" ).on("scroll",function(){
            var ntc = $('.notices');
            var dh = $(document).height();
            var end = $(window).height() + $(window ).scrollTop();
            var len = ntc.eq(type-1).find('.notice:last .list').length;
            var tip = $(".tip");
            var loading = $('.loading');
            var url;
            if(type == 1){
                url = "{:Url('dreamflash/indexmore')}";
            }
            if(dh == end && scrollNow){
                scrollNow = false;//请求执行中
                $.ajax({
                    type:"post",
                    url: url,
                    data:{
                        length:len
                    },
                    beforeSend: function(XMLHttpRequest){
                        tip.hide();
                        loading.toggleClass('hidden');
                    },
                    success:function(data){
                        console.log(data);
                        console.log(121323)
                        loading.toggleClass('hidden');
                        tip.show();
                        if(data.code == 1){
                            addCourse(data,type);
                            var dataLen =data.data.length;
                            if(data.data.length == 5){
                                tip.text('上拉加载更多');
                            }
                        }else{
                            tip.text('没有更多了');
                            $(window ).off("scroll");
                        }
                        scrollNow = true;//请求结束
                    }
                })
            }
        })
    }
    function addCourse(data){
        var html = '';
        var lists = data.data;
        var len = lists.length;
        for(var i = 0; i< len;i++){
            var list = lists[i];
            if(list.type == 1){
                html+=
                    '<a href="/home/dreamflash/video/id/'+list.id+'.html" class="list">'+
                    '<div class="tab">视频</div>'
            }else{
                html+=
                    '<a href="/home/dreamflash/article/id/'+list.id+'.html" class="list">'+
                    '<div class="tab">图文</div>'
            }
            html +=
                '<img src="'+list.path+'" alt="图片" class="img">'+
                '<div class="title limit">'+ list.title+'</div>'+
                '<span class="study">'+ list.views+'人阅读过</span>'+
                '</a>'
        }
        $(".regularmore .lists" ).append(html);
    }
    //点击背景触发active
    $(".lists").on("touchstart","a",function(){
        $(this).css("backgroundColor","rgba(0,0,0,.1)");
    }).on("touchend","a", function () {
        $(this).css("backgroundColor","#fff");
    });
</script>
{/block}