{extend name="public/common"}

{block name="style"}
<title>通知公告</title>
<link rel="stylesheet" href="/home/css/dreamflash/index1.css">
<link rel="stylesheet" href="/home/css/common/rem.css">
<link rel="stylesheet" href="/home/css/common/tip.css">
<link rel="stylesheet" href="/home/css/swiper-3.4.2.min.css">
{/block}

{block name="body"}
<div class="page">
    <!--&lt;!&ndash;banner&ndash;&gt;-->
    <!--<div class="banner">-->
    <!--<img src="/home/images/banner/1.jpg" alt="图片无法加载">-->
    <!--</div>-->
    <a href="/home/college/forumnotice/id/20.html" class="list">
        <div class="list_info">
            <div class="info_text">关于梦想小镇倾力打造原创直播节目 《花点时间》——直播创业者自己的故事的活动通知1</div>
            <div class="time">
                <span class="time_ls">2017-06-23</span>
                <i class="fa"></i>
            </div>
        </div>
        <img src="/uploads/download/2017-09-15/59bb9301e93b5.png" alt="">
    </a>
    <a href="/home/college/forumnotice/id/20.html" class="list">
        <div class="list_info">
            <div class="info_text">关于梦想小镇倾力打造原创直播节目 《花点时间》——直播创业者自己的故事的活动通知1</div>
            <div class="time">
                <span class="time_ls">2017-06-23</span>
                <i class="fa"></i>
            </div>
        </div>
        <img src="/uploads/download/2017-09-15/59bb9301e93b5.png" alt="">
    </a>
    <a href="/home/college/forumnotice/id/20.html" class="list">
        <div class="list_info">
            <div class="info_text">关于梦想小镇倾力打造原创直播节目 《花点时间》——直播创业者自己的故事的活动通知1</div>
            <div class="time">
                <span class="time_ls">2017-06-23</span>
                <i class="fa"></i>
            </div>
        </div>
        <img src="/uploads/download/2017-09-15/59bb9301e93b5.png" alt="">
    </a>
    <a href="/home/college/forumnotice/id/20.html" class="list">
    <div class="list_info">
        <div class="info_text">关于梦想小镇倾力打造原创直播节目 《花点时间》——直播创业者自己的故事的活动通知1</div>
        <div class="time">
            <span class="time_ls">2017-06-23</span>
            <i class="fa"></i>
        </div>
    </div>
    <img src="/uploads/download/2017-09-15/59bb9301e93b5.png" alt="">
</a>
    <a href="/home/college/forumnotice/id/20.html" class="list">
        <div class="list_info">
            <div class="info_text">关于梦想小镇倾力打造原创直播节目 《花点时间》——直播创业者自己的故事的活动通知1</div>
            <div class="time">
                <span class="time_ls">2017-06-23</span>
                <i class="fa"></i>
            </div>
        </div>
        <img src="/uploads/download/2017-09-15/59bb9301e93b5.png" alt="">
    </a>
    <a href="/home/college/forumnotice/id/20.html" class="list">
        <div class="list_info">
            <div class="info_text">关于梦想小镇倾力打造原创直播节目 《花点时间》——直播创业者自己的故事的活动通知1</div>
            <div class="time">
                <span class="time_ls">2017-06-23</span>
                <i class="fa"></i>
            </div>
        </div>
        <img src="/uploads/download/2017-09-15/59bb9301e93b5.png" alt="">
    </a>
    <a href="/home/college/forumnotice/id/20.html" class="list">
        <div class="list_info">
            <div class="info_text">关于梦想小镇倾力打造原创直播节目 《花点时间》——直播创业者自己的故事的活动通知1</div>
            <div class="time">
                <span class="time_ls">2017-06-23</span>
                <i class="fa"></i>
            </div>
        </div>
        <img src="/uploads/download/2017-09-15/59bb9301e93b5.png" alt="">
    </a>
    <a href="/home/college/forumnotice/id/20.html" class="list">
        <div class="list_info">
            <div class="info_text">关于梦想小镇倾力打造原创直播节目 《花点时间》——直播创业者自己的故事的活动通知1</div>
            <div class="time">
                <span class="time_ls">2017-06-23</span>
                <i class="fa"></i>
            </div>
        </div>
        <img src="/uploads/download/2017-09-15/59bb9301e93b5.png" alt="">
    </a>

</div>
{/block}

{block name="script"}
{/block}
