@keyframes todown {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(15deg);
  }
  30% {
    transform: rotate(25deg);
  }
  50% {
    transform: rotate(45deg);
  }
  70% {
    transform: rotate(60deg);
  }
  90% {
    transform: rotate(75deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
@-webkit-keyframes todown {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(15deg);
  }
  30% {
    transform: rotate(25deg);
  }
  50% {
    transform: rotate(45deg);
  }
  70% {
    transform: rotate(60deg);
  }
  90% {
    transform: rotate(75deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
@keyframes toup {
  0% {
    transform: rotate(90deg);
  }
  10% {
    transform: rotate(75deg);
  }
  30% {
    transform: rotate(60deg);
  }
  50% {
    transform: rotate(45deg);
  }
  70% {
    transform: rotate(30deg);
  }
  90% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes toup {
  0% {
    transform: rotate(90deg);
  }
  10% {
    transform: rotate(75deg);
  }
  30% {
    transform: rotate(60deg);
  }
  50% {
    transform: rotate(45deg);
  }
  70% {
    transform: rotate(30deg);
  }
  90% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
a:active {
  background-color: #f7f7f7;
}
body {
}
.banner {
  width: 100vw;
  height: 50vw;

}
.banner .banner-img {
  width: 100%;
  height: 100%;
  /*margin-top:2px;*/
}
.tabs {
  width: 100vw;
  height: 11vw;
  border-bottom: 1px solid #eee;
}
.tabs .tab {
  display: block;
  float: left;
  width: 50vw;
  height: 100%;
  color: #999;
  font-size: 1.6rem;
  line-height: 12.3vw;
  text-align: center;
}
.tabs .tab:nth-child(1)::after {
  content: '';
  display: block;
  width: 1px;
  height: 5vw;
  float: right;
  margin-top: 3.5vw;
  background-color: #999;
}


.tabs .tab{

}
.tabs .active {
  color: #ff7043;
  border-bottom: 2px solid #ff7043;
}
.listbox {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 64vw;
}
.listbox .box {
  position: absolute;
  top: 0;
  width: 99vw;
}

.listbox .box .box_ .lists {
  color: #333333;
  font-size: 14px;
}
.listbox .box .box_ .lists .name1 {
  display: inline-block;
  width: 100vw;
  height: 12vw;
  font-size: 1.4rem;
  line-height: 12vw;
}
.listbox .box .box_ .lists .party1 {
  position: relative;
  top: 0;
  font-size: 1.6rem;
  line-height: 8vw;
  border-bottom: 1px solid #eeeeee;
  width: 100vw;
}
.lists a{
  display: block;
  color: #333;
}
.listbox .box .box_ .lists .party1 .tri {
  position: absolute;
  top: 4vw;
  right: 0;
  content: '';
  height: 2.5vw;
  width: 2.5vw;
  background: url('/home/images/structure/structure1.png') 0 0 no-repeat;
  background-size: 2.5vw;
}
.listbox .box .box_ .lists .party1 .tri-left{
  position: absolute;
  top: 2.66vw;
  left: 2.33vw;
  content: '';
  height: 8vw;
  width: 10vw;
  background: url('/home/images/structure/mxxz_ioc.png') 0 0 no-repeat;
  background-size: 10vw 8vw;
}
.listbox .box .box_ .lists .party2 .tri-left.structure2{
  background: url('/home/images/structure/hlwc.png') 0 0 no-repeat;
  background-size: 6vw 6vw;
  height: 8vw;
  width: 8vw;
  position: absolute;
  top: 2.66vw;
  left: 10.33vw;
}
.listbox .box .box_ .lists .party2 .tri-left.structure3{
  background: url('/home/images/structure/tsc.png') 0 0 no-repeat;
  background-size: 6vw 6vw;
  height: 6vw;
  width: 6vw;
  position: absolute;
  top: 2.66vw;
  left:10.33vw;
}
.listbox .box .box_ .lists .party2 .tri-left.structure4{
  background: url('/home/images/structure/cydj.png') 0 0 no-repeat;
  background-size: 6vw 6vw;
  height: 6vw;
  width: 6vw;
  position: absolute;
  top: 2.66vw;
  left: 10.33vw;
}
.listbox .box .box_ .lists .party2 .tri-left.structure5{
  background: url('/home/images/structure/cyjs.png') 0 0 no-repeat;
  background-size: 6vw 6vw;
  height:6vw;
  width: 6vw;
  position: absolute;
  top: 2.66vw;
  left: 10.33vw;
}
.listbox .box .box_ .lists .detail1 {
  width: 100vw;
  border-bottom: 1px solid #f1f1f1;
  position: relative;
  top: 0;
}
.listbox .box .box_ .lists .detail1 .name2 {
  display: inline-block;
  width: 100vw;
  height: 12vw;
  font-size:1.4rem;
  color: #333333;
  line-height: 12vw;
}
.listbox .box .box_ .lists .detail2 .name3 {
  display: inline-block;
  background-color: #eeeeee;
  width: 90%;
  height: 12vw;
  margin-left: 12vw;
  font-size: 1.4rem;
  color: #333333;
  line-height:12vw;
}
.listbox .box .box_ .lists .detail1 .name2 .sj{
  float: right;
  width: 12vw;
  height: 12vw;
  background: url(/home/images/structure/sj.png) center no-repeat;
  background-size: 6px 11px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  margin-right: 3vw;
}
@media screen and (max-width: 320px) {
  .listbox .box .box_ .lists .detail1 .name2 {
    font-size: 12px;
  }
}
.listbox .box .box_ .lists .todown {
  -webkit-animation: todown 0.4s linear alternate;
  animation: todown 0.4s linear alternate;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}
.listbox .box .box_ .lists .toup {
  -webkit-animation: toup 0.4s linear alternate;
  animation: toup 0.4s linear alternate;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}
.listbox .summary {
  left: 0;
}
.listbox .town {
  left: 100vw;
  display: none;
}

.listbox .shouldKnow {
  left: 200vw;
}
.listbox .vr a {
  display: inline-block;
  width: 100vw;
}
.listbox .vr .title {
  width: 100vw;
  font-size: 1.6rem;
  color: #333333;
  line-height: 16vw;
  text-align: center;
}
.listbox .vr img {
  margin: 5vw 10vw;
  width: 80vw;
}
.table .phone {
  width: 40vw;
}
.table .position {
  width: 30vw;
}
.table .name {
  width: 30vw;
}
.table .thead .th {
  display: inline-block;
  height: 46px;
  font-size: 1.8rem;
  font-weight: 600;
  font-family: "Microsoft YaHei", sans-serif;
  line-height: 46px;
  text-align: center;
  border-right: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
}
.table .tbody {
  height: 100%;
}
.table .tbody .tb {
  padding: 50px 10px;
  font-size: 1.3rem;
  border-right: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
}
.table .tbody .tb span,.table .tbody .tb a {
  display: inline-block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.table .tbody .phone {
  vertical-align: middle;
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
  overflow: hidden;
}
.table .tbody .phone span {
  display: inline-block;
  height: auto;
  vertical-align: middle;
}

/*details*/

.d_lists{
  background: #ffffff;
}
.d_list{
  display: block;
  padding:2vw 4vw;
  border-bottom:1px solid #f7f7f7;
  position: relative;
}
.d_list .d_img{
  width:13.33vw;
  height:13.33vw;
  -webkit-border-radius:1.6vw;
  -moz-border-radius:1.6vw;
  border-radius:1.6vw;
  color: #ffffff;
  font-size: 3.5rem;
  text-align: center;
  line-height: 13.333vw;
  margin-right: 3.2vw;
}
.d_list>.d_name{
  font-size: 1.6rem;
  font-weight: bold;
  color: #333;
  width:90vw;
  line-height: 7.3vw;
}
.d_list>.d_tel{
  color: #29adf0;
  font-size: 1.2rem;
}
.d_list>.d_tel>.d_tel_icon{
  width:26.67vw;
  padding:2.4vw 2.13vw;
  margin-right: 1.33vw;
  background: url("/home/images/structure/tel.png") 50% 50% no-repeat;
  -webkit-background-size:3.47vw 4.53vw;
  background-size:3.47vw 4.53vw;
}
.d_list .d_name>img{
  width: 3.5vw;
  height: 3.5vw;
  margin-top: 1.2vw;
}
.d_list .d_name>a .d_tel_img img {
  width: 4.56vw;
  height: 6vw;
  margin-top: 5.66vw;
  float: left;
  margin-right: 2vw;
}
.d_list .d_tel_img  {
  font-size: 1.6rem;
  position: absolute;
  right: 4vw;
  top: 0;
  height: 17.33vw;
  line-height: 17.33vw;
}

.d_list .d_name>a{
  display: block;
  font-size:1.4rem;
  line-height: 10vw;
  font-weight: 100;
}
.d_list .d_name>a .d_lst img{
  width: 9px;
  height: 15px;
  display: block;
  float: left;
  margin-top:1.2vw;
}
.d_tel>.d_tel_icon {
  width: 26.67vw;
  padding: 0.4vw 2.13vw;
  margin-right: 1.33vw;
  background: url(/home/images/structure/tel.png) 50% 50% no-repeat;
  -webkit-background-size: 3.47vw 4.53vw;
  background-size: 3.47vw 4.53vw;
  margin-left: 20vw;
}
.d_list .d_name>a>.d_lst{
  color: #333;
  line-height: 6vw;
  height: 6vw;
}
.d_list .d_name>a>.d_lst>i{
  font-style: normal;
  margin-left:1vw;
}
.d_list .d_name>a>.d_lst>b{
  font-weight: 100;

}


/*组织领导架构*/

.leadership{
  width: 100vw;
  margin-top: 0.5vw ;
  margin-bottom: 3vw;
}
.le_text {
  width: 100vw;
  background-color: #f1f1f1;
}
.leadership .le_ioc {
  width: 69.3vw;
  border-bottom:9.3vw solid #df4934;
  border-right: 8.5vw solid transparent;
  position: relative;
}
.leadership .le_ioc:before {
  content: '党群工作委员';
  position: absolute;
  width: 69.3vw;
  margin-left:4vw;
  line-height:8.5vw;
  color: #fff;
  font-size:1.6rem;
  letter-spacing:1vw;
}
.leader_info{
  width: 100vw;
  overflow: hidden;
  border-bottom: 1px solid #f1f1f1;
  position: relative;
}
.leader_info .le_fo{
  width:15vw ;
  color: #333;
  font-size:1.4rem;
  text-align: center;
  position: absolute;

}

.leader_info .le_de{
  width:100vw ;
  padding: 5vw 0vw 2vw 25vw;
}
.leader_info .le_de a{
  display: block;
  width: 23vw;
  padding:2vw 2vw 2vw 2vw;
  height: 30vw;
}
.leader_info .le_de a img{
  width: 18.67vw;
  height: 26.67vw;
}
.leader_info .le_de a .le_name{
  font-size:1.4rem;
  color:#333 ;
  text-align: center;
  display: block;
}
.leader_info .le_de a:first-child >img{
  line-height: 30vw;
}
.leader_info>.box_sl{
  width: 100vw;
  line-height: 3vw;
  color: #333;
  position: absolute;
  bottom: 1vw;
}
.leader_info>.box_sl span{
  display: block;
  width: 25vw;
  text-align: center;
  float: left;
}
img {max-width: inherit;}


.structureSort {position: relative;margin: auto;width:100vw;}
.structureSort .structureSortTop {width:100%;height:9.33vw;line-height: 9.33vw;font-size: 1.6rem;color: #fff;position: relative;background: #eee;}
.structureSort .structureSortTop img {position: absolute;top:0;left:0;width:69.33vw;height:9.33vw;z-index: 0;}
.structureSort .structureSortTop span {position: relative;z-index: 2;margin-left: 3.467vw;}
.structureSortText {position: relative;width:100%;padding: 0 3.467vw;margin-top: 3.74vw;border-bottom: 1px solid #f1f1f1;}
.structureTextLeft {width:14.67vw;float:left;font-size: 1.5rem;color: #333;position: relative;}
.structureTextLeft span {position: absolute;bottom:0;}
.structureTextRight {width:70.4vw;position: relative;overflow: hidden;padding-left: 2.67vw;}
.structureTextRight ul {width:80vw;position: relative;overflow: hidden;}
.structureTextRight li {float:left;width:18.67vw;margin-right: 6.4vw;text-align: center;margin-bottom: 2.678vw;height:33vw;}

.structureTextRight li img {
  width: 18.68vw;
  height: 26.67vw;
}
.structureTextRight li p {font-size: 1.4rem;color: #333;}

.party3{
  width: 100vw;
  background-color: #fcfcfc;
  display: none;
}
.party3 .limit{
  width: 100vw;
  height: 12vw;
  font-size: 1.4rem;
  color: #333333;
  line-height: 12vw;
  border-bottom: 1px solid #eeeeee;
}
.party3 .limit img {width:4vw;height:4vw;position: relative;line-height: 12vw;vertical-align: middle;margin-left: 2vw;}
.listbox .box .box_ .lists .party3 .limit .sj {
  float: right;
  width: 12vw;
  height: 12vw;
  background: url(/home/images/structure/sj.png) center no-repeat;
  background-size: 6px 11px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  margin-right: 3vw;
}
.listbox .box .box_ .lists .party1 .name1 .sj {
  float: right;
  width:12vw;
  height:12vw;
  background: url(/home/images/structure/sj.png) center no-repeat;
  background-size: 6px 11px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  margin-right: 3vw;
}
.party3 .limit .bor_name{
  margin-left: 23vw;
}
.party2 .limit .box_name{
  margin-left: 18vw;
}
.party1 .name1 .mx_name{
  margin-left: 14.6vw;
}
