{extend name="public/pure"}
{block name="style"}
    <link rel="stylesheet" href="/static/framework7/framework7.ios.min.css">
    <link rel="stylesheet" href="/static/framework7/framework7.ios.colors.min.css">
    <link rel="stylesheet" href="/home/css/learn/dangshi.css">
    <title>两学一做</title>
{/block}
{block name="body"}
<div class="views">
    <div class="view view-main">
        <div class="page">
            <div class="page-content">
                <div>
                    <audio src="/home/images/dangshi/1.mp3" id="music"  autoplay loop></audio>
                    <img src="/home/images/dangshi/play.png" alt="" style="" id="btn1">
                </div>
                <div style="position:absolute;top:0;left:0;width:100%;">
                    <img src="/home/images/dangshi/bc1.jpg" alt="" style="width:100%;" id="img0">
                    <img src="/home/images/dangshi/dangshi1.jpg" alt="" style="width:100%;display: none;" id="img">
                    <img src="/home/images/dangshi/dangshi3.jpg" alt="" style="width:100%; display: none;" id="img1">
                    <img src="/home/images/dangshi/b2.jpg" alt="" style="width:100%; display: none;" id="img2">
                </div>

                <div class="swiper-container" style="display: none;">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="/home/images/dangshi/0.jpg" alt="">

                        </div>
                        <div class="swiper-slide">
                            <img src="/home/images/dangshi/1.jpg" alt="">
                            <div>
                                <span>中共一大</span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <img src="/home/images/dangshi/2.jpg" alt="">
                            <div>
                                <span>中共二大</span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <img src="/home/images/dangshi/3.jpg" alt="">
                            <div>
                                <span>中共三大</span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <img src="/home/images/dangshi/4.jpg" alt="">
                            <div>
                                <span>中共四大</span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <img src="/home/images/dangshi/5.png" alt="">
                            <div>
                                <span>中共五大</span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <img src="/home/images/dangshi/6.jpg" alt="">
                            <div>
                                <span>中共六大</span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <img src="/home/images/dangshi/7.jpg" alt="">
                            <div>
                                <span>中共七大</span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <img src="/home/images/dangshi/8.jpg" alt="">
                            <div>
                                <span>中共八大</span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <img src="/home/images/dangshi/9.jpg" alt="">
                            <div>
                                <span>中共九大</span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <img src="/home/images/dangshi/10.jpg" alt="">
                            <div>
                                <span>中共十大</span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <img src="/home/images/dangshi/11.jpg" alt="">
                            <div>
                                <span>中共十一大</span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <img src="/home/images/dangshi/12.jpg" alt="">
                            <div>
                                <span>中共十二大</span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <img src="/home/images/dangshi/13.jpg" alt="">
                            <div>
                                <span>中共十三大</span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <img src="/home/images/dangshi/14.jpg" alt="">
                            <div>
                                <span>中共十四大</span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <img src="/home/images/dangshi/15.jpg" alt="">
                            <div>
                                <span>中共十五大</span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <img src="/home/images/dangshi/16.jpg" alt="">
                            <div>
                                <span>中共十六大</span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <img src="/home/images/dangshi/17.jpg" alt="">
                            <div>
                                <span>中共十七大</span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <img src="/home/images/dangshi/18.png" alt="">
                            <div>
                                <span>中共十八大</span>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="list-block" style="margin-top:20px;">
                    <ul style="background:none;">

                        <li class="item-content"  >
                            <div class="item-inner">
                                <div class="item-title"   ><span >中共一大</span> 1921年上海  会议通过《中国共产党第一个纲领》，<span  >宣告中国共产党的诞生</span>。规定了党的名称、性质和纲领，提出了党的最终奋斗目标。</div>
                            </div>
                        </li>
                        <li class="item-content"  >
                            <div class="item-inner">
                                <div class="item-title"   ><span >中共二大</span> 1922年 上海  会议通过了《中国共产党党章》并在中国近代史上第一次提出了彻底的<span  >反帝反封建的民主革命纲领</span>。</div>
                            </div>
                        </li>
                        <li class="item-content"  >
                            <div class="item-inner">
                                <div class="item-title"   ><span >中共三大</span>  1923年 广州  会议通过《中国共产党第一次修正章程》，严格了党员入党手续，<span  >首次规定候补党员的候补期制度</span>及权利义务。</div>
                            </div>
                        </li>
                        <li class="item-content"  >
                            <div class="item-inner">
                                <div class="item-title"   ><span >中共四大</span> 1925年上海  提出了<span  >无产阶级在民主革命中的领导权问题和工农联盟问题</span>。通过《中国共产党第二次修正章程》，规定党支部为党的基本组织，中央委员会委员长改称为总书记。</div>
                            </div>
                        </li>
                        <li class="item-content"  >
                            <div class="item-inner">
                                <div class="item-title"   ><span >中共五大</span> 1927年武汉  第一次明确规定<span  >“党部的指导原则为民主集中制”</span>。规定中央委员会除选举总书记外，还要选举“中央正式委员会若干人组成中央政治局指导全国一切工作。</div>
                            </div>
                        </li>
                        <li class="item-content"  >
                            <div class="item-inner">
                                <div class="item-title"   ><span >中共六大</span> 1928年莫斯科 <span  >唯一一次在国外召开的党的代表大会</span>，规定中共共产党为共产国际的一部分，突出强调了共产国际的领导。</div>
                            </div>
                        </li>
                        <li class="item-content"  >
                            <div class="item-inner">
                                <div class="item-title"   ><span >中共七大</span>  1945年延安  <span  >确立毛泽东思想在全党的指导地位</span>，特别强调了党的群众路线。完善党的民主集中制原则，明确了党的性质、领导地位、宗旨和作风。</div>
                            </div>
                        </li>
                        <li class="item-content"  >
                            <div class="item-inner">
                                <div class="item-title"   ><span >中共八大</span>  1956年北京  提出<span  >全面建设社会主义</span>的任务。首次规定党的代表大会实行常任制，任期为五年</div>
                            </div>
                        </li>
                        <li class="item-content"  >
                            <div class="item-inner">
                                <div class="item-title"   ><span >中共九大</span>  1969年北京 错误肯定了根据“无产阶级专政下的继续革命”理论发动的“文化大革命”。</div>
                            </div>
                        </li>
                        <li class="item-content"  >
                            <div class="item-inner">
                                <div class="item-title"   ><span >中共十大</span> 1973年北京 继续了九大的“左”的错误，肯定了“文化大革命”。</div>
                            </div>
                        </li>
                        <li class="item-content"  >
                            <div class="item-inner">
                                <div class="item-title"   ><span >中共十一大</span> 1977年北京 恢复了八大关于把中国建设成四个现代化的社会主义强国的提法。规定在党的中央委员会，地方县和县以上、军队团和团以上各级党的委员会，都设立纪检检查委员会。</div>
                            </div>
                        </li>
                        <li class="item-content"  >
                            <div class="item-inner">
                                <div class="item-title"   ><span >中共十二大</span> 1982年北京 第一次提出<span  >“建设有中国特色的社会主义”</span>。党中央只设总书记，不再设主席和副主席。首次载入入党誓词。</div>
                            </div>
                        </li>
                        <li class="item-content"  >
                            <div class="item-inner">
                                <div class="item-title"   ><span >中共十三大</span> 1987年北京  大会提出党在社会主义初级阶段的基本路线，即<span  >“一个中心，两个基本点”</span>。完善选举制度，实施差额选举。</div>
                            </div>
                        </li>
                        <li class="item-content"  >
                            <div class="item-inner">
                                <div class="item-title"   ><span >中共十四大</span> 1992年北京确立邓小平建设有<span  >中国特色社会主义理论</span>在全党的指导地位；明确<span  >经济体制改革</span>的目标是建立社会主义市场经济体制；要求全党抓住机遇，加快发展，集中精力把经济建设搞上去。</div>
                            </div>
                        </li>
                        <li class="item-content"  >
                            <div class="item-inner">
                                <div class="item-title"   ><span >中共十五大</span> 1997年北京  把<span  >邓小平理论同马列主义、毛泽东思想一起作为党的指导思想</span>，共产党要高举邓小平理论伟大旗帜，把建设有中国特色社会主义事业全面推向二十一世纪。</div>
                            </div>
                        </li>
                        <li class="item-content"  >
                            <div class="item-inner">
                                <div class="item-title"   ><span >中共十六大</span> 2002年北京  把“三个代表”确立为全党的指导思想，要高举邓小平理论的伟大旗帜，<span  >全面建设小康社会</span>，为开创中国特色社会主义事业新局面而奋斗。</div>
                            </div>
                        </li>
                        <li class="item-content"  >
                            <div class="item-inner">
                                <div class="item-title"   ><span >中共十七大</span> 2007年北京   党的十七大的主题是：<span  >“高举中国特色社会主义伟大旗帜，以邓小平理论和‘三个代表’重要思想为指导，深入贯彻落实科学发展观，继续解放思想，坚持改革开放，推动科学发展，促进社会和谐，为争取全面建设小康社会新胜利而奋斗。”</span></div>
                            </div>
                        </li>
                        <li class="item-content"  >
                            <div class="item-inner">
                                <div class="item-title"   ><span >中共十八大</span> 2012年北京  明确科学发展观是党必须长期坚持的指导思想，并写入党章；制定了坚持走中国特色社会主义政治发展道路和推进政治体制改革前进方向；提出了全面建成小康社会目标；回答了坚定不移走中国特色社会主义道路政策立场。</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
{/block}
{block name="script"}
<script src="/static/framework7/framework7.js"></script>
<script>
    var myApp = new Framework7();
    var $$ = Dom7;
    setTimeout(function(){
        $('#img0').fadeOut(500);
        $('#img').fadeIn(1000);
        $('.swiper-container').fadeIn(2500);
        var mySwiper = new Swiper('.swiper-container', {
            autoplay:100,//可选选项，自动滑动
            speed:8000,
            loop:true,
            autoplayDisableOnInteraction : false,
            pagination : '.swiper-pagination',
            observer:true,
            observeParents:true,
            onTransitionEnd: function(swiper){
                console.log($('.list-block ul>li').index());
                var a=$('.swiper-wrapper > div.swiper-slide-active').index();
                if(a<19){
                    if(a>11){
                        $('#img').fadeOut(500);
                        $('#img1').fadeIn(1200);
                    }
                    console.log('1:'+a);
                    $('.list-block ul li:nth-child('+a+')').fadeIn(3000).siblings().fadeOut();
                }
                if(a==19){
                    $('.list-block').fadeOut();
                    $('.swiper-container').fadeOut();
                    $('#img1').fadeOut(500);
                    $('#img2').fadeIn(1200);

                }
            }
        })
    },2000);

    ///
    var img = $('#btn1');
    var speed = 5;
    var deg = 0;

    var aaa=setInterval('rotate()', speed);
    function rotate() {
        img.css({
            '-ms-transform': 'rotate(' + deg + 'deg)', /* IE 9 */
            '-moz-transform': 'rotate(' + deg + 'deg)', /* Firefox */
            '-webkit-transform': 'rotate(' + deg + 'deg)', /* Safari and Chrome */
            '-o-transform': 'rotate(' + deg + 'deg)', /* Opera */
            'transform': 'rotate(' + deg + 'deg)'
        });
        deg+=1;
        if (deg >= 360) {
            deg = 0;
        }
    }
    $('#btn1').click(function(){
        console.log($(this).attr('src'));
        if($(this).attr('src')=='/home/images/dangshi/play.png'){
            $(this).attr('src','/home/images/dangshi/pause.png');
            $('#music')[0].pause();
            clearInterval(aaa)
        }
        else{
            $(this).attr('src','/home/images/dangshi/play.png');
            $('#music')[0].play();
            aaa=setInterval('rotate()', speed)
        }

    })
</script>
{/block}