{extend name="public/common"}
{block name="style"}
    <title>两学一做</title>
    <link rel="stylesheet" href="/home/css/learn/index1.css">
{/block}
{block name="body"}
<!--tab-->
<div id="tab" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
    <a class="mui-control-item" href="javascript:;" data-index="0">
        <span>十九大专题</span>
    </a>
    <a class="mui-control-item" href="javascript:;" data-index="1">
        <span>两学一做</span>
    </a>
</div>
<div id="refreshContainer" class="mui-content mui-scroll-wrapper">
    <div class="mui-scroll">
        <div class="mui-slider-group">
            <!--切换列表-->
            <!--十九大专题-->
            <div class="mui-slider-item mui-control-content lists1">
                <!-- 手机党校循环体-->
                <a href="/home/learn/article.html" class="list lesson">
                    <div class="tab">图文</div>
                    <img src="/home/images/learn/banner.png" alt="图片" class="img">
                    <div class="title limit">这里是标题区域</div>
                    <span class="study">100人阅读过</span>
                </a>
                <!-- 手机党校循环体-->
                <a href="/home/learn/article.html" class="list lesson">
                    <div class="tab">图文</div>
                    <img src="/home/images/learn/banner.png" alt="图片" class="img">
                    <div class="title limit">这里是标题区域</div>
                    <span class="study">100人阅读过</span>
                </a>
                <!-- 手机党校循环体-->
                <a href="/home/learn/article.html" class="list lesson">
                    <div class="tab">图文</div>
                    <img src="/home/images/learn/banner.png" alt="图片" class="img">
                    <div class="title limit">这里是标题区域</div>
                    <span class="study">100人阅读过</span>
                </a>
                <!-- 手机党校循环体-->
                <a href="/home/learn/video.html" class="list lesson">
                    <div class="tab">视频</div>
                    <img src="/home/images/learn/banner.png" alt="视频" class="img">
                    <div class="title limit">这里是标题区域</div>
                    <span class="study">100人阅读过</span>
                </a>
                <!-- 手机党校循环体-->
                <a href="/home/learn/video.html" class="list lesson">
                    <div class="tab">视频</div>
                    <img src="/home/images/learn/banner.png" alt="视频" class="img">
                    <div class="title limit">这里是标题区域</div>
                    <span class="study">100人阅读过</span>
                </a>
                <!-- 手机党校循环体-->
                <a href="/home/learn/video.html" class="list lesson">
                    <div class="tab">视频</div>
                    <img src="/home/images/learn/banner.png" alt="视频" class="img">
                    <div class="title limit">这里是标题区域</div>
                    <span class="study">100人阅读过</span>
                </a>
                <!-- 手机党校循环体-->
                <a href="/home/learn/video.html" class="list lesson">
                    <div class="tab">视频</div>
                    <img src="/home/images/learn/banner.png" alt="视频" class="img">
                    <div class="title limit">这里是标题区域</div>
                    <span class="study">100人阅读过</span>
                </a>
            </div>
            <!--两学一做-->
            <div class="mui-slider-item mui-control-content lists1">
                <!-- 手机党校循环体-->
                <a href="/home/learn/article.html" class="list lesson">
                    <div class="tab">图文</div>
                    <img src="/home/images/learn/banner.png" alt="图片" class="img">
                    <div class="title limit">这里是标题区域</div>
                    <span class="study">90人阅读过</span>
                </a>
                <!-- 手机党校循环体-->
                <a href="/home/learn/video.html" class="list lesson">
                    <div class="tab">视频</div>
                    <img src="/home/images/learn/banner.png" alt="视频" class="img">
                    <div class="title limit">这里是标题区域</div>
                    <span class="study">90人阅读过</span>
                </a>
                <!-- 手机党校循环体-->
                <a href="/home/learn/video.html" class="list lesson">
                    <div class="tab">视频</div>
                    <img src="/home/images/learn/banner.png" alt="视频" class="img">
                    <div class="title limit">这里是标题区域</div>
                    <span class="study">80人阅读过</span>
                </a>
                <!-- 手机党校循环体-->
                <a href="/home/learn/article.html" class="list lesson">
                    <div class="tab">图文</div>
                    <img src="/home/images/learn/banner.png" alt="图片" class="img">
                    <div class="title limit">这里是标题区域</div>
                    <span class="study">100人阅读过</span>
                </a>
                <!-- 手机党校循环体-->
                <a href="/home/learn/article.html" class="list lesson">
                    <div class="tab">图文</div>
                    <img src="/home/images/learn/banner.png" alt="图片" class="img">
                    <div class="title limit">这里是标题区域</div>
                    <span class="study">100人阅读过</span>
                </a>

            </div>
        </div>
    </div>
</div>

{/block}
{block name="script"}
<script src="/home/js/reset.js"></script>
<script>
    $(function(){
        $("title").text("两学一做");
        // 初始化显示
        c = getCookie("c")?getCookie("c"):0;
        $("#tab a").eq(c).addClass('mui-active');
        $(".mui-slider-group>div").eq(c).addClass('mui-active');
        $(".mui-control-content").eq(c).show().siblings(".mui-control-content").hide();
        $("#tab1 a").eq(c).addClass("mui-active");
    });

    //首页加载是否需要上拉加载
    window.onload = function() {
        if(c == 0){
            if ($(".lists1 .list").length < 7) {
                mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
            } else {
                mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
            }
        }else {
            if ($(".lists2 .list").length < 7) {
                mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
            } else {
                mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
            }
        }
    };

    // tab点击事件
    mui('#tab').on('tap', 'a', function(e) {
        mui('#refreshContainer').pullRefresh().scrollTo(0,0);
        mui('#refreshContainer').scroll().scrollTo(0,0);
        mui('#refreshContainer').pullRefresh().refresh(true);
        c = this.getAttribute("data-index");
        $(".mui-control-content").eq(c).show().siblings(".mui-control-content").hide();
        if(c == 0){
            if($(".lists1 a").length < 6){
                mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
            }else{
                mui('#refreshContainer').pullRefresh().enablePullupToRefresh();
            }
        }else if(c == 1){
            mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
        }else {
            mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
        }
        setCookie("c",c)
    });
    //初始化下拉加载
    mui.init({
        pullRefresh: {
            container: '#refreshContainer',
            up: {
                callback: loadScroll
            }
        }
    });

    function loadScroll(){
        var len = $(".lists1 .list").length;
        $.ajax({
            type:"post",
            url:"{:Url('Learn/more')}",
            data:{
                length:len,
                type:c
            },
            beforeSend: function(XMLHttpRequest){
            },
            success:function(data){
                addCourse(data,c);
                if(data.code == 1){
                    var dataLen =data.data.length;
                    if(data.data.length == 6){
                        mui('#refreshContainer').pullRefresh().endPullupToRefresh(false);
                    }else{
                        mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
                    }
                }else{
                    mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
                }
            }
        })
    }

    function addCourse(data,type){
        var html = '';
        var lists = data.data;
        var len = lists.length;
        console.log(lists)
        for(var i = 0; i< len;i++){
            var list = lists[i];
            if(list.type == 1){
                html+=
                        '<a href="/home/learn/video/id/'+list.id+'.html" class="list">'+
                        '<div class="tab">视频</div>'
            }else{
                html+=
                        '<a href="/home/learn/article/id/'+list.id+'.html" class="list">'+
                        '<div class="tab">图文</div>'
            }
            html +=
                    '<img src="'+list.path+'" alt="图片" class="img">'+
                    '<div class="title limit">'+ list.title+'</div>'+
                    '<span class="study">'+ list.views+'人阅读过</span>'+
                    '</a>'
        }
        if (type == 0) {
            $(".lists1" ).append(html);
        }else {
            $(".lists2" ).append(html);
        }
    }

    mui("#refreshContainer").on("touchstart","a",function(){
        $(this).css("backgroundColor","rgba(0,0,0,.1)");
    }).on("touchend","a", function () {
        $(this).css("backgroundColor","#fff");
    });

    mui("#refreshContainer").on("tap","a",function(){
        var url = this.getAttribute("href");
        window.location.href = url;
    });


</script>
{/eq}
{/block}