{extend name="public/common"}
{block name="style"}
    <title>两学一做</title>
    <!--<link rel="stylesheet" href="/home/css/learn/index1.css">-->
    <link rel="stylesheet" href="/home/css/common/tip.css">
    <style>
        .tabs {
            width: 100vw;
            height: 11vw;
        }
        .clear {
            zoom: 1;
        }
        .tabs .tab {
            display: block;
            float:left;
            width: 50vw;
            height: 100%;
            color: #999;
            font-size: 1.6rem;
            line-height: 12.3vw;
            text-align: center;
            border-bottom: 1px solid #eee;
        }
        .tabs .active {
            border-bottom: 2px solid #ff7f24;
            color: orangered;
        }
        .tabs .tab:nth-child(1)::after {
            content: '';
            display: block;
            width: 1px;
            height: 6vw;
            float: right;
            margin-top: 3vw;
            background-color: #999;
        }
        .list {
            background: #eeeeee;
            border-bottom: 1px solid transparent;
        }
        .list {
            position: relative;
            display: block;
            width: 100%;
            padding: 2.67vw;
            margin-bottom: 2.67vw;
            background: #ffffff;
            text-align: center;
            overflow: hidden;
        }
        .list .tab {
            position: absolute;
            top: 5.53vw;
            left: 1.13vw;
            width: 12vw;
            height: 8vw;
            background: url("/home/images/learn/bg_blue.png") no-repeat;
            background-size: 12vw 8vw;
            color: #ffffff;
            font-size: 1.2rem;
            text-align: center;
            line-height:5.33vw;
        }
        .list .img {
            width: 100%;
            height: 48vw;
            -webkit-border-radius: 8px;
            border-radius: 8px;
        }
        .list .title {
            color: #333333;
            font-size: 1.4rem;
            line-height: 9.6vw
        }
        .list .study {
            display: inline-block;
            background: url("/home/images/learn/people.png") 0 0 no-repeat;
            background-size: 15px 15px;
            padding-left: 18px;
            color: #999999;
            font-size: 1.2rem;
            text-align: center;
        }
        .bulletin {
            background: #eeeeee;
            border-bottom: 1px solid transparent;
        }
    </style>
{/block}
{block name="body"}
<div class="tabs clear">
    <div class="tab active" data-side="0"><span>十九大专题</span></div>
    <div class="tab" data-side="1"><span>两学一做</span></div>
</div>
<div class="bulletin"  style="display: block" id="side0">
    <div class="page">
        {volist name="list" id="vo"}
        {eq name="$vo.type" value="1"}
        <a href=" 'special/video?id='.$vo['id'])}" class="list lesson">
            <div class="tab">视频</div>
            {else/}
            <a href="{:Url('special/article?id='.$vo['id'])}" class="list lesson">
                <div class="tab">图文</div>
                {/eq}
                <img src="{$vo.front_cover|get_cover='path'}" alt="图片" class="img">
                <div class="title limit">{$vo.title}</div>
                <span class="study">{$vo.views}人阅读过</span>
            </a >
            {/volist}
    </div>
</div>
<div class="bulletin" style="display: none;" id="side1">
    <div class="page" >
        {volist name="list2" id="vo"}
        {eq name="$vo.type" value="1"}
        <a href="{:Url('learn/video?id='.$vo['id'])}" class="list lesson">
            <div class="tab">视频</div>
            {else/}
            <a href="{:Url('learn/article?id='.$vo['id'])}" class="list lesson">
                <div class="tab">图文</div>
                {/eq}
                <img src="{$vo.front_cover|get_cover='path'}" alt="图片" class="img">
                <div class="title limit">{$vo.title}</div>
                <span class="study">{$vo.views}人阅读过</span>
            </a >
            {/volist}
    </div>
</div>



<div class="tip"></div>
<div class="loading hidden">
    <div class="typing_loader"></div>
</div>

{/block}
{block name="script"}
<script src="/home/js/reset.js"></script>
<script>
    $(function() {

        for (var i = 0; i < $('.tabs .tab').length; i++) {
            $('.tabs .tab')[i].onclick = function () {
                $('.tabs .tab').removeClass('active');
                $(this).addClass('active');
                var side = $(this).data('side');
                $('.bulletin').hide();
                $('#side' + side).show();
            }
        }

        $('.tabs .tab').on('click', function () {
            var num = $(this).index();
            var len = $('.bulletin').eq(num).find('.page>a').length;
            console.log(len);
            if (len >= 10) {
                $('.tip').text('上拉加载更多');
                //上拉加载
                loadScroll();
            } else {
                $('.tip').text('没有更多了');
            }
            loadScroll()
        })

    })



</script>
{/block}