{extend name="public/common"}
{block name="style"}
    <title>在线党课</title>
    <link rel="stylesheet" href="/home/css/learn/learn.css">
    <link rel="stylesheet" href="/home/css/common/tip.css">
   <!---->
<style>
    .tab img {
        position: absolute;
        bottom:0;
        width:2.4vw;
        height:1.87vw;
        left:50%;
        margin-left: -.935vw;
    }
</style>
{/block}
{block name="body"}
<div class="tabs clear">
    <div class="tab active" data-side="1"><span>十九大专题</span><img src="/home/images/icon_001.png"></div>
    <div class="tab" data-side="2"><span>两学一做</span></div>
    <div class="tab" data-side="3"><span>VR党教</span></div>
</div>
<div class="bulletin"  style="display: block" id="side1">
    <div class="page">
        {volist name="list" id="vo"}
        {eq name="$vo.type" value="1"}
        <a href="{:Url('special/video?id='.$vo['id'])}" class="list lesson">
            <div class="tab">视频</div>
            {else/}
            <a href="{:Url('special/article?id='.$vo['id'])}" class="list lesson">
                <div class="tab">图文</div>
                {/eq}
                <img data-original="{$vo.front_cover|get_cover='path'}" src="/home/images/loading.jpg" alt="" class="img lazyLoad">
                <div class="title limit">{$vo.title}</div>
                <span class="study">{$vo.views}人阅读过</span>
            </a >
            {/volist}
    </div>
    <div class="tip"></div>
    <div class="loading hidden">
        <div class="typing_loader"></div>
    </div>

</div>
<div class="bulletin" style="display: none;" id="side2">
    <div class="page" >
        {volist name="list2" id="vo"}
        {eq name="$vo.type" value="1"}
        <a href="{:Url('learn/video?id='.$vo['id'])}" class="list lesson">
            <div class="tab">视频</div>
            {else/}
            <a href="{:Url('learn/article?id='.$vo['id'])}" class="list lesson">
                <div class="tab">图文</div>
                {/eq}
                <img data-original="{$vo.front_cover|get_cover='path'}" alt="" class="img">
                <div class="title limit">{$vo.title}</div>
                <span class="study">{$vo.views}人阅读过</span>
            </a >
            {/volist}
        </a>
    </div>
    <div class="tip"></div>
    <div class="loading hidden">
        <div class="typing_loader"></div>
    </div>
</div>


<div class="bulletin" style="display: none;" id="side3">
        <a href="http://beyond.3dnest.cn/play/?m=zq_lcez_2" class="list lesson list_ld">
            <div class="title limit">四无粮仓二展区全景展示</div>
            <img data-original="/home/images/banner/swlc.png" alt="" class="img">
        </a>
        <a href="http://beyond.3dnest.cn/play/?m=zq_zgxz_1" class="list lesson list_ld">
            <div class="title limit">中共西镇区委旧址全景展示</div>
            <img data-original="/home/images/banner/zgxz.png" alt="" class="img" >
        </a>
        <a href="http://beyond.3dnest.cn/play/?m=zq_ztyg_3" class="list lesson list_ld">
            <div class="title limit">章太炎故宫全景展示</div>
            <img data-original="/home/images/banner/zty.png" alt="" class="img" >
        </a>
</div>


{/block}
{block name="script"}
<script src="/home/js/reset.js"></script>
<script>

    $('.tabs .tab').css('width',100/$('.tabs .tab').length+'vw');

    for(var i=0;i<$('.tabs .tab').length;i++){
       // console.log(12123)
        $('.tabs .tab')[i].onclick=function(){
            console.log($(this))
            $('.tabs .tab').removeClass('active').find('img').remove();
            $(this).addClass('active').append('<img src="/home/images/icon_001.png">');
            var side = $(this).data('side');
            $('.bulletin').hide();
            $('#side'+side).show();
        }
    }
    var num = 0;
    var type = 1;

    var Num = localStorage.getItem('num');
    if(Num==null){
        Num = 0
    }
    $('.tabs .tab').removeClass('active').find('img').remove().find('span').css('color','#999');
    $('.tabs .tab').eq(Num).addClass('active').append('<img src="/home/images/icon_001.png">').find('span').css('color','#ff7f24');
    $('.bulletin').hide();
    $('#side'+(parseInt(Num)+1)).show();
//    $('.tabs>.tab ').removeClass('active').append('<img src="/home/images/icon_001.png">');
//    $('.tabs>.tab ').eq(Num).addClass('active').find('img').remove();
    type = parseInt(Num)+1;
    $(function(){
        $('.bulletin').each(function(){
            if($(this).css('display')=='block'){
                var len =$(this).find('.page>a').length;
                if(len >= 5){
                    $('.tip' ).text('上拉加载更多');
                    //上拉加载
                    loadScroll();
                }
                $('a').off('click' ).on('click',function(){
                    window.location.href  =$(this ).attr('href');
                });

                if($(this).find('.page>a').find("a").length > 0){
                    $('#wuxiaoxi1').hide()
                }
                else{
                    $('#wuxiaoxi1').show()
                }
                loadScroll()
            }
        })

    });

    $('.tabs .tab').on('click',function(){
        var num = $(this).index();
        var len =$('.bulletin').eq(num).find('.page>a').length;
        //console.log(num)
         type = $(this).data('side');
        localStorage.setItem('num',num);
        if(num==0){
            $('.tabs>.tab ').eq(0).find('span').css('color','#ff7f24')
            $('.tabs>.tab ').eq(1).find('span').css('color','#999')
            $('.tabs>.tab ').eq(2).find('span').css('color','#999')
        }else if(num==1){
            $('.tabs>.tab ').eq(1).find('span').css('color','#ff7f24')
            $('.tabs>.tab ').eq(0).find('span').css('color','#999')
            $('.tabs>.tab ').eq(2).find('span').css('color','#999')
        }else if(num==2){
            $('.tabs>.tab ').eq(2).find('span').css('color','#ff7f24')
            $('.tabs>.tab ').eq(0).find('span').css('color','#999')
            $('.tabs>.tab ').eq(1).find('span').css('color','#999')
        }
        if(type == 1){
            if(len <= 5){
                $('.tip' ).text('上拉加载更多');
                //上拉加载
                loadScroll();
            } else {
                $('.tip' ).text('没有更多了');
            }
            loadScroll()
        }else if (type == 2){
            if(len >= 5){
                $('.tip' ).text('上拉加载更多');
                //上拉加载
                loadScroll();
            } else {
                $('.tip' ).text('没有更多了');
            }
            loadScroll()
         }
         else if (type == 3){
               $('.tip' ).hide();
        }

        $("img").lazyload({
            placeholder : "/home/images/loading.jpg",
            effect: "fadeIn",
            threshold : 1
        });
    })

    function loadScroll(){
        $(window ).off("scroll" ).on("scroll",function(){
            $("img").lazyload({
                placeholder: "/home/images/loading.jpg",
                effect: "fadeIn",
                threshold: 1
            });
            var dh = $(document).height();
            var end = $(window).height() + $(window ).scrollTop();
            var len = $('#side'+type).find('.page>a').length;
//            console.log(len);
            var tip = $(".tip");
            var loading = $('.loading');
//            console.log(type)
            if(dh == end){
                if(type==1){
                    $.ajax({
                        type:"post",
                        url:"{:Url('special/indexmore')}",
                        data:{
                            length:len
                        },
                        beforeSend: function(XMLHttpRequest){
                            tip.hide();
                            loading.toggleClass('hidden');
                        },
                        success:function(data){
                            console.log(data);
                            loading.toggleClass('hidden');
                            tip.show();
                            if(data.code == 1){
                                addMeets(data);
                                var dataLen =data.data.length;
                                console.log(dataLen)
                                if(data.data.length == 5){
                                    tip.text('上拉加载更多');
                                }
                            }else{
                                tip.text('没有更多了');
                                $(window ).off("scroll");
                            }
                        }
                    })
                }
                else if(type==2){
                    $.ajax({
                        type:"post",
                        url:"{:Url('learn/indexmore')}",
                        data:{
                            length:len
                        },
                        beforeSend: function(XMLHttpRequest){
                            tip.hide();
                            loading.toggleClass('hidden');
                        },
                        success:function(data){
                            loading.toggleClass('hidden');
                            tip.show();
                            if(data.code == 1){
                                addMeets(data);
                                var dataLen =data.data.length;
                                if(data.data.length == 5){
                                    tip.text('上拉加载更多');
                                }
                            }else{
                                tip.text('没有更多了');
                                $(window ).off("scroll");
                            }
                        }
                    })
                }

            }
        })
    }

    function addMeets(data){
        var html = '';
        var lists = data.data;
        var len = lists.length;
        console.log(data)
        if(type==1){
            for(var i = 0; i< len;i++){
                var str  = '';
                var _str = '';
                var list = lists[i];
                if(list.type==1){
                    str  = '/home/special/video/id/';
                    _str ='视频'
                }else {
                    str  = '/home/special/article/id/';
                    _str ='图文'
                }
                html +='<a href="'+str+list.id+'" class="list lesson">'
                    +'<div class="tab">'+_str+'</div>'
                    +'<img data-original="'+list.path+'" alt="" class="img">'
                    +'<div class="title limit">'+list.title+'</div>'
                    +'<span class="study">'+list.views+'人阅读过</span>'
                    +'</a>'
            }
        }else {
            for(var j = 0; j< len;j++){
                var str  = '';
                var _str = '';
                var list = lists[j];
                if(list.type==1){
                    str  = '/home/learn/video/id/';
                    _str ='视频'
                }else {
                    str  = '/home/learn/article/id/';
                    _str ='图文'
                }
                html +='<a href="'+str+list.id+'" class="list lesson">'
                    +'<div class="tab">'+_str+'</div>'
                    +'<img data-original="'+list.path+'" alt="" class="img">'
                    +'<div class="title limit">'+list.title+'</div>'
                    +'<span class="study">'+list.views+'人阅读过</span>'
                    +'</a>'
            }
        }

        $('#side'+type).find('.page').append(html)
    }
    //
    $(window).scroll(function() {
        $("img").lazyload({
            placeholder: "/home/images/loading.jpg",
            effect: "fadeIn",
            threshold: 1
        });
    });
</script>
{/block}