{extend name="public/common"}

{block name="style"}
    <link rel="stylesheet" href="/static/datepicker/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/static/sweetalert/sweetalert2.min.css">
    <link rel="stylesheet" href="/home/css/college/notes.css">
    <link rel="stylesheet" href="/home/css/common/rem.css">
    <title>红色足迹</title>
{/block}

{block name="body"}


<div class="form">
    <div class="list">
        <span>标&emsp;题</span>
        <input type="text" placeholder="请输入标题..." name="title" value="" maxlength="20">
    </div>
</div>
<div class="block">
    <textarea name="content" id="text" placeholder="这一刻的新闻（图片选填，最多两张，字数最多200）" maxlength="200"></textarea>
    <div class="imgs clear">
        <div class="img fl hide"></div>
        <div class="img fl hide"></div>
        <div class="img fl hide"></div>
        <div class="img fl hide"></div>
        <div class="add fl">
            +
        </div>
        <input type="file" class="hide" id="upimg" accept="image/jpg,image/jpeg">
    </div>
    </div>
</div>
<input type="hidden" name="id" value="">
<div class="foot">
    <div class="save">发&emsp;布</div>
</div>
{/block}
{block name="script"}
<script src="/static/sweetalert/sweetalert2.min.js"></script>
<script src="/home/js/reset.js"></script>
<script>
    //上传
    $('.save' ).on('click',function(){
        var title = $("input[name='title']").val();
        var content = $("textarea[name='content']").val();
        var n = content.length;
        var t = title.length;
        var img = $('.img img' );
        var images = [];
        var imglen = img.length;
        var data ={
            title: title,
            content:content,
            images:''
        };
        if(imglen > 0){
            for(var i =0 ;i< imglen ;i++){
                images.push(img.eq(i ).attr('data-tab'));
            }
            data ={
                title: title,
                content: content,
                images: images
            };
        }
        if(n == 0 || t == 0){
            swal({
                title: ' ',
                text: t == 0 ? '标题不能为空':'内容不能为空',
                type: 'warning',
                showConfirmButton:false,
                timer:1500
            });
        }else{
            swal({
                title: "",
                text: "确认提交？",
                showCancelButton: true,
                type: 'success',
                confirmButtonColor: "#f99300",
                confirmButtonText: "确定",
                cancelButtonText: "取消",
            } ).then(function(isConfirm){
                if (isConfirm) {
                    swal({
                        title: '上传成功',
                        text: '即将返回红色足迹首页',
                        type: 'success',
                        showConfirmButton:false
                    });
                    $.ajax({
                        type:"post",
                        url:"{:Url('News/publish')}",
                        data:data,
                        beforeSend: function(XMLHttpRequest){
                        },
                        success:function(e){
                            if(e.code == 1){
                                setTimeout(function(){
                                    window.location.href = "{:Url('News/index')}";
                                },1000)
                            }else{
                                swal({
                                    title: ' ',
                                    html: '上传失败',
                                    type: 'error',
                                    showConfirmButton:false,
                                    timer:1500
                                });
                            }

                        }
                    });
                }else{

                }
            });
        }
    });
    //图片预览
    $('.add' ).on('click',function(){
        var imglen = $('.img img' ).length;
        var this_ = $(this );
        $('#upimg').click().off("change").on('change',function(){
            var size = ($(this)[0].files[0].size / 1024).toFixed(2);
            if(size <= 2048){
                var img = $(this)[0].files[0];
                var formData = new FormData();
                formData.append("picture",img);
                $.ajax({
                    type:"post",
                    url:"{:Url('File/uploadPicture')}",
                    data:formData,
                    processData : false,
                    contentType : false,
                    beforeSend: function(XMLHttpRequest){
                        swal('');
                        swal.showLoading();
                        $('.swal2-confirm' ).css({'background-color':'#c1c1c1','border-left-color':'#c1c1c1','border-right-color':'#c1c1c1'})
                    },
                    success:function(data){
                        swal.close();
                        var msg = $.parseJSON(data);
                        if(msg.code == 1){
                            if(this_.hasClass('add')){
                                //图片添加
                                if(imglen == 1){
                                    $('.add' ).fadeOut();
                                }
                                $('.img').eq(imglen).removeClass('hide' )
                                        .append('<img src='+msg.data.path+' alt="笔记图片" data-tab='+msg.data.id+'>');
                            }else{
                                //图片修改
                                this_.find('img').remove();
                                this_.append('<img src='+msg.data.path+' alt="笔记图片" data-tab='+msg.data.id+'>');
                            }
                            imgresize();

                        } else {
                            return;
                        }
                    }
                });
            } else {
                swal({
                    title: ' ',
                    text: '您的图片超过2M',
                    type: 'warning',
                    showConfirmButton:false,
                    timer:1500
                });
            }
        });

    });

    function imgresize(){
        setTimeout(function(){
            var img = $('.img img' );
            img.each(function(){
                $(this).height('20.8vw');
                $(this).width('20.8vw');
            });
        },100);
    }
</script>
{/block}