{extend name="public/common"}

{block name="style"}
<title>社团活动列表</title>
<link rel="stylesheet" href="/home/css/club/detail.css">
<link rel="stylesheet" href="/home/css/common/rem.css">
{/block}

{block name="body"}
<div class="mass">
    {volist name="list" id="vo"}
    <a href="{:Url('club/activitydetail?id='.$vo.id)}" class="list">
        <img src="{$vo.front_cover|get_cover='path'}" alt="图片">
        <div class="list_info">
            <div class="info_text">{$vo.title}</div>
            <div class="time"> <span >活动时间 : {$vo.start_time|time_format='Y-m-d'}</span><span class="fa"></span></div>
        </div>
    </a>
    {/volist}
</div>
<div class="tip"></div>
{/block}

{block name="script"}
{/block}