{extend name="public/common"}

{block name="style"}
<title>社团详情</title>
<link rel="stylesheet" href="/home/css/club/detail.css">
<link rel="stylesheet" href="/home/css/common/rem.css">
{/block}
{block name="body"}
<!--banner-->
<div class="banner">
    <img src="/home/images/club/cb.jpg" alt="组织架构banner" class="banner-img">
</div>

<div class="detail_info">
    <div class="town box">
        <div class="box_ or">
           <div class="box_info">
             <p>为了丰富同学们的课余生活,提高同学们的专业素质,激发同学们的学习兴趣,在2005------2006学年第一学期,我们成立了建筑城规学院海右书画院.书画院成立以来,组织同学们举行了一次建筑城规学院海右书画比赛,并选出成绩非常出色的学生的作品进行了一次书画展览.活动中同学们积极参与,书画院为同学们提供了展示自我的机会,并在比赛中互相学习,互相帮助,形成了良好的学习氛围</p>


             <div class="contact">联系方式 : <span>0571-62586542</span></div>
             <div class="apply">报名方式 : <span>0571-13213132</span></div>
             <div class="site">地址 : 杭州市余杭区22号 </div>
           </div>

        </div>
    </div>
</div>
{/block}

{block name="script"}
{/block}