{extend name="public/common"}

{block name="style"}
<title>我的社团</title>
<link rel="stylesheet" href="/home/css/club/detail.css">
<link rel="stylesheet" href="/home/css/common/rem.css">
{/block}
{block name="body"}
<div class="banner">
    <img src="/home/images/club/banner.png"  class="banner-img">
</div>

<div class="detail_info">
    <div class="activityTitle">{$model.title}</div>
    <div class="info">{$model.content}</div>
    <div class="contact_info">
        <a href="tel:{$model.telephone}" class="contact">联系方式 : {$model.telephone} <i></i></a>
        <a  href="tel:{$model.apply_tel} " class="reg">报名方式 : {$model.apply_tel} <i></i></a>
        <div class="site">详细地址 : {$model.address}</div>
    </div>
    <div class="club_activity">
        <div class="title">
            <span class="hd_ls"><i></i>社团活动</span><a href="{:Url('club/activity?id='.$model.id)}" class="more">更多 <img src="/home/images/club/moer.png" alt=""></a>
        </div>
        <div class="mass">
            {volist name="list" id="vo"}
            <a href="{:Url('club/activitydetail?id='.$vo.id)}" class="list">
                <img src="{$vo.front_cover|get_cover='path'}" alt="图片">
                <div class="list_info">
                    <div class="info_text">{$vo.title}</div>
                    <div class="time"> <span >活动时间 : {$vo.start_time|time_format='Y-m-d'}</span><span class="fa"></span></div>
                </div>
            </a>
            {/volist}
        </div>
        <div class="tip"></div>
    </div>
</div>

{/block}
{block name="script"}

<script>
   var  len = $(".mass a").length;
   if(len==0){
       $(".club_activity").hide();
   }else {
       $(".club_activity").show();
   }


</script>
{/block}