{extend name="public/common"}

{block name="style"}
<title>我的社团</title>
<link rel="stylesheet" href="/home/css/club/index.css">
<link rel="stylesheet" href="/home/css/common/rem.css">
{/block}
{block name="body"}
    <!--tab-->
<div class="tabs clear">
    <div class="tab"><span>社团活动</span></div>
    <div class="tab"><span>志愿服务</span></div>
    <span class="triangle-up"></span>
</div>
 <!--社团活动-->
<div class="notices ">
    <div class="mass">
       <a href="/home/club/detail.html" class="title">
          <img src="/home/images/club/Snap.jpg" alt="">
           <div class="title_list">
               <p>校友会联盟户外俱乐部</p>
                <span>成立时间: <i>2017/11/11</i>   </span>
           </div>
           <span class="fa"></span>
       </a>
       <a href="/home/club/volunteer.html" class="list">
           <img src="/home/images/club/Snap.jpg" alt="">
           <div class="list_info">
             <div class="info_text">校友会联盟户外俱乐部校友会联盟户外俱乐部校友会联盟户外俱乐部校友会联盟户外俱乐部校友会联盟户外俱乐部</div>
             <div class="site">地点:  <span>杭州余杭区梦想小镇</span>   </div>
             <div class="time">时间: <span>2017-10-12</span></div>
           </div>
       </a>
       <a href="#" class="list">
           <img src="/home/images/club/Snap.jpg" alt="">
           <div class="list_info">
               <div class="info_text">校友会联盟户外俱乐部校友会联盟户外俱乐部校友会联盟户外俱乐部校友会联盟户外俱乐部校友会联盟户外俱乐部</div>
               <div class="site">地点:  <span>杭州余杭区梦想小镇</span>   </div>
               <div class="time">时间: <span>2017-10-12</span></div>
           </div>
       </a>
       <a href="#" class="list">
           <img src="/home/images/club/Snap.jpg" alt="">
           <div class="list_info">
               <div class="info_text">校友会联盟户外俱乐部校友会联盟户外俱乐部校友会联盟户外俱乐部校友会联盟户外俱乐部校友会联盟户外俱乐部</div>
               <div class="site">地点:  <span>杭州余杭区梦想小镇</span>   </div>
               <div class="time">时间: <span>2017-10-12</span></div>
           </div>
       </a>
       <div class="tip">更多活动>></div>
   </div>
    <div class="mass">
        <a href="/home/club/detail.html" class="title">
            <img src="/home/images/club/Snap.jpg" alt="">
            <div class="title_list">
                <p>校友会联盟户外俱乐部</p>
                <span>成立时间: <i>2017/11/11</i>   </span>
            </div>
            <span class="fa"></span>
        </a>
        <a href="#" class="list">
            <img src="/home/images/club/Snap.jpg" alt="">
            <div class="list_info">
                <div class="info_text">校友会联盟户外俱乐部校友会联盟户外俱乐部校友会联盟户外俱乐部校友会联盟户外俱乐部校友会联盟户外俱乐部</div>
                <div class="site">地点:  <span>杭州余杭区梦想小镇</span>   </div>
                <div class="time">时间: <span>2017-10-12</span></div>
            </div>
        </a>
        <a href="#" class="list">
            <img src="/home/images/club/Snap.jpg" alt="">
            <div class="list_info">
                <div class="info_text">校友会联盟户外俱乐部校友会联盟户外俱乐部校友会联盟户外俱乐部校友会联盟户外俱乐部校友会联盟户外俱乐部</div>
                <div class="site">地点:  <span>杭州余杭区梦想小镇</span>   </div>
                <div class="time">时间: <span>2017-10-12</span></div>
            </div>
        </a>
        <a href="#" class="list">
            <img src="/home/images/club/Snap.jpg" alt="">
            <div class="list_info">
                <div class="info_text">校友会联盟户外俱乐部校友会联盟户外俱乐部校友会联盟户外俱乐部校友会联盟户外俱乐部校友会联盟户外俱乐部</div>
                <div class="site">地点:  <span>杭州余杭区梦想小镇</span>   </div>
                <div class="time">时间: <span>2017-10-12</span></div>
            </div>
        </a>
        <div class="tip">更多活动>></div>
    </div>
</div>
<!--志愿服务-->
<div class="notices hidden">
    <div class="mass volunt">
        <a href="/home/club/detail.html" class="title">
            <img src="/home/images/club/Snap.jpg" alt="">
            <div class="title_list">
                <p>创业导师团</p>
                <span>创立时间: <i>2017/11/11</i>   </span>
            </div>
            <span class="fa"></span>
        </a>
        <a href="/home/club/detail.html" class="simple_info">
            <p> 简介:在梦想小镇团委、菜根科技、铜掌柜的组织下，来自慧灵公益、未来科技城双语幼儿园的大朋友小朋友将欢聚在一起，庆祝六一，推广公益，传递“无差别对待”理念。
                在梦想小镇团委、菜根科技、铜掌柜的组织下，来自慧灵公益、未来科技城双语幼儿园的大朋友小朋友将欢聚在一起，庆祝六一，推广公益，传递“无差别对待”理念。</p>
        </a>
        <a href="/home/club/detail.html"  class="tip">查看更多>> </a>
    </div>
    <div class="mass  volunt">
        <a class="title">
            <img src="/home/images/club/Snap.jpg" alt="">
            <div class="title_list">
                <p>创业导师团</p>
                <span>创立时间: <i>2017/11/11</i>   </span>
            </div>
            <span class="fa"></span>
        </a>
        <a class="simple_info">
            <p> 简介:在梦想小镇团委、菜根科技、铜掌柜的组织下，来自慧灵公益、未来科技城双语幼儿园的大朋友小朋友将欢聚在一起，庆祝六一，推广公益，传递“无差别对待”理念。
                在梦想小镇团委、菜根科技、铜掌柜的组织下，来自慧灵公益、未来科技城双语幼儿园的大朋友小朋友将欢聚在一起，庆祝六一，推广公益，传递“无差别对待”理念。</p>
        </a>
        <a class="tip">查看更多>> </a>
    </div>
    <div class="mass  volunt">
        <a class="title">
            <img src="/home/images/club/Snap.jpg" alt="">
            <div class="title_list">
                <p>创业导师团</p>
                <span>创立时间: <i>2017/11/11</i>   </span>
            </div>
            <span class="fa"></span>
        </a>
        <a  class="simple_info">
            <p> 简介:在梦想小镇团委、菜根科技、铜掌柜的组织下，来自慧灵公益、未来科技城双语幼儿园的大朋友小朋友将欢聚在一起，庆祝六一，推广公益，传递“无差别对待”理念。
                在梦想小镇团委、菜根科技、铜掌柜的组织下，来自慧灵公益、未来科技城双语幼儿园的大朋友小朋友将欢聚在一起，庆祝六一，推广公益，传递“无差别对待”理念。</p>
        </a>
        <a class="tip">查看更多>> </a>
    </div>
</div>
{/block}

{block name="script"}
<script>
    //初始化
    var ntc = $('.notices');
    //tab切换
    $('.tabs>.tab ').on('click',function() {
        var ntc = $('.notices');
        var eq = $(this).index();
        ntc.eq(eq).siblings('.notices').addClass('hidden');
        ntc.eq(eq).removeClass('hidden');
        if(eq == 0){
            $(".triangle-up").css("left","21.06vw");
            var len = ntc.eq(eq ).find('.regularmore>.lists>ul>a').length;
//            if(len >= 6){
//                $('.tip' ).text('上拉加载更多');
//                loadScroll(eq+1);
//            }else{
//                $('.tip' ).hide();
//                $(window ).off("scroll" );
//            }
        }
        if(eq == 1) {
            $(".triangle-up").css("left", "72vw");
            var len = ntc.eq(eq).find('.lists>ul>li').length;
//            if (len >= 5) {
//                $('.tip').text('上拉加载更多');
//                loadScroll(eq + 1);
//            } else {
//                $('.tip').hide();
//                $(window).off("scroll");
//            }
        }
    });

</script>
{/block}