{extend name="public/common"}

{block name="style"}
<title>我的社团</title>
<link rel="stylesheet" href="/home/css/club/index.css">
<link rel="stylesheet" href="/home/css/common/rem.css">
<link rel="stylesheet" href="/home/css/club/swiper.min.css">
<style>
    body {
        background: #fff;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color:#000;
        margin: 0;
        padding: 0;
    }

    .swiper-container {
        width: 100%;
        padding-top: 12vw;
        padding-bottom: 15vw;
    }
    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 70vw;
        height: 120vw;
        border-radius:3vw ;
        position: relative;
    }

</style>
{/block}
{block name="body"}
    <!--tab-->
<div class="tabs clear">
    <div class="tab"><span>社团活动</span></div>
    <div class="tab"><span>志愿服务</span></div>
    <span class="triangle-up"></span>
</div>
 <!--社团活动-->
<div class="notices ">
    <div class="mass">
       <a href="" class="list">
            <img src="/home/images/club/wdst.jpg" alt="">
            <div class="list_info">
                <div class="info_text">校友会联盟户外俱</div>
                <div class="time">建立时间: <span>2017-10-12</span><i></i> </div>
            </div>
        </a>
       <a href="" class="list">
            <img src="/home/images/club/wdst.jpg" alt="">
            <div class="list_info">
                <div class="info_text">校友会联盟户外俱</div>
                <div class="time">建立时间: <span>2017-10-12</span> </div>
            </div>
        </a>
        <a href="" class="list">
            <img src="/home/images/club/wdst.jpg" alt="">
            <div class="list_info">
                <div class="info_text">校友会联盟户外俱</div>
                <div class="time">建立时间: <span>2017-10-12</span> </div>
            </div>
        </a>
        <a href="" class="list">
            <img src="/home/images/club/wdst.jpg" alt="">
            <div class="list_info">
                <div class="info_text">校友会联盟户外俱</div>
                <div class="time">建立时间: <span>2017-10-12</span> </div>
            </div>
        </a>
        <a href="" class="list">
            <img src="/home/images/club/wdst.jpg" alt="">
            <div class="list_info">
                <div class="info_text">校友会联盟户外俱</div>
                <div class="time">建立时间: <span>2017-10-12</span> </div>
            </div>
        </a>
       <div class="tip"></div>
   </div>
</div>
<!--志愿服务-->
<div class="notices hidden">
    <!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image:url(/home/images/learn/banner.png)">
                  <div class="tm_info">
                      <i></i>
                      <div class="tm_name">创业导师团</div>
                      <div class="info">
                          选择了正确的团队，就是完成了80%的工作。”这是很多风险投家投资企业时的经验之谈
                          这是很多风险投家投资企业时的经验之谈
                          这是很多风险投家投资企业时的经验之谈
                      </div>
                      <a href="#">查看详情</a>
                  </div>



            </div>
            <div class="swiper-slide" style="background-image:url(/home/images/learn/banner.png)">
                <div class="tm_info">
                    <i></i>
                    <div class="tm_name">创业导师团</div>
                    <div class="info">
                        选择了正确的团队，就是完成了80%的工作。”这是很多风险投家投资企业时的经验之谈
                        这是很多风险投家投资企业时的经验之谈
                        这是很多风险投家投资企业时的经验之谈
                    </div>
                    <a href="#">查看详情</a>
                </div>



            </div>
            <div class="swiper-slide" style="background-image:url(/home/images/learn/banner.png)">
            <div class="tm_info">
                <i></i>
                <div class="tm_name">创业导师团</div>
                <div class="info">
                    选择了正确的团队，就是完成了80%的工作。”这是很多风险投家投资企业时的经验之谈
                    这是很多风险投家投资企业时的经验之谈
                    这是很多风险投家投资企业时的经验之谈
                </div>
                <a href="#">查看详情</a>
            </div>



        </div>
            <div class="swiper-slide" style="background-image:url(/home/images/learn/banner.png)">
                <div class="tm_info">
                    <i></i>
                    <div class="tm_name">创业导师团</div>
                    <div class="info">
                        选择了正确的团队，就是完成了80%的工作。”这是很多风险投家投资企业时的经验之谈
                        这是很多风险投家投资企业时的经验之谈
                        这是很多风险投家投资企业时的经验之谈
                    </div>
                    <a href="#">查看详情</a>
                </div>



            </div>
            <div class="swiper-slide" style="background-image:url(/home/images/learn/banner.png)">
                <div class="tm_info">
                    <i></i>
                    <div class="tm_name">创业导师团</div>
                    <div class="info">
                        选择了正确的团队，就是完成了80%的工作。”这是很多风险投家投资企业时的经验之谈
                        这是很多风险投家投资企业时的经验之谈
                        这是很多风险投家投资企业时的经验之谈
                    </div>
                    <a href="#">查看详情</a>
                </div>



            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>

</div>
{/block}

{block name="script"}
<script src="/home/js/swiper.min.js"></script>

<script>

</script>
<script>
    //初始化
    var ntc = $('.notices');
    //tab切换
    $('.tabs>.tab ').on('click',function() {
        var ntc = $('.notices');
        var eq = $(this).index();
        ntc.eq(eq).siblings('.notices').addClass('hidden');
        ntc.eq(eq).removeClass('hidden');
        if(eq == 0){
            $(".triangle-up").css("left","0.06vw");
//            var len = ntc.eq(eq ).find('.regularmore>.lists>ul>a').length;
//            if(len >= 6){
//                $('.tip' ).text('上拉加载更多');
//               loadScroll(eq+1);
//           }else{
//               $('.tip' ).hide();
//               $(window ).off("scroll" );
//           }
     }
        if(eq == 1) {
            $(".triangle-up").css("left", "50.06vw");
//            var len = ntc.eq(eq).find('.lists>ul>li').length;
//            if (len >= 5) {
//                $('.tip').text('上拉加载更多');
//                loadScroll(eq + 1);
//            } else {
//                $('.tip').hide();
//                $(window).off("scroll");
//            }
            //轮播
            var swiper = new Swiper('.swiper-container', {
                effect: 'coverflow',
                grabCursor: true,
                centeredSlides: true,
                slidesPerView: 'auto',
                coverflowEffect: {
                    rotate: 50,
                    stretch: 0,
                    depth: 100,
                    modifier: 1,
                    slideShadows : true,
                },
                pagination: {
                    el: '.swiper-pagination',
                },
            });
        }
    });

</script>
{/block}