{extend name="public/common"}

{block name="style"}
<title>我的社团</title>
<link rel="stylesheet" href="/home/css/club/index.css">
<link rel="stylesheet" href="/home/css/common/rem.css">
<link rel="stylesheet" href="/home/css/club/swiper.min.css">
<style>
    body {
        background: #fff;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color:#000;
        margin: 0;
        padding: 0;
    }

    .swiper-container {
        width: 100%;
        padding-top: 16vw;
        padding-bottom: 15vw;
    }
    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 72vw;
        height: 107vw;
        border-radius:3vw ;
        position: relative;
        opacity:10;
    }
    .banner{
        width: 100vw;
        height: 50vw;
    }
    .banner img{
        width: 100%;
        height: 100%;
    }
    .tabs .active {
        border-bottom: 1px solid orangered;
        color: orangered;
    }
    .swiper-pagination-bullet{
        background-color: #f1f1f1;!important;
    }
    .swiper-pagination-bullet{
        background-color: #999999; !important;
    }
    .hidden {display: none;}
    .swiper-container-3d .swiper-slide-shadow-left {background: transparent;}
    .swiper-container-3d .swiper-slide-shadow-right {background: transparent;}
</style>
{/block}
{block name="body"}
    <!--tab-->
<div class="tabs clear">
    <div class="tab" data-index="0" id="active"><span style="color:#ff7f24;">社团活动</span></div>
    <div class="tab" data-index="1"><span>志愿服务</span></div>
    <span class="triangle-up"></span>
</div>
 <!--社团活动-->
<div class="notices ">
    <div class="banner">
        <img src="/home/images/banner/banner5.png" alt="">
    </div>
    <div class="mass">
        {volist name="clublist" id="vo"}
        <a href="{:Url('club/detail?id='.$vo.id)}" class="list">
            <img src="{$vo.front_cover|get_cover='path'}" alt="">
            <div class="list_info">
                <div class="info_text">{$vo.title}</div>
                <div class="time"> <span>建立时间 : {$vo.set_date|time_format='Y-m-d'}</span><span class="fa"></span></div>
            </div>
        </a>
        {/volist}

       <div class="tip"></div>
   </div>
</div>
<!--志愿服务-->
<div class="notices hidden">
    <!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            {volist name="volunteerlist" id="vo"}
            <div class="swiper-slide" style="background-image:url({$vo.front_cover|get_cover='path'})">
                  <div class="tm_info">
                      <i></i>
                      <div class="tm_name">{$vo.title}</div>
                      <div class="info">
                          {$vo.content}
                      </div>
                      <a href="{:Url('club/volunteer?id='.$vo.id)}">查看详情</a>
                  </div>
            </div>
            {/volist}
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>

</div>
{/block}

{block name="script"}
<script src="/home/js/swiper.min.js"></script>
<script src="/home/js/reset.js"></script>

<script>
    var scrollNow = true;
    var club = localStorage.getItem('club');

    if(club ==0 ){
        $('.tabs>.tab ').eq(0).find('span').css('color','#ff7f24')
        $('.tabs>.tab ').eq(1).find('span').css('color','#999')
        $('.triangle-up').css('left','0.06vw');
        $('.notices').eq(club).siblings('.notices').addClass('hidden');
        $('.notices').eq(club).removeClass('hidden');
    }
    else if(club == 1) {
        $('.tabs>.tab ').eq(1).find('span').css('color','#ff7f24')
        $('.tabs>.tab ').eq(0).find('span').css('color','#999')
        $('.triangle-up').css('left','50.06vw');
        $('.notices').eq(club).siblings('.notices').addClass('hidden');
        $('.notices').eq(club).removeClass('hidden');
        var swiper = new Swiper('.swiper-container', {
            effect: 'coverflow',
            grabCursor: true,
            centeredSlides: true,
            slidesPerView: 'auto',
            coverflowEffect: {
                rotate: 50,
                stretch: 0,
                depth: 100,
                modifier: 1,
                slideShadows : true,
            },
            pagination: {
                el: '.swiper-pagination',
            },
        });
    }
    $(function(){
        c = getCookie("c")?getCookie("c"):0;
       /* $(".tabs .tab ").eq(index).*/
      // console.log(index)
        $(".triangle-up").eq(c).css("left","0.06vw");
    })
    //tab切换
    $('.tabs>.tab ').on('click',function() {
        var ntc = $('.notices');
        var eq = $(this).index();
//        $('.tabs>.tab ').find('span').css('color','#333')
        console.log(eq)
        localStorage.setItem('club',eq);
        c = this.getAttribute("data-index");
        ntc.eq(eq).siblings('.notices').addClass('hidden');
        ntc.eq(eq).removeClass('hidden');
      // console.log(eq);
        if(eq == 0){
            $('.tabs>.tab ').eq(0).find('span').css('color','#ff7f24')
            $('.tabs>.tab ').eq(1).find('span').css('color','#999')
            var _length = '';
            $('.notices').each(function(){
                if(!$(this).hasClass('hidden')){
                    _length = $(this).find('a').length;
                }
            });
            $(".triangle-up").css("left","0.06vw");
            var len = ntc.eq(eq ).find('.mass>.list').length;
//            console.log(len);
            if(len >= 10){
                $('.tip' ).text('上拉加载更多');
               loadScroll();
           }else{
               $('.tip' ).hide();
               $(window ).off("scroll" );
           }
     }
        if(eq == 1) {
            $('.tabs>.tab ').eq(1).find('span').css('color','#ff7f24')
            $('.tabs>.tab ').eq(0).find('span').css('color','#999')
            $(".triangle-up").css("left", "50.06vw");

            //轮播
            var swiper = new Swiper('.swiper-container', {
                effect: 'coverflow',
                grabCursor: true,
                centeredSlides: true,
                slidesPerView: 'auto',
                coverflowEffect: {
                    rotate: 50,
                    stretch: 0,
                    depth: 100,
                    modifier: 1,
                    slideShadows : true,
                },
                pagination: {
                    el: '.swiper-pagination',
                },
            });
        }
        setCookie("c",c);
    });
    function loadScroll(type){
        $(window ).off("scroll" ).on("scroll",function(){
            var ntc = $('.notices');
            var dh = $(document).height();
            var end = $(window).height() + $(window ).scrollTop();
            var len = ntc.eq(type-1).find('.notice:last .list').length;
            var tip = $(".tip");
            var loading = $('.loading');
            var url;
            if(type == 0){
                url = "{:Url('club/indexmore')}";
            }
            if(dh == end && scrollNow){
                scrollNow = false;//请求执行中
                $.ajax({
                    type:"post",
                    url: url,
                    data:{
                        length:len
                    },
                    beforeSend: function(XMLHttpRequest){
                        tip.hide();
                        loading.toggleClass('hidden');
                    },
                    success:function(data){
                        console.log(data);
                        loading.toggleClass('hidden');
                        tip.show();
                        if(data.code == 1){
                            console.log(data)
                            addCourse(data,type);
                            var dataLen =data.data.length;
                            if(data.data.length == 12){
                                tip.text('上拉加载更多');
                            }
                        }else{
                            tip.text('没有更多了');
                            $(window ).off("scroll");
                        }
                        scrollNow = true;//请求结束
                    }
                })
            }
        })
    }
    function addCourse(data,type){
        var html = '';
        var lists = data.data;
        var len = lists.length;
        for(var i = 0; i< len;i++) {
            var list = lists[i];
            if (type == 0) {
                html +=
            '<a href="/home/club/detail/'+list.id+'" class="list">' +
                    '<img src="'+list.front_cover+'" alt="">' +
                    '<div class="list_info">' +
                    '<div class="info_text">'+list.title+'</div>' +
                    '<div class="time"> <span>建立时间 :'+list.set_date+'</span><span class="fa"></span></div> ' +
                '</div> ' +
                '</a>';
            }
        }
        $(".regularmore .lists" ).append(html);
    }
</script>
{/block}