{extend name="public/common"}

{block name="style"}
<title>志愿服务</title>
<link rel="stylesheet" href="/home/css/club/volunteer.css">
{/block}
{block name="body"}
<div class="volunteer">
    <div class="volu_title">创业导师团简介</div>
    <div class="volu_img">
        <img src="" alt="加载中">
    </div>
    <div class="info_text"></div>
    <a href="#">联系方式:0571-86525625</a>
    <a href="#">报名方式:0571-62325523</a>
    <div class="">地址:余杭梦想小镇</div>
    <div class="note">
        <span class="read">165</span>
        <span class="isgood good" onclick="isGood(this,8,23)">1</span>
    </div>
</div>
{/block}


{block name="script"}
{/block}