{extend name="public/common"}

{block name="style"}
<title>我的社团</title>
<link rel="stylesheet" href="/home/css/club/volunteer.css">
<link rel="stylesheet" href="/home/css/common/rem.css">
{/block}
{block name="body"}
<div class="banner">
    <img src="/home/images/club/banner.png" alt="banner" class="banner-img">
</div>

<div class="detail_info">
    <div class="activityTitle">校园会联盟户外俱乐部</div>
    <div class="info">海外网11月23日电 因地震推迟一周的韩国高考今天(23日)举行,就在考生们认真答题时,不久前曾发生5.4级强震的浦项市再次遭到余震“袭击”。由于这次地震级别较低(1.7级),未造成伤亡,考试照常进行。当天,该市某考场内还出现惊魂一幕:灯光突然灭了又亮。有关部门表示,推测是线路故障引起,并不严重。</div>
    <div class="contact_info">
        <a class="contact">联系方式 : 0571-2564225 <i></i></a>
        <a class="reg">报名方式 : 0571-2286868 <i></i></a>
        <div class="site">详细地址 : 余杭梦想小镇888号</div>
    </div>
    <div class="clud_activity">
        <div class="title">
            <span>社团活动</span><span>更多</span>
        </div>
        <div class="mass">
            {volist name="clublist" id="vo"}
            <a href="/home/club/volunteer.html" class="list">
                <img src="{$vo.front_cover|get_cover='path'}" alt="">
                <div class="list_info">
                    <div class="info_text">{$vo.title}</div>
                    <div class="time"> <span>建立时间 : {$vo.set_date|time_format='Y-m-d'}</span><span class="fa"></span></div>
                </div>
            </a>

            <a href="" class="list">
                <img src="{$vo.front_cover|get_cover='path'}" alt="">
                <div class="info_text">{$vo.title}</div>
                <div class="time">建立时间: <span>{$vo.set_date|time_format='Y-m-d'}</span><i></i> </div>
            </a>
        </div>
    </div>
</div>

{/block}
{block name="script"}
{/block}