{extend name="base/common"}

{block name="style"}
<link href="/admin/css/plugins/iCheck/custom.css" rel="stylesheet">
<!-- Sweet Alert -->
<link href="/admin/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
<!-- Ladda style -->
<link href="/admin/css/plugins/ladda/ladda-themeless.min.css" rel="stylesheet">
{/block}

{block name="page-header"}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>通讯录</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Wechat</a>
            </li>
            <li class="active">
                <strong>Department</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
{/block}

{block name="main"}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>部门列表</h5>
                    <div class="ibox-tools">
                        <div class="ladda-button ladda-button-user btn btn-sm btn-primary" >
                            <input type="file" name="excel" id="excel" style="width:100%;height:100%;position: absolute; opacity: 0"/>
                            Excel导入
                        </div>
                        <a data-toggle="modal" class="btn btn-sm btn-primary" href="/admin/wechat/add_department">添加</a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th><input class="i-checks check-all" type="checkbox"></th>
                                <th>ID</th>
                                <td>名称</td>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {volist name="list" id="vo"}
                            <tr>
                                <td><input type="checkbox" class="i-checks ids" name="input[]"></td>
                                <td>{$vo.id}</td>
                                <td>{$vo.name}</td>
                                <td>
                                    <a href="{:Url('Wechat/add_department?id='.$vo.id)}">修改</a>
                                    <a href="{:Url('Wechat/del_department?id='.$vo.id) }"  class="confirm ajax-del">删除</a>
                                </td>
                            </tr>
                            {/volist}
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="11">
                                    <div class="page">{$_page}</div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script src="/admin/js/plugins/iCheck/icheck.min.js"></script>
<script src="/admin/js/plugins/sweetalert/sweetalert.min.js"></script>
<script src="/admin/js/plugins/ladda/spin.min.js"></script>
<script src="/admin/js/plugins/ladda/ladda.min.js"></script>
<script src="/admin/js/plugins/ladda/ladda.jquery.min.js"></script>
<script>
    $(function(){
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green'
        });
        $(".check-all").on("ifChanged",function(){
            $("tbody").find(".ids").iCheck("toggle");
        });
    });

    $('#excel').change(function(){
        var l = $( '.ladda-button-user' ).ladda();
        l.ladda( 'start' );
        var formData = new FormData();
        formData.append('excel', $(this)[0].files[0]);
        $.ajax({
            type: "post",
            url: "{:Url('Wechat/departmentExcel')}",
            data:formData,
            processData : false,
            contentType : false,
            success: function (data) {
                if(data.code == 1){
                    updateAlert(data.msg, 'success');
                }else{
                    updateAlert(data.msg, 'error');
                }
                setTimeout(function(){
                    location.reload();
                },2000);
            }
        });
    });
</script>
{/block}