@charset "utf-8";
/*------------------------------------------------------------------------------
// created: 2016/9/10
// copyright © 2016 rawraw
//------------------------------------------------------------------------------*/
/*reset*/
body, div, hr, ul, ol, form, input, textarea, button, select, p { margin: 0; padding: 0; }
body { font-size: 63%; font-family: "Microsoft YaHei", sans-serif; }
a, a:active, a:hover { text-decoration: none; }
li { list-style: none; }
img { border: none; vertical-align: top; }
input, textarea, select { outline: none; border: none; -webkit-appearance:none;}
textarea { resize: none; }
table { border-collapse: collapse; background-color: #ffffff; }
p { text-indent: 32px }
body{
	-webkit-user-select:none;
	user-select:none;
}
/*public*/
.hidden {
	display: none;
}
.clear {
	zoom: 1;
}
.clear:after {
	content: '';
	display: block;
	clear: both;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.limit {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
/*layout*/
body{
	background: #fde8d7;
}
.single input{
	-webkit-appearance:radio;
}
.muti input{
	-webkit-appearance:checkbox;
}
.list{
	width: 100%;
	border-bottom: 1px solid #d10000;
	font-size: 1.4rem;
	padding-top: 20px;
}
.list:last-child{
	margin-bottom: 80px;
	border-bottom: none;
}
.list .question{
	width: calc(100% - 26px);
	padding-bottom: 20px;
	margin: 0 auto;
}
.list .type{
	width: 40px;
	height: 18px;
	background:#d10000 ;
	display: inline-block;
	color:#ffffff;
	line-height: 18px;
	text-align: center;
	font-size: 1.2rem;
}
.list .option_{
	display: block;
	position: relative;
	width: calc(100% - 30px);
	margin: 0 auto 0 15px;
	padding-bottom: 10px;
}
.list input{
	opacity: 0;
}
.list .option{
	width: 20px;
	height: 20px;
	background:#ffffff ;
	border:1px solid #d10000;
	-webkit-border-radius:50%;
	border-radius:50%;
	color:#d10000;
	line-height: 20px;
	text-align: center;
	font-weight: 400;
	position: absolute;
	top:0;
	left: 0;
	/*opacity: 0;*/
}
.list .opt{
	width: calc(100% - 70px);
	margin-left: 20px;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.list .active{
	background:#d10000 ;
	color:#ffffff;
}
.list .sum{
	width: 100%;
	text-align: right;
	padding-right: 10px;
	color:#999999;
}
.sum .num{
	color:#d10000;
	font-size: 1.8rem;
}
.foot{
	width: 100%;
	position: fixed;
	bottom: 0;
}
.foot .save,.submit{
	width: 50%;
	height: 45px;
	line-height: 45px;
	text-align: center;
	font-size: 1.8rem;
	border: none;
	color: #ffffff;
	display: inline-block;
}
.foot .save{
	background: #e4672d;
}
.foot .submit{
	background: #e9ad2c;
}
/*保存提示框*/
.suc{
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.30);
	position: fixed;
	z-index: 19;
	top:0;
	display: none;
}
.timer{
	width: 30px;
	height: 30px;
	background-color: transparent;
	box-shadow: inset 0 0 0 2px #fff;
	border-radius: 50%;
	position: relative;
	margin: 50% auto;
}
.timer:after, .timer:before{
	position: absolute;
	content:"";
	background-color: #fff;
}
.timer:after{
	width: 12px;
	height: 2px;
	top: 14px;
	left: 14px;
	-webkit-transform-origin: 1px 1px;
	-moz-transform-origin: 1px 1px;
	transform-origin: 1px 1px;
	-webkit-animation: minhand 2s linear infinite;
	-moz-animation: minhand 2s linear infinite;
	animation: minhand 2s linear infinite;
}

.timer:before{
	width: 10px;
	height: 2px;
	top: 14px;
	left: 14px;
	-webkit-transform-origin: 1px 1px;
	-moz-transform-origin: 1px 1px;
	transform-origin: 1px 1px;
	-webkit-animation: hrhand 8s linear infinite;
	-moz-animation: hrhand 8s linear infinite;
	animation: hrhand 8s linear infinite;
}

@-webkit-keyframes minhand{
	0%{-webkit-transform:rotate(0deg)}
	100%{-webkit-transform:rotate(360deg)}
}
@keyframes minhand{
	0%{transform:rotate(0deg)}
	100%{transform:rotate(360deg)}
}

@-webkit-keyframes hrhand{
	0%{-webkit-transform:rotate(0deg)}
	100%{-webkit-transform:rotate(360deg)}
}
@keyframes hrhand{
	0%{transform:rotate(0deg)}
	100%{transform:rotate(360deg)}
}
.up{
	width: 100vw;
	position: fixed;
	top:43%;
	color:#ffffff;
	font-size: 2.0rem;
	text-align: center;
	margin-top: 20px;
}

.answer{
	padding-left: 25px;
	font-size: 16px;
}
.answer span{
	color:#d10000;
}
