@charset "utf-8";
.t_b {
  font-size: 1.8rem;
  font-weight: 600;
}
.shadow {
  box-shadow: 1px 3px 8px rgba(102, 102, 102, 0.2);
}
a:active {
  background-color: #ebebeb;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #d9d9d9;
}
