body{
	background: #f0f0f2;
}
.banner{
	width: 100vw;
	height: 50vw;
}
.banner-img{
	width: 100%;
	height: 100%;
}
.title{
	text-align: center;
	font-size: 1.6rem;
	font-weight: 700;
	color:#333333;
	line-height: 50px;
}
.block{
	position: relative;
	top:40px;
	padding: 0 4vw;
	background: #ffffff;
	margin-bottom: 40px;
}
.tag{
	position: absolute;
	top:-22px;
	width: 56px;
	height: 22px;
	background: #e84f41;
	color:#ffffff;
	font-size: 12px;
	text-align: center;
	line-height: 22px;
	-webkit-border-radius:4px;
	border-radius:4px;
}
.list_{
	font-size: 14px;
	color: #666666;
	line-height: 30px;
}
.review{
	padding: 5vw 4vw;
}
.review .tag{
	background: #ff7144;
}
.list{
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid #f1f1f1;
}
.list .title{
	font-size: 14px;
	line-height: 40px;
	font-weight: normal;
	text-align: left;
}
.list .note span{
	display: inline-block;
	width: 49%;
	color:#999999;
	font-size: 12px;
	line-height: 26px;
}
.comment{
	text-align: right;
}
.comment i{
	background: url("/home/images/notice/comment-border.png") 0 0 no-repeat;
	background-size: 14px 12px;
	padding-left: 18px;
}
