@charset "utf-8";
/*layout*/
 /*banner*/
.banner{
	position: relative;
	width: 100%;
	height: 50vw;
}
.banner img{
	width: 100%;
	height: 100%;
}
.banner .title_{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px;
	padding-left: 13px;
	padding-right: 13px;
	background-color: rgba(0, 0, 0, 0.6);
	line-height: 40px;
	font-size: 1.6rem;
	color: #ffffff;
}
 /*新闻列表*/
.list{
	display: block;
	width: 100%;
	height: 90px;
	padding-left: 13px;
	padding-right: 13px;
	border-bottom: 1px solid #dddddd;
}
.list img{
	width: 100px;
	height: 55px;
	margin-top: 20px;
}
.list .lr{
	width: calc(100% - 112px);
}
.list .lr .title{
	width: 100%;
	height:38px;
	font-size: 1.4rem;
	margin-top: 15px;
	margin-bottom: 8px;
	color:#333333;
}
.list .lr .clear{
	font-size: 1.2rem;
	color:#999999;
}
.tip{
	height: 40px;
	text-align: center;
	line-height: 40px;
	color:#c1c1c1;
}
/*加载动画*/
.loading{
	width: 100%;
	height: 40px;
}
.typing_loader{
	width: 6px;
	height: 6px;
	border-radius: 50%;
	-webkit-animation: typing 1s linear infinite alternate;
	-moz-animation: Typing 1s linear infinite alternate;
	animation: typing 1s linear infinite alternate;
	position: relative;
	top: 17px;
	left: calc( 50vw - 20px );
}
@-webkit-keyframes typing{
	0%{
		background-color: rgba(0,0,0, 0.8);
		box-shadow: 12px 0 0 0 rgba(0,0,0,0.2),
		24px 0 0 0 rgba(0,0,0,0.2);
	}
	25%{
		background-color: rgba(0,0,0, 0.4);
		box-shadow: 12px 0 0 0 rgba(0,0,0,0.8),
		24px 0 0 0 rgba(0,0,0,0.2);
	}
	75%{ background-color: rgba(0,0,0, 0.4);
		box-shadow: 12px 0 0 0 rgba(0,0,0,0.2),
		24px 0 0 0 rgba(0,0,0,0.8);
	}
}

@-moz-keyframes typing{
	0%{
		background-color: rgba(0,0,0, 0.8);
		box-shadow: 12px 0 0 0 rgba(0,0,0,0.2),
		24px 0 0 0 rgba(0,0,0,0.2);
	}
	25%{
		background-color: rgba(0,0,0, 0.4);
		box-shadow: 12px 0 0 0 rgba(0,0,0,0.8),
		24px 0 0 0 rgba(0,0,0,0.2);
	}
	75%{ background-color: rgba(0,0,0, 0.4);
		box-shadow: 12px 0 0 0 rgba(0,0,0,0.2),
		24px 0 0 0 rgba(0,0,0,0.8);
	}
}

@keyframes typing{
	0%{
		background-color: rgba(0,0,0, 0.8);
		box-shadow: 12px 0 0 0 rgba(0,0,0,0.2),
		24px 0 0 0 rgba(0,0,0,0.2);
	}
	25%{
		background-color: rgba(0,0,0, 0.4);
		box-shadow: 12px 0 0 0 rgba(0,0,0,0.8),
		24px 0 0 0 rgba(0,0,0,0.2);
	}
	75%{ background-color: rgba(0,0,0, 0.4);
		box-shadow: 12px 0 0 0 rgba(0,0,0,0.2),
		24px 0 0 0 rgba(0,0,0,0.8);
	}
}