@-webkit-keyframes typing {
  0% {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 12px 0 0 0 rgba(0, 0, 0, 0.2), 24px 0 0 0 rgba(0, 0, 0, 0.2);
  }
  25% {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 12px 0 0 0 rgba(0, 0, 0, 0.8), 24px 0 0 0 rgba(0, 0, 0, 0.2);
  }
  75% {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 12px 0 0 0 rgba(0, 0, 0, 0.2), 24px 0 0 0 rgba(0, 0, 0, 0.8);
  }
}
@keyframes typing {
  0% {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 12px 0 0 0 rgba(0, 0, 0, 0.2), 24px 0 0 0 rgba(0, 0, 0, 0.2);
  }
  25% {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 12px 0 0 0 rgba(0, 0, 0, 0.8), 24px 0 0 0 rgba(0, 0, 0, 0.2);
  }
  75% {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 12px 0 0 0 rgba(0, 0, 0, 0.2), 24px 0 0 0 rgba(0, 0, 0, 0.8);
  }
}
@-webkit-keyframes cir {
  0% {
    top: 10px;
    left: 10px;
    opacity: 0;
  }
  100% {
    top: 5px;
    left: -50px;
    opacity: 1;
  }
}
@keyframes cir {
  0% {
    top: 10px;
    left: 10px;
    opacity: 0;
  }
  100% {
    top: 5px;
    left: -50px;
    opacity: 1;
  }
}
@-webkit-keyframes cir2 {
  0% {
    top: 10px;
    left: 10px;
    opacity: 0;
  }
  100% {
    top: -49px;
    left: -6px;
    opacity: 1;
  }
}
@keyframes cir2 {
  0% {
    top: 10px;
    left: 10px;
    opacity: 0;
  }
  100% {
    top: -49px;
    left: -6px;
    opacity: 1;
  }
}
/*public*/
/*banner*/
.banner {
  position: relative;
  width: 100vw;
  height: 50vw;
}
.banner img {
  width: 100%;
  height: 100%;
}
/*tab切换*/
.tabs {
  width: 100%;
  margin-top: 2.7vw;
  margin-bottom: 2.7vw;
  background: #fbfbfb;
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
}
.tabs .tab {
  display: inline-block;
  width: 32.4vw;
  height: 7.5vw;
  text-align: center;
}
.tabs .tab span {
  display: inline-block;
  line-height: 7.5vw;
}
.tabs .tab .active {
  border-bottom: 2px solid indianred;
}
@media screen and (max-width: 318px) {
  .tabs .tab {
    width: 30vw;
  }
}
@media screen and (min-width: 1000px) {
  .tabs .tab {
    float: left;
  }
}
/*列表*/
.content .notices .notice .tab {
  display: block;
  width: 100%;
  padding-left: 13px;
  padding-right: 13px;
  height: 32px;
  line-height: 32px;
  font-size: 1.2rem;
}
.content .notices .notice .list {
  display: block;
  width: 100%;
  padding-left: 13px;
  padding-right: 13px;
  border-bottom: 1px solid #f1f1f1;
  color: #666666;
}
.content .notices .notice .list .title {
  color: #333333;
  font-size: 1.4rem;
}
.content .notices .notice .list .content {
  font-size: 1.3rem;
  height: 34px;
}
.content .notices .notice .list .time {
  margin-top: 5px;
  font-size: 1.2rem;
}
.content .notices .notice:nth-child(1) .tab {
  color: #e82a2a;
}
.content .notices .notice:nth-child(1) .list {
  height: 90px;
}
.content .notices .notice:nth-child(1) .list .title {
  line-height: 30px;
}
.content .notices .notice:nth-child(2) .tab {
  color: #259b24;
}
.content .notices .notice:nth-child(3) .tab {
  color: #f98800;
}
.content .notices .notice:nth-child(2) .list,
.content .notices .notice:nth-child(3) .list {
  height: 80px;
}
.content .notices .notice:nth-child(2) .list .fl img,
.content .notices .notice:nth-child(3) .list .fl img {
  width: 80px;
  height: 60px;
  margin-top: 10px;
}
.content .notices .notice:nth-child(2) .list .right,
.content .notices .notice:nth-child(3) .list .right {
  width: calc(100% - 90px);
  height: 60px;
  margin-top: 10px;
  margin-left: 10px;
}
.content .notices .notice:nth-child(2) .list .right .title,
.content .notices .notice:nth-child(3) .list .right .title {
  margin-bottom: 5px;
  height: 38px;
}
/*加载动画*/
.tip {
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #c1c1c1;
}
.loading {
  width: 100%;
  height: 40px;
}
.typing_loader {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  -webkit-animation: typing 1s linear infinite alternate;
  -moz-animation: Typing 1s linear infinite alternate;
  animation: typing 1s linear infinite alternate;
  position: relative;
  top: 17px;
  left: calc( 50vw - 20px );
}
/*悬浮按钮*/
.new {
  position: fixed;
  right: 20px;
  bottom: 40px;
  width: 60px;
  height: 60px;
}
.general {
  background: url("/home/images/notice/note.png") no-repeat;
  background-size: 100% 100%;
}
.manager {
  background: url("/home/images/notice/index.png") no-repeat;
  background-size: 100% 100%;
}
.manager_ {
  right: 25px;
  bottom: 45px;
  width: 50px;
  height: 50px;
  background: url("/home/images/notice/index_.png") no-repeat;
  background-size: 100% 100%;
}
.manager_ .before {
  position: absolute;
  top: 5px;
  left: -50px;
  content: '';
  width: 40px;
  height: 40px;
  background: url("/home/images/notice/up_.png") no-repeat;
  background-size: 100% 100%;
  opacity: 1;
  -webkit-animation: cir 0.5s ease-in;
  animation: cir 0.5s ease-in;
}
.manager_ .after {
  position: absolute;
  top: -49px;
  left: -6px;
  content: '';
  width: 40px;
  height: 40px;
  background: url("/home/images/notice/note_.png") no-repeat;
  background-size: 100% 100%;
  opacity: 1;
  -webkit-animation: cir2 0.5s ease-in;
  animation: cir2 0.5s ease-in;
}
