.content {
  width: 100vw;
  padding: 4vw;
}
.content .title {
  width: 100%;
  text-align: center;
  font-weight: 600;
  color: #333333;
  font-size: 1.6rem;
  line-height: 26px;
}
.content .time {
  width: 100%;
  text-align: right;
  color: #999999;
  font-size: 1.2rem;
  line-height: 16px;
}
.content img {
  max-width: 100%;
  margin: 4vw auto;
}
.content .summary {
  color: #666666;
  font-size: 1.3rem;
  line-height: 20px;
}
.content .lists .list span {
  display: inline-block;
}
.content .lists .list span:nth-child(2) {
  width: 72%;
  color: #666666;
  font-size: 1.3rem;
  line-height: 40px;
}
.content .lists .list .tag {
  width: 26%;
  color: #333333;
  font-size: 1.4rem;
  line-height: 40px;
}
.content .get {
  width: 70vw;
  height: 8vw;
  margin: 2vw auto;
  text-align: center;
  color: #ffffff;
  font-size: 1.3rem;
  line-height: 8vw;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.content .get.yes {
  background: #e84f41;
}
.content .get.no {
  background: #9a9a9a;
}
.content .gettext {
  width: 100%;
  text-align: center;
  font-size: 12px;
}
.enroll .title {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 40px;
  padding-left: 48px;
  background: #f0f0f2;
  color: #333333;
  font-size: 1.4rem;
  line-height: 40px;
}
.enroll .title:before {
  position: absolute;
  left: 4vw;
  top: 10px;
  content: '';
  width: 20px;
  height: 20px;
  background: url('/home/images/detail/love.png') 0 0 no-repeat;
  background-size: contain;
}
.enroll .lists .list {
  padding: 2vw 4vw;
}
.enroll .lists .list > * {
  display: inline-block;
  color: #666666;
  font-size: 1.3rem;
  line-height: 10vw;
}
.enroll .lists .list img {
  width: 10vw;
  height: 10vw;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.enroll .lists .list .name {
  width: 18vw;
  padding-left: 5px;
}
.enroll .lists .list .publish {
  width: 38vw;
}
.enroll .lists .list .time {
  width: 22vw;
  text-align: right;
}
