.t_b {
  font-size: 1.8rem;
  font-weight: 600;
}
.limit_ {
  max-height: 32px;
}
.limit_ p {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
}
@-webkit-keyframes typing {
  0% {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 12px 0 0 0 rgba(0, 0, 0, 0.2), 24px 0 0 0 rgba(0, 0, 0, 0.2);
  }
  25% {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 12px 0 0 0 rgba(0, 0, 0, 0.8), 24px 0 0 0 rgba(0, 0, 0, 0.2);
  }
  75% {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 12px 0 0 0 rgba(0, 0, 0, 0.2), 24px 0 0 0 rgba(0, 0, 0, 0.8);
  }
}
@keyframes typing {
  0% {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 12px 0 0 0 rgba(0, 0, 0, 0.2), 24px 0 0 0 rgba(0, 0, 0, 0.2);
  }
  25% {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 12px 0 0 0 rgba(0, 0, 0, 0.8), 24px 0 0 0 rgba(0, 0, 0, 0.2);
  }
  75% {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 12px 0 0 0 rgba(0, 0, 0, 0.2), 24px 0 0 0 rgba(0, 0, 0, 0.8);
  }
}
/*layout*/
.list {
  display: block;
  width: 100%;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 5px;
  height: 100px;
  border-bottom: 1px solid #f1f1f1;
}
.list .title {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 30px;
  color: #333333;
}
.list .content {
  font-size: 1.3rem;
  color: #666666;
  min-height: 35px;
}
.list .note {
  margin-top: 6px;
  font-size: 1.2rem;
}
.list .note .ing {
  color: #259b24;
}
.list .note .over {
  color: #e82a2a;
}
.list .note .time {
  color: #999999;
}
.tip {
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #c1c1c1;
}
/*加载动画*/
.loading {
  width: 100%;
  height: 40px;
}
.typing_loader {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  -webkit-animation: typing 1s linear infinite alternate;
  -moz-animation: Typing 1s linear infinite alternate;
  animation: typing 1s linear infinite alternate;
  position: relative;
  top: 17px;
  left: calc( 50vw - 20px );
}
