{extend name="public/pure"}
{block name="style"}
<title>之图红盟</title>
<link rel="stylesheet" href="/home/css/verify/login.css">
<link rel="stylesheet" href="/home/css/common/rem.css">
<link rel="stylesheet" href="/admin/css/plugins/sweetalert/sweetalert.css">
{/block}
{block name="body"}
<div class="outbox">
    <div class="inbox">
        <div class="login-box">
            <h1>梦想小镇党群驿站登陆页</h1>
            <div class="form">
                <div class="uid">
                    <span></span><input type="text" maxlength="11" placeholder="请输入您的手机号码">
                </div>
                <div class="upwd">
                    <span></span><input type="password" maxlength="10" placeholder="请输入密码" class="">
                </div>
            </div>
            <div class="btn">立即登陆</div>
        </div>
        <div class="footer">
            <span class="line fl"></span>
            <span>首次登陆需要验证党员身份</span>
            <span class="line fr"></span>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script src="/admin/js/plugins/sweetalert/sweetalert.min.js"></script>
<script>
    $(function(){
        $('.btn').on("click",function(){
            login()
        })
    });
    /**登陆**/
    function login(){
        var re=reg();
        var uid=$('.uid>input').val();
        var pwd=$('.upwd>input').val();
        if(re==true){
            $.ajax({
                url: "{:Url('Verify/login')}",
                type: 'post',
                data: {
                    user: uid,
                    password: pwd
                },
                success:function(data){
                    //data.code  1为成功 0为失败
                    if(data.code == 1){
                        swal({
                            title: ' ',
                            text: data.msg,
                            type: 'success',
                            confirmButtonText:'确定'
                        });
                        var url = data.url;
                        //如果没有session的Url就默认跳首页
                        if(!url) {
                            url = '/home/index/index';
                        }
                        setTimeout(function(){
                            window.location.replace(url);
                        },1000);
                    }else{
                        swal({
                            title: ' ',
                            text: data.msg,
                            type: 'error',
                            confirmButtonText:'确定'
                        });
                    }
                }
            })
        }else{
            swal({
                title: ' ',
                text: re,
                type: 'error',
                confirmButtonText:'确定'
            });
        }
    }
    /**表单验证**/
    function reg(){
        var uid=$('.uid>input').val();
        var pwd=$('.upwd>input').val();
        if(uid==''||uid==null){
           return "请输入您的手机号码";
        }else{
            var myreg = /^(((13[0-9]{1})|(15[0-9]{1})|(17[0-9]{1})|(18[0-9]{1}))+\d{8})$/;
            if(!myreg.test(uid)||uid.length<11)
            {
                return '请输入有效的手机号码！';
            }else if(pwd==''||pwd==null){
                return '请输入密码';
            }else{
                return true
            }
        }
    }

</script>
{/block}