{extend name="public/pure"}
{block name="style"}
<title>游客暂无权限</title>
<style>
    img{
        width: 85%;
        position: absolute;
        top: 50%;
        transform: translate(0,-50%);
        -webkit-transform: translate(0,-50%);
        -moz-transform: translate(0,-50%);
        -ms-transform: translate(0,-50%);
        -o-transform: translate(0,-50%);
        margin-left: 7.5%;
    }
</style>
{/block}
{block name="body"}
<img src="/home/images/common/404.png" alt="">
{/block}
{block name="script"}

{/block}