body{
    position: relative;
    min-height: 100vh;
}
.banner{
    width:100vw;
    height:50vw;
}
.banner img{
    width: 100%;
}
.banner p{
    font-size:2.3rem;
    color: #f2531f;
    text-align: center;
    margin-top: -36%;
}
.login-box{
    width:80vw;
    z-index:999;
    margin: 0 auto;
    height: 50vw;
    padding-top: 35vw;
}
/*.login-box>.form{*/
/*padding:0 8vw;*/
/*}*/
.login-box>.form input{
    border:none;
    border-bottom:1px solid #f1f1f1;
    height:8vw;
    width:61.6vw;
    outline: none;
    padding:0;
    line-height: 8vw;
    border-radius: 0;
    font-size: 1.5rem;
    padding-left: 5.66vw;
}
.login-box>.form input::-webkit-input-placeholder{
    color: #ccc;
    font-size: 1.5rem;
}
.login-box>.form input:-moz-placeholder{
    color: #ccc;
    font-size: 1.5rem;
}
.login-box>.form input:-ms-input-placeholder{
    color: #ccc;
    font-size: 1.5rem;
}
.login-box>.form>.uid>span{
    float: left;
    background:url('/home/images/verify/user.png') no-repeat;
    background-size: 3.46vw 4vw;
    position: relative;
    top: 1.5vw;
    left:10vw;
}
.login-box>.form>div>span{
    display: inline-block;
    width:7.1vw;
    height:8vw;
    margin-right: 2.85vw;
}
.btn{
    width:61.6vw;
    height:10.67vw;
    background: url("/home/images/verify/loginbtn.png") no-repeat;
    background-size: 100% 100%;
    margin:0 auto;
    text-align: center;
    line-height: 10.67vw;
    font-size: 2rem;
    text-align: center;
    color: #ffffff;

}
.login{
    /*display: block;*/
    text-align: center;
    font-size: 1.4rem;
    color: #ccc;
    margin: 0 6vw;
    margin-top: 4vw;
}
.links {text-align: center;margin-top: 4vw;}
.login img{
    height: 3.3vw;
    margin-left: 2.66vw;
    vertical-align: middle;
    position: relative;
    top:-0.5vw;
}
footer{
    width:100%;
    height:26.5vw;
    position: absolute;
    bottom: 0;
    overflow-y: hidden;
    max-height: 120px;
}
footer img{
    width:100%;
    height:100%;
}




/*2017.11.22 Tony 新增注册页面*/
.register {position: relative;margin: auto;width:100%;}
.register .rAccount {position: relative;margin:20% auto 0;}
.register .rAccount  input {position: relative;margin: auto;width:53.33vw;border: 1px solid #f1f1f1;color: #999;height:8vw;line-height: 8vw;outline: none;font-size: 1.2rem;}
.register .verification {position: relative;margin:5.33vw auto 0;text-align: center;}
.register .verification input {height:8vw;line-height: 8vw;outline: none;font-size: 1.2rem;}
.register #yan {position: relative;margin: auto;width:53.33vw;color: #999;height:8vw;line-height: 8vw;outline: none;font-size: 1.2rem;}
.register .btns {position: relative;margin:16.47vw auto 0;width:62.33vw;height:11vw;line-height: 11vw;border-radius: 20px;background: #e51c23;text-align: center;color: #fff;font-size: 1.6rem;}
.footer {width:100%;height:26.5vw;position: fixed;bottom:0;left:0;max-height: 120px;}
.footer img {width:100%;height:100%;}
.rAccount {text-align: center;}
.rAccount span ,.rAccount input {display: inline-block;vertical-align: middle;}
.rAccount span {
    position: relative;
    background: url(/home/images/verify/phone.png) no-repeat;
    background-size: 7.1vw 8vw;
    width: 7.1vw;
    height: 8vw;
    margin-right: 4vw;
}
#account {border-top:transparent;border-left:transparent;border-right:transparent;border-bottom:2px solid #eee;font-size: 1.4rem;}
#yan {border-top:transparent;border-left:transparent;border-right:transparent;border-bottom:2px solid #eee;font-size: 1.4rem;}
.verification span {
    position: relative;
    background: url('/home/images/verify/password.png') no-repeat;
    background-size: 7.1vw 8vw;
    width: 7.1vw;
    height: 8vw;
    margin-right: 4vw;
}
.verification span ,.verification input {display: inline-block;vertical-align: middle;}

.register #verify_code {
    position: absolute;
    top:-4px;
    right:18vw;
    width: 20vw;
    background: #eee;
    outline: none;
    border: transparent;
    border-radius: 4px;
    color: #999;
}









