{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/common/rem.css">
<style>
    /*reset*/
    .page{
        background:#fff;
    }
    .content-block,.list-block,.list-block .item-inner,.list-block .item-content{
        padding:0;margin:0;
    }

    .navbar{
        height:36px;min-height:36px;border:none;background:#f9f9f9;
    }
    .navbar:after{
        height:0;
    }
    .button{
        height:36px;line-height:36px;border:none;color:#999;font-size:16px;
    }
    .buttons-row .button:first-child,.buttons-row .button:last-child{
        border-radius:0; border-left-width:0;
    }


    .list-block ul:before,.list-block ul:after{
        height:0;
    }
    /*main*/
    .banner img{
        width:100%;
    }



    .tongzhi img{
        width:30px;position:absolute;right:12px;top:0;margin-top:5px;
    }
    .tongzhi>span>span{
        color:#df4934;
    }
    .content-block ul{
        margin:0 12px;border-radius: 3px;height:215px;background:#fff;box-shadow: 0px 0px 6px 1px rgba(196,196,196, .3);position:relative;
    }

    .left_{
        height:91px;
        position: absolute;
        top: 17px;
        left:16%;
        width: 27px;
        z-index: 10;
    }
    .right_{
        height:91px;
        position: absolute;
        top: 17px;
        width: 27px;

        z-index: 10;
        left:70%;
    }


    /*tab3*/
    #tab3 ul{
        margin-bottom:5.33vw;
    }
    #tab3 ul li .list_img{
        height: 8vw;
    }

    #tab3 ul li>div{
        height:22.67vw;width:100%;display: block;position:relative;border-bottom:1px solid #f1f1f1;
    }
    #tab3 ul li>div>img.fl{
        width:16vw;height:16vw;border-radius: 3px;margin-left:2.93vw;margin-top:3.2vw;
    }
    #tab3 ul li>a>div.limit_{
        width:100%;font-size:1.4rem;height:14.67vw;padding-left:2.93vw;padding-top:2.67vw;line-height: 2rem;
    }
    .tab_main{
        height:8vw;line-height:8vw;width:53.33vw;margin:0 auto;text-align: center;background:#f9f9f9;border-radius: 3px;margin-bottom:0.8vw;
    }
    .btn1{
        width:25.6vw;text-align: center;display: inline-block;;border-radius: 3px;color:#999;font-size:1.5rem;
    }
    .tab_active{
        background:#DF4934;color:#fff
    }

    #tab3 #tab_main1>li>a>span.isEnd{
        margin-left:3.2vw;font-size:1.2rem;color:#e4393a;
    }
    #tab3 #tab_main1>li>a>span.time{
        margin-right:3.2vw;font-size:1.2rem;color:#999;
    }
    a{
        display: inline-block;
        color:#666666;
    }

    /*加载动画*/
    .tip {
        height: 10.67vw;
        text-align: center;
        line-height: 10.67vw;
        color: #c1c1c1;
    }
    .loading {
        width: 100%;
        height: 10.67vw;
    }
    .typing_loader {
        width: 1.6vw;
        height: 1.6vw;
        border-radius: 50%;
        -webkit-animation: typing 1s linear infinite alternate;
        -moz-animation: Typing 1s linear infinite alternate;
        animation: typing 1s linear infinite alternate;
        position: relative;
        top: 4.53vw;
        left: 44.667vw;
    }
    .fa.fa-angle-right{
        float: right;
        line-height: 2rem;
        margin-right:3.2vw;
        font-size: 1.4rem;
    }

</style>
{/block}

{block name="body"}


<div class="page">
    <!-- Tab 3 -->
    <div id="tab3" class="" >
        <div class="list-block" >
            <ul id="tab_main1">
                <li>
                    {volist name="fnotice" id="fno"}
                    <a href="{:Url('College/forumnotice?id='.$fno['id'])}" style="width: 100%;border-bottom: 1px solid #f1f1f1">
                        <div class="limit_ fl"><span>{$fno['title']}</span><i class="fa fa-angle-right"></i></div>

                        {eq name="fno['is_over']" value="1"}
                        <span class="isEnd">已结束</span>
                        {/eq}
                        <span class="time fr">{$fno['create_time']|time_format='Y-m-d'}</span>
                    </a>
                    {/volist}
                </li>
                <li style="margin-top:75px;margin-left:calc(50% - 60px)" id="wuxiaoxi1">
                    <img src="/home/images/nomessage.png" alt="" style="width:120px;">
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="tip"></div>
<div class="loading hidden">
    <div class="typing_loader"></div>
</div>
{/block}

{block name="script"}
<script src="/static/framework7/framework7.js"></script>
<script>
    //模块标题
    $('title').text('鸡毛传帖');

    $(function(){
        var len = $("#tab_main1>li>a" ).length;
        if(len >= 7){
            $('.tip' ).text('上拉加载更多');
            //上拉加载
            loadScroll();
        }
        $('a').off('click' ).on('click',function(){
            window.location.href  =$(this ).attr('href');
        });

        if($("#tab_main1").find("a").length > 0){
            $('#wuxiaoxi1').hide()
        }
        else{
            $('#wuxiaoxi1').show()
        }
        loadScroll()
    });
    function loadScroll(){
        $(window ).off("scroll" ).on("scroll",function(){
            var dh = $(document).height();
            var end = $(window).height() + $(window ).scrollTop();
            var len = $("#tab_main1 a" ).length;
            var tip = $(".tip");
            var loading = $('.loading');
            if(dh == end){
                $.ajax({
                    type:"post",
                    url:"{:Url('College/leadlistmore')}",
                    data:{
                        length:len
                    },
                    beforeSend: function(XMLHttpRequest){
                        tip.hide();
                        loading.toggleClass('hidden');
                    },
                    success:function(data){
                        console.log(data);
                        loading.toggleClass('hidden');
                        tip.show();
                        if(data.code == 1){
                            addMeets(data);
                            var dataLen =data.data.length;
                            if(data.data.length == 5){
                                tip.text('上拉加载更多');
                            }
                        }else{
                            tip.text('没有更多了');
                            $(window ).off("scroll");
                        }
                    }
                })
            }
        })
    }
    function addMeets(data){
        var html = '';
        var lists = data.data;
        var len = lists.length;
        for(var i = 0; i< len;i++){
            var list = lists[i];
            html +=
                    '<a href="/home/college/forumnotice/id/'+list.id+'" style="width: 100%;border-bottom: 1px solid #f1f1f1">'+
                    '<div class="limit_ fl"><span>'+list.title+'</span><i class="fa fa-angle-right"></i></div>';
            if(list.is_over == 1){
                html+='<span class="isEnd">已结束</span>';
            }
            html+='<span class="time fr">'+list.create_time+'</span>'+
                    '</a>';
        }
        $("#tab_main1>li" ).append(html);
    }
    //
</script>
{/block}