{extend name="public/common"}

{block name="style"}
<title>通知公告</title>
<link rel="stylesheet" href="/home/css/college/index.css">
<link rel="stylesheet" href="/home/css/common/rem.css">
<link rel="stylesheet" href="/home/css/common/tip.css">
<link rel="stylesheet" href="/home/css/swiper-3.4.2.min.css">
<style>
    /*reset*/
    .page{
        background:#fff;
    }
    .content-block,.list-block,.list-block .item-inner,.list-block .item-content{
        padding:0;margin:0;
    }

    .navbar{
        height:36px;min-height:36px;border:none;background:#f9f9f9;
    }
    .navbar:after{
        height:0;
    }
    .button{
        height:36px;line-height:36px;border:none;color:#999;font-size:16px;
    }
    .buttons-row .button:first-child,.buttons-row .button:last-child{
        border-radius:0; border-left-width:0;
    }


    .list-block ul:before,.list-block ul:after{
        height:0;
    }
    /*main*/
    .banner img{
        width:100%;
    }



    .tongzhi img{
        width:30px;position:absolute;right:12px;top:0;margin-top:5px;
    }
    .tongzhi>span>span{
        color:#df4934;
    }
    .content-block ul{
        margin:0 12px;border-radius: 3px;height:215px;background:#fff;box-shadow: 0px 0px 6px 1px rgba(196,196,196, .3);position:relative;
    }

    .left_{
        height:91px;
        position: absolute;
        top: 17px;
        left:16%;
        width: 27px;
        z-index: 10;
    }
    .right_{
        height:91px;
        position: absolute;
        top: 17px;
        width: 27px;

        z-index: 10;
        left:70%;
    }


    /*tab3*/
    #tab3 ul{
        margin-bottom:5.33vw;
    }
    #tab3 ul li .list_img{
        height: 8vw;
    }

    #tab3 ul li>div{
        height:22.67vw;width:100%;display: block;position:relative;border-bottom:1px solid #f1f1f1;
    }
    #tab3 ul li>div>img.fl{
        width:16vw;height:16vw;border-radius: 3px;margin-left:2.93vw;margin-top:3.2vw;
    }
    #tab3 ul li>a>div.limit_{
        width:100%;font-size:1.4rem;height:14.67vw;padding-left:2.93vw;padding-top:2.67vw;line-height: 2rem;
    }
    .tab_main{
        height:8vw;line-height:8vw;width:53.33vw;margin:0 auto;text-align: center;background:#f9f9f9;border-radius: 3px;margin-bottom:0.8vw;
    }
    .btn1{
        width:25.6vw;text-align: center;display: inline-block;;border-radius: 3px;color:#999;font-size:1.5rem;
    }
    .tab_active{
        background:#DF4934;color:#fff
    }

    #tab3 #tab_main1>li>a>span.isEnd{
        margin-left:3.2vw;font-size:1.2rem;color:#e4393a;
    }
    #tab3 #tab_main1>li>a>span.time{
        margin-right:5.2vw;font-size:1.2rem;color:#999;
    }
    a{
        display: inline-block;
        color:#666666;
    }


</style>
{/block}

{block name="body"}

<div class="tabs clear">
    <div class="tab active" data-side="0"><span>通知公告</span></div>
    <div class="tab" data-side="1"><span>重要文件</span></div>
    <!--<span class="triangle-up"></span>-->
</div>

<div class="bulletin" id="side0" style="display: block">
    <div class="banner">
        <div class="swiper-container1">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="/home/images/feedback/1.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/home/images/feedback/1.jpg" alt=""></div>
                <div class="swiper-slide"><img src="/home/images/feedback/1.jpg" alt=""></div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="page">
        <!--&lt;!&ndash;banner&ndash;&gt;-->
        <!--<div class="banner">-->
        <!--<img src="/home/images/banner/1.jpg" alt="图片无法加载">-->
        <!--</div>-->

        {volist name="list" id="fno"}
        <a href="{:Url('College/forumnotice?id='.$fno['id'])}" class="list">
            <img src="{$fno.front_cover|get_cover='path'}" alt="">
            <div class="list_info">
                <div class="info_text">{$fno['title']}</div>
                <div class="time">
                    <span class="time_ls">{$fno['create_time']|time_format='Y-m-d'}</span>
                    <i class="fa"></i>
                </div>
            </div>
            {/volist}
        </a>
    </div>
</div>
<div class="bulletin" id="side1" >
    <div class="banner">
        <div class="swiper-container2">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="/home/images/feedback/1.jpg" alt=""></div>
            </div>
            <!-- Add Pagination -->
            <!--<div class="swiper-pagination"></div>-->
        </div>
    </div>
    <div class="page" >
        <!--&lt;!&ndash;banner&ndash;&gt;-->
        <!--<div class="banner">-->
        <!--<img src="/home/images/banner/1.jpg" alt="图片无法加载">-->
        <!--</div>-->

        {volist name="list2" id="fno"}
        <a href="{:Url('College/forumnotice?id='.$fno['id'])}" class="list">
            <div class="list_info">
                <div class="info_text">{$fno['title']}</div>
                <div class="time">
                    <span class="time_ls">{$fno['create_time']|time_format='Y-m-d'}</span>
                    <i class="fa"></i>
                </div>
            </div>
            {/volist}
        </a>
    </div>
</div>



<div class="tip"></div>
<div class="loading hidden">
    <div class="typing_loader"></div>
</div>
{/block}

{block name="script"}
<script src="/static/framework7/framework7.js"></script>
<script src="/home/js/swiper-3.4.2.jquery.min.js"></script>
<script>
    $(function(){
        for(var i=0;i<$('.tabs .tab').length;i++){
            $('.tabs .tab')[i].onclick=function(){
                $('.tabs .tab').removeClass('active');
                $(this).addClass('active');
                var side = $(this).data('side');
                $('.bulletin').hide();
                $('#side'+side).show();
            }
        }
        var swiper = new Swiper('.swiper-container1', {
            pagination: '.swiper-pagination',
//            dynamicBullets: true,
            autoplayDisableOnInteraction : false,
            autoplay:3000,
            loop:true
        });
    });
</script>

<script>
    var num = 0;
    $(function(){
        $('.bulletin').each(function(){
            if($(this).css('display')=='block'){
                var len =$(this).find('.page>a').length;
                if(len >= 10){
                    $('.tip' ).text('上拉加载更多');
                    //上拉加载
                    loadScroll();
                }
                $('a').off('click' ).on('click',function(){
                    window.location.href  =$(this ).attr('href');
                });

                if($(this).find('.page>a').find("a").length > 0){
                    $('#wuxiaoxi1').hide()
                }
                else{
                    $('#wuxiaoxi1').show()
                }
                loadScroll()
            }
        })

    });
    $('.tabs .tab').on('click',function(){
        var _side = $(this).data('side');

    })
    function loadScroll(){
        $(window ).off("scroll" ).on("scroll",function(){
            var dh = $(document).height();
            var end = $(window).height() + $(window ).scrollTop();
//            var len = $(".page>a" ).length;
            var len = $('#side'+num).find('.page>a').length;
            var tip = $(".tip");
            var loading = $('.loading');
            if(dh == end){
                $.ajax({
                    type:"post",
                    url:"{:Url('College/leadlistmore')}",
                    data:{
                        length:len
                    },
                    beforeSend: function(XMLHttpRequest){
                        tip.hide();
                        loading.toggleClass('hidden');
                    },
                    success:function(data){
                        console.log(data);
                        loading.toggleClass('hidden');
                        tip.show();
                        if(data.code == 1){
                            addMeets(data);
                            var dataLen =data.data.length;
                            if(data.data.length == 5){
                                tip.text('上拉加载更多');
                            }
                        }else{
                            tip.text('没有更多了');
                            $(window ).off("scroll");
                        }
                    }
                })
            }
        })
    }
    function addMeets(data){
        var html = '';
        var lists = data.data;
        var len = lists.length;
        console.log(data)
        for(var i = 0; i< len;i++){
            var list = lists[i];
            html +='<a href="/home/college/forumnotice/id/'+list.id+'" class="list">'
                    +'<img src="'+list.path+'" alt="">'
                    +'<div class="list_info"><div class="info_text">'+list.title+'</div><div class="time"><span class="time_ls">'+list.create_time+'</span></div></div>'
                    +'</a>'
        }
        $('#side'+num).find('.page').append(html)
    }
    //
</script>
{/block}