{extend name="public/common"}

{block name="style"}
<title>心愿认领</title>
<link rel="stylesheet" href="/home/css/activity/activitydetails.css">
{/block}
{block name="body"}
<div class="header">
    <div class="title">{$info.title}</div>
    <span class="name">{$info.publisher}</span>
    <span class="time">{$info.create_time|time_format='Y-m-d'}</span>
</div>
<div class="line"></div>
<div class="content">
    <span class="text">{$info.content}</span>
    {eq name="$info.review" value="1"}
    {eq name="$info.is_receive" value="1"}
    <div class="get" style="background: #e0e0e0">我&ensp;已&ensp;认&nbsp;领</div>
    {else/}
    <div class="get yes">马&ensp;上&ensp;认&nbsp;领</div>
    {/eq}
    {/eq}
</div>
<div class="gray"></div>
<div class="enroll">
    <div class="title">认领名单</div>
    <div class="lists">
        {empty name="$info.receive"}
        <div class="list no-claim">
            <span class="fl" style="text-align: center;width: 100%;">还没有人认领~</span>
        </div>
        {else/}
        {volist name="$info.receive" id="ro"}
            <div class="list">
                <img src="{$ro.head}" alt="头像">
                <span class="name limit">{$ro.name}</span>
                <span class="publish limit">{$ro.department}</span>
                <span class="time limit">{$ro.create_time|time_format='Y-m-d'}</span>
            </div>
        {/volist}
        {/empty}
    </div>
</div>
{/block}

{block name="script"}
<script>
    $(function() {
        //报名
        $('.yes').off('click').on('click', function () {
            var this_ = $(this);
            var id ={$info.id};
            console.log(this_.html() === "我&nbsp;已&nbsp;认&nbsp;领");
            if (this_.html() === "我&nbsp;已&nbsp;认&nbsp;领") return false;
            this_.css('background', '#e0e0e0');
            this_.html('我&nbsp;已&nbsp;认&nbsp;领');
            $.ajax({
                type:"post",
                url:"{:Url('Activity/enroll')}",
                data:{
                    id: id
                },
                success:function(data){
                    console.log(data);
                    var n = $('.addnum');
                    var m =data.data;
                    var html =
                        '<div class="list">'+
                        '<img src='+m.headimgurl+' alt="头像">'+
                        '<span class="name limit">'+m.name+'</span>'+
                        '<span class="publish limit">'+m.department+'</span>'+
                        '<span class="time limit">'+m.time+'</span>'+
                        '</div>';
                    $(".no-claim").hide();
                    $('.enroll .lists' ).append(html);
                    n.text(parseInt(n.text())+1)
                }
            })
        });
    })
</script>
{/block}