{extend name="public/common"}
{block name="style"}
    <title>活动发布</title>
    <link rel="stylesheet" href="/static/viewer/viewer.min.css">
    <link rel="stylesheet" href="/home/css/common/rem.css">
    <link rel="stylesheet" href="/home/css/activity/index.css">
    <link rel="stylesheet" href="/home/css/common/tip.css">
    <style>
        .tabs{
            background: url(/home/images/activity/tab.png) no-repeat;
            background-size: cover;
        }
        .notice>.title{
            width: 100vw;
            font-size: 1.6rem;
            color: #333333;
            line-height: 60px;
            text-align: center;
        }
        #publish {
            position: fixed;
            right: 5.3vw;
            bottom: 10.6vw;
            width: 16vw;
            height: 16vw;
            background: url(/home/images/feedback/note.png) no-repeat;
            background-size: 100% 100%;
        }
    </style>
{/block}
{block name="body"}
    <!--tab-->
<div class="scrollDiy">
    <!--<div class="tabs clear">-->
    <!--<div class="tab"><span>组织倡议</span></div>-->
    <!--&lt;!&ndash;<div class="tab"><span>群众建议</span></div>&ndash;&gt;-->
    <!--&lt;!&ndash;<span class="triangle-up"></span>&ndash;&gt;-->
    <!--</div>-->
    <!--切换列表-->
    <div class="content" style="overflow-x: hidden">
        <!--活动列表-->
        <div class="notices hidden">
            <div class="banner">
                <img src="/home/images/activity/hdfb.jpg" alt="">
            </div>
            <div class="notice regularmore">
                <div class="lists">
                        <ul>
                            {volist name="list" id="lo"}
                            <a class="clear"  href="{:Url('Activity/activitydetails?id='.$lo['id'])}">
                                <p>{$lo.title}</p>
                                <span>{$lo.description}</span>
                                <span class="lists time">{$lo.create_time|time_format='Y-m-d'}</span>
                            </a>
                            {/volist}
                        </ul>
                </div>
            </div>
        </div>

    </div>
<div class="bottom clear">
    <div class="myword fl">
        <input type="text" placeholder="说说你的感想！">
    </div>
    <div class="send fr" onclick="send(this)">发送</div>
</div>
</div>
{/block}
{block name="script"}
<script src="/home/js/reset.js"></script>
<script src="/static/viewer/viewer-jquery.min.js"></script>
<script>
    var scrollNow = true;//判断下拉请求是否执行中.false为正在请求
    var c =  parseInt(window.location.href.split("index/c/")[1]);
    $(function(){
        //tab初始化和数据存储
        var ntc = $('.notices');
        var co = getCookie("type");
        if(co == 11 || co == 12 || co == 13){
            c = co - 10;
        }
        ntc.eq(c-1).removeClass('hidden');
       //活动列表上拉加载
        if(c == 1){
            $(".triangle-up").css("left","21.06vw");
            var len = ntc.eq(c-1 ).find('.regularmore>.lists>ul>a').length;
            console.log(len);
            if(len >= 7){
                $('.tip' ).text('上拉加载更多');
                loadScroll(c);
            }else{
                $('.tip' ).hide();
            }
        }
        //投票列表上拉加载
        if(c == 2){
            $(".triangle-up").css("left","72vw");
            var len = ntc.eq(c-1 ).find('.votes>ul>li').length;
            if(len >= 5){
                $('.tip' ).text('上拉加载更多');
                loadScroll(c);
            }else{
                $('.tip' ).hide();
            }
        }
        //tab切换
        $('.tabs>.tab ').on('click',function(){
            var ntc = $('.notices' );
            var eq = $(this ).index();
            ntc.eq(eq ).siblings('.notices' ).addClass('hidden');
            ntc.eq(eq).removeClass('hidden');
            if(eq == 0){
                $(".triangle-up").css("left","21.06vw");
                var len = ntc.eq(eq ).find('.regularmore>.lists>ul>a').length;
                if(len >= 6){
                    $('.tip' ).text('上拉加载更多');
                    loadScroll(eq+1);
                }else{
                    $('.tip' ).hide();
                    $(window ).off("scroll" );
                }
            }
            if(eq == 1){
                $(".triangle-up").css("left","72vw");
                var len = ntc.eq(eq ).find('.lists>ul>li').length;
                if(len >= 5){
                    $('.tip' ).text('上拉加载更多');
                    loadScroll(eq+1);
                }else{
                    $('.tip' ).hide();
                    $(window ).off("scroll" );
                }
            }

            //使用示例
            setCookie("type",eq+11);
        });
        if ("{$visit}"== 0){
//            //悬浮框移动
//            moveanyway();
        }
        viewer = $('.imgs').viewer({
            url: 'data-original',
            toolbar:false,
            title:false
        });
    });

    function loadScroll(type){
        $(window).off("scroll" ).on("scroll",function(){
            var ntc = $('.notices');
            var dh = $(document).height();
            var end = $(window).height() + $(window).scrollTop();
            var tip = $(".tip");
            var loading = $('.loading');
            if(type == 1){
                var len = ntc.eq(type-1).find('.regularmore>.lists>ul>a').length;
            }
            if(type== 2 ){
                var len = ntc.eq(type-1).find('.lists>ul>li').length;
            }
            if(dh == end && scrollNow){
                scrollNow = false;//请求执行中
                $.ajax({
                    type:"post",
                    url: "{:Url('Activity/morelist')}",
                    data:{
                        length:len,
                        type:type
                    },
                    beforeSend: function(XMLHttpRequest){
                        tip.hide();
                        loading.toggleClass('hidden');
                    },
                    success:function(data){
                        loading.toggleClass('hidden');
                        tip.show();
                        if(data.code == 1){
                            addCourse(data,type);
                            var dataLen =data.data.length;
                            if(data.data.length == 5){
                                tip.text('上拉加载更多');
                            }
                        }else{
                            tip.text('没有更多了');
                            $(window ).off("scroll");
                        }
                        scrollNow = true;//请求结束
                    }
                })
            }
        })
    }
    function addCourse(data,type){
        var html = '';
        var lists = data.data;
        var len = lists.length;
        for(var i = 0; i< len;i++){
            var list = lists[i];
            if (type == 1) {
                html +=
                    '<a class="clear" href="/home/activity/activitydetails/id/'+list.id+'">'+
                    '<p>'+list.title+'</p>'+
                    '<span>'+list.description+'</span>'+
                    '<span class="lists time">'+list.time+'</span>'+
//                    '<i >进入认领<img src="/home/images/activity/arrow.png"></i>'+
                    '</a>';
            } else {
                html +=
                    '<li>' +
                    '<img src="'+list.head+'">' +
                    '<p>'+list.publisher+'</p>' +
                    '<span>'+list.content+'</span>' +
                    '<div class="imgs">'
                var imglen = list.images.length;
                for(var j = 0 ;j<imglen ;j++){
                    html+='	<div class="img">' +
                            '		<img src="'+list.images[j]+'" alt="评论图" data-original="">' +
                            '	</div>' ;
                }
                   html+= '</div>' +
                    '<span class="votes-time">'+list.department+'/'+list.create_time+'发布</span>'
//                if ("{$visit}" == 0){
//                    html+='<div class="opinion">'
//                    switch (list.is_like){
//                        case 0:
//                            html+='	<i class="agree" onclick="agree(this,'+list.id+',1)"></i>' +
//                                    '	<span>'+list.likes_yes+'</span>' +
//                                    '	<i class="disagree" onclick="disagree(this,'+list.id+',2)"></i><span>'+list.likes_no+'</span>'
//                            break;
//                        case 1:
//                            html+='	<i class="agree_"></i>' +
//                                    '	<span>'+list.likes_yes+'</span>' +
//                                    '	<i class="disagree" "></i><span>'+list.likes_no+'</span>'
//                            break;
//                        case 2:
//                            html+='	<i class="agree" ></i>' +
//                                    '	<span>'+list.likes_yes+'</span>' +
//                                    '	<i class="disagree_" ></i><span>'+list.likes_no+'</span>'
//                            break;
//                    }
//                    html+='	<i class="comment-icon" onclick="tosend(this,'+list.id+')"></i>' +
//                            '</div>'
//                }else{
////                    html+='<div class="opinion"><i class="agree"></i><span>'+list.likes_yes+'</span>' +
////                        '<i class="disagree"></i><span>'+list.likes_no+'</span><i class="comment-icon"></i>' +
////                            '</div>'
//                }
                var commentlen = list.comment.length;
                if(commentlen)
                {
                    html += '<ul class="comments ">'
                    for(var x = 0 ;x <commentlen ;x++){
                        html+=
                                '<li>'+
                                '<span class="name">'+list.comment[x].nickname+'：</span>'+
                                '<span class="comment">'+list.comment[x].content+'</span>'+
                                '</li>'
                    }
                    html+='</ul>'
                }
                html+= '</li>';
            }
        }
        if(type==1){
            $(".regularmore .lists ul").append(html);
        }else{
            $(".votes>ul").append(html);
            if(viewer) {
                viewer = $('.imgs').viewer({
                    url: 'data-original',
                    toolbar:false,
                    title:false
                });
            }
        }
        //图片裁剪
        imgresize();
    }



    var tosend = function(e,id){
        var index = $(e).parents('.votes ul li' ).index();
        $('.banner,.lists' ).off('click');
        $('.bottom' ).animate({'bottom':'0'},500,'swing',function(){
            $('.tabs,.lists' ).off('click').one('click',function(){
                $('.bottom' ).animate({'bottom':'-12vw'},500,'swing');
                $('.myword input' ).val('');
            })
        }).attr('data-tab',index);
       $('.send' ).attr('data-tab',id);
    };

    //发送评论
    var send = function(e){
        var it = $(e ).prev().find('input');
        var index = $('.bottom' ).attr('data-tab');
        if(it.val() != ''){
            $.ajax({
                type:"post",
                url:"{:Url('Base/comment')}",
                data:{
                    type : 6,
                    aid:$('.send' ).attr('data-tab'),
                    content:it.val()
                },
                success:function(msg){
                    var data = msg.data;
                    var html = '';
                    html +=
                        '<li>'+
                        '<span class="name">'+data.nickname+'：</span>'+
                        '<span class="comment">'+data.content+'</span>'+
                        '</li>';

                    $('.votes>ul').children("li").eq(index).find('.comments').removeClass('hide').prepend(html);
                    $('.tabs,.votes' ).click();
                }
            });
        }else{
            var not = $('.not');
            not.fadeIn();
            document.body.style.overflow='hidden';
            $('.confirm,.not .bg' ).on('click',function(){
                not.fadeOut();
                document.body.style.overflow='scroll';
                $('.banner,.lists' ).click();
//			$('.bottom' ).animate({'bottom':'-45px'},500,'swing');
//			$('.myword input' ).val('');
            })
        }
    };

    //同意
    var agree = function(e,id,status){
        //样式变化，移到suc
        var n = $(e).next('span').text();
        if($(e).hasClass('agree_')) return false;
        if($(e).nextAll('i').hasClass('disagree_')) return false;
        $(e).toggleClass('agree' ).toggleClass('agree_');
        $(e ).hasClass('agree')?n--:n++;
        $(e ).next('span').text(n);
        $.ajax({
            type:"post",
            url:"{:Url('Activity/vote')}",
            data:{
                id:id,
                status:status
            },
            success:function(data){
                console.log('点赞成功');
            }
        })
    };

    var disagree = function(e,id,status){
        //样式变化，移到suc
        var n = $(e).next('span').text();
        if($(e).hasClass('disagree_')) return false;
        if($(e).prevAll('i').hasClass('agree_')) return false;
        $(e).toggleClass('disagree' ).toggleClass('disagree_');
        $(e ).hasClass('disagree')?n--:n++;
        $(e ).next('span').text(n);
        $.ajax({
            type:"post",
            url:"{:Url('Activity/vote')}",
            data:{
                id:id,
                status:status
            },
            success:function(data){
                console.log('点赞成功');
            }
        })
    };

    var layout = function(){
        $('.lists ul li' ).each(function(){
            var this_ = $(this);
            var n_img = this_.find('.imgs .img' ).length;
            var n_li = this_.find('.comments li' ).length;
            if(n_img == 4){
                this_.find('.imgs .img' ).eq(1).after('<br>')
            }
            if(n_li == 0){
                this_.find('.comments').addClass('hide');
            }
        })
    };
    //图片排版、评论框
    layout();
    //图片裁剪
    imgresize();
</script>
{/block}