{extend name="public/common"}
{block name="style"}
    <title>活动发起</title>
    <link rel="stylesheet" href="/static/viewer/viewer.min.css">
    <link rel="stylesheet" href="/home/css/common/rem.css">
    <link rel="stylesheet" href="/home/css/activity/index.css">
<link rel="stylesheet" href="/home/css/common/tip.css">
    <style>
        .tabs{
            background: url(/home/images/activity/tab.png) no-repeat;
            background-size: cover;
        }
        .notice>.title{
            width: 100vw;
            font-size: 1.6rem;
            color: #333333;
            line-height: 60px;
            text-align: center;
        }
        #publish {
            position: fixed;
            right: 20px;
            bottom: 40px;
            width: 60px;
            height: 60px;
            background: url(/home/images/feedback/note.png) no-repeat;
            background-size: 100% 100%;
        }
        .scrollDiy{
            position: absolute;
            top:0;
            bottom:0;
            overflow-y: scroll;
            /* 增加该属性，可以增加弹性 */
            -webkit-overflow-scrolling: touch;
            width:100%;
        }
    </style>
{/block}
{block name="body"}
    <!--tab-->
<div class="scrollDiy">
    <div class="tabs clear">
        <div class="tab"><span>活动列表</span></div>
        <div class="tab"><span>发起投票</span></div>
        <span class="triangle-up"></span>
    </div>
    <!--切换列表-->
    <div class="content" style="overflow-x: hidden">
        <!--活动列表-->
        <div class="notices hidden">
            <div class="notice regularmore">
                <div class="lists">
                        <ul>
                            {volist name="list" id="lo"}
                            <li>
                                <p>{$lo.title}</p>
                                <span>{$lo.description}</span>
                                <span class="lists time">{$lo.create_time|time_format='Y-m-d'}</span>
                                <a href="{:Url('Activity/activitydetails?id='.$lo['id'])}">进入认领<img src="/home/images/activity/arrow.png"></a>
                            </li>
                            {/volist}
                        </ul>
                </div>
            </div>
        </div>
        <!--发起投票-->
        <div class="notices hidden">
            <div class="lists votes">
                <ul>
                    {volist name="lists" id="los"}
                    <li>
                        <img src="{$los.head}">
                        <p>{$los.publisher}</p>
                        <span>{$los.content}</span>
                        <div class="imgs">
                            {volist name="los.images" id="img"}
                            <div class="img">
                                <img src="{$img|get_cover='path'}" alt="评论图" data-original="">
                            </div>
                            {/volist}
                        </div>
                        <span class="votes-time">{$los.department}/{$los.create_time|time_format='Y-m-d'}发布</span>
                        <div class="opinion">
                            {switch name="los.is_like"}{case value="0"}
                                    <i class="agree" onclick="agree(this,{$los.id},1)"></i>
                                    <span>{$los.likes_yes}</span>
                                    <i class="disagree" onclick="disagree(this,{$los.id},2)"></i>
                                    <span>{$los.likes_no}</span>{/case}{case value="1"}
                                    <i class="agree_" ></i>
                                    <span>{$los.likes_yes}</span>
                                    <i class="disagree"></i>
                                    <span>{$los.likes_no}</span>
                                {/case}{case value="2"}
                                    <i class="agree" ></i>
                                    <span>{$los.likes_yes}</span>
                                    <i class="disagree_"></i>
                                    <span>{$los.likes_no}</span>
                                {/case}
                                {default /}default
                            {/switch}
                            <i class="comment-icon" onclick="tosend(this,{$los.id})"></i>
                        </div>

                        <ul class="comments">
                            {volist name="los.comment" id="co"}
                            <li>
                                <span class="name">{$co.nickname}：</span>
                                <span class="comment">{$co.content}</span>
                            </li>
                            {/volist}
                        </ul>
                    </li>
                    {/volist}
                </ul>

            </div>
        </div>
        <div class="tip"></div>
        <div class="loading hidden">
            <div class="typing_loader"></div>
        </div>
    </div>
    <!--线上活动发布-->
    <a id="publish" href="{:Url('Activity/publish')}"></a>
    <!--加载更多-->
<div class="bottom clear">
    <div class="myword fl">
        <input type="text" placeholder="说说你的感想！">
    </div>
    <div class="send fr" onclick="send(this)">发送</div>
</div>
</div>
{/block}
{block name="script"}
<script src="/home/js/reset.js"></script>
<script src="/static/viewer/viewer-jquery.min.js"></script>
<script>
    var scrollNow = true;//判断下拉请求是否执行中.false为正在请求
    var c =  parseInt(window.location.href.split("index/c/")[1]);
    $(function(){
        //tab初始化和数据存储
        var ntc = $('.notices');
        var co = getCookie("type");
        if(co == 11 || co == 12 || co == 13){
            c = co - 10;
        }
        ntc.eq(c-1).removeClass('hidden');
       //活动列表上拉加载
        if(c == 1){
            $(".triangle-up").css("left","21.06vw");
            var len = ntc.eq(c-1 ).find('.notice>.lists>ul>li').length;
            if(len >= 5){
                $('.tip' ).text('上拉加载更多');
                loadScroll(c);
            }else{
                $('.tip' ).hide();
            }
        }
        //投票列表上拉加载
        if(c == 2){
            $(".triangle-up").css("left","72vw");
            var len = ntc.eq(c-1 ).find('.votes>ul>li').length;
            if(len >= 5){
                $('.tip' ).text('上拉加载更多');
                loadScroll(c);
            }else{
                $('.tip' ).hide();
            }
        }
        //tab切换
        $('.tabs>.tab ').on('click',function(){
            var ntc = $('.notices' );
            var eq = $(this ).index();
            ntc.eq(eq ).siblings('.notices' ).addClass('hidden');
            ntc.eq(eq).removeClass('hidden');
            if(eq == 0){
                $(".triangle-up").css("left","21.06vw");
                var len = ntc.eq(eq ).find('.notice .lists ul li').length;
                if(len >= 5){
                    $('.tip' ).text('上拉加载更多');
                    loadScroll(eq+1);
                }else{
                    $('.tip' ).hide();
                    $(window ).off("scroll" );
                }
            }
            if(eq == 1){
                $(".triangle-up").css("left","72vw");
                var len = ntc.eq(eq ).find('.lists>ul>li').length;
                if(len >= 5){
                    $('.tip' ).text('上拉加载更多');
                    loadScroll(eq+1);
                }else{
                    $('.tip' ).hide();
                    $(window ).off("scroll" );
                }
            }

            //使用示例
            setCookie("type",eq+11);
        });
        //悬浮框移动
        moveanyway();
        viewer = $('.imgs').viewer({
            url: 'data-original',
            toolbar:false,
            title:false
        });
    });

    function loadScroll(type){
        $(".scrollDiy").off("scroll" ).on("scroll",function(){
            var ntc = $('.notices');
            var dh = $(".content").height()+$(".tabs").height();
            var end = $('.scrollDiy').height() + $('.scrollDiy').scrollTop();
            var tip = $(".tip");
            var loading = $('.loading');
            if(type == 1){
                var len = ntc.eq(type-1).find('.notice .lists>ul>li').length;
            }
            if(type== 2 ){
                var len = ntc.eq(type-1).find('.lists>ul>li').length;
            }
            if(dh == end && scrollNow){
                scrollNow = false;//请求执行中
                $.ajax({
                    type:"post",
                    url: "{:Url('Activity/morelist')}",
                    data:{
                        length:len,
                        type:type
                    },
                    beforeSend: function(XMLHttpRequest){
                        tip.hide();
                        loading.toggleClass('hidden');
                    },
                    success:function(data){
                        loading.toggleClass('hidden');
                        tip.show();
                        if(data.code == 1){
                            addCourse(data,type);
                            var dataLen =data.data.length;
                            if(data.data.length == 5){
                                tip.text('上拉加载更多');
                            }
                        }else{
                            tip.text('没有更多了');
                            $(window ).off("scroll");
                        }
                        scrollNow = true;//请求结束
                    }
                })
            }
        })
    }
    function addCourse(data,type){
        var html = '';
        var lists = data.data;
        var len = lists.length;
        for(var i = 0; i< len;i++){
            var list = lists[i];
            if (type == 1) {
                html +=
                    '<li>'+
                    '<p>'+list.title+'</p>'+
                    '<span>'+list.description+'</span>'+
                    '<span class="lists time">'+list.time+'</span>'+
                    '<a href="/home/activity/activitydetails/id/'+list.id+'">进入认领<img src="/home/images/activity/arrow.png"></a>'+
                    '</li>';
            } else {
                html +=
                    '<li>' +
                    '<img src="'+list.head+'">' +
                    '<p>'+list.publisher+'</p>' +
                    '<span>'+list.content+'</span>' +
                    '<div class="imgs">'
                var imglen = list.images.length;
                for(var j = 0 ;j<imglen ;j++){
                    html+='	<div class="img">' +
                            '		<img src="'+list.images[j]+'" alt="评论图" data-original="">' +
                            '	</div>' ;
                }
                   html+= '</div>' +
                    '<span class="votes-time">'+list.department+'/'+list.create_time+'发布</span><div class="opinion">'
                switch (list.is_like){
                    case 0:
                        html+='	<i class="agree" onclick="agree(this,'+list.id+',1)"></i>' +
                                '	<span>'+list.likes_yes+'</span>' +
                                '	<i class="disagree" onclick="disagree(this,'+list.id+',2)"></i><span>'+list.likes_no+'</span>'
                        break;
                    case 1:
                        html+='	<i class="agree_"></i>' +
                                '	<span>'+list.likes_yes+'</span>' +
                                '	<i class="disagree" "></i><span>'+list.likes_no+'</span>'
                        break;
                    case 2:
                        html+='	<i class="agree" ></i>' +
                                '	<span>'+list.likes_yes+'</span>' +
                                '	<i class="disagree_" ></i><span>'+list.likes_no+'</span>'
                        break;
                }
                    html+='	<i class="comment-icon" onclick="tosend(this,'+list.id+')"></i>' +
                    '</div>' +
                    '<ul class="comments ">'
                var commentlen = list.comment.length;
                for(var x = 0 ;x <commentlen ;x++){
                    html+=
                            '<li>'+
                            '<span class="name">'+list.comment[x].nickname+'：</span>'+
                            '<span class="comment">'+list.comment[x].content+'</span>'+
                            '</li>'
                }
                    html+='</ul>'
                    '</li>';
            }
        }
        if(type==1){
            $(".regularmore .lists ul").append(html);
        }else{
            $(".votes>ul").append(html);
            if(viewer) {
                viewer = $('.imgs').viewer({
                    url: 'data-original',
                    toolbar:false,
                    title:false
                });
            }
        }
    }



    var tosend = function(e,id){
        var index = $(e).parents('.votes ul li' ).index();
        $('.banner,.lists' ).off('click');
        $('.bottom' ).animate({'bottom':'0'},500,'swing',function(){
            $('.tabs,.lists' ).off('click').one('click',function(){
                $('.bottom' ).animate({'bottom':'-45px'},500,'swing');
                $('.myword input' ).val('');
            })
        }).attr('data-tab',index);
       $('.send' ).attr('data-tab',id);
    };

    //发送评论
    var send = function(e){
        var it = $(e ).prev().find('input');
        var index = $('.bottom' ).attr('data-tab');
        if(it.val() != ''){
            $.ajax({
                type:"post",
                url:"{:Url('Base/comment')}",
                data:{
                    type : 6,
                    aid:$('.send' ).attr('data-tab'),
                    content:it.val()
                },
                success:function(msg){
                    var data = msg.data;
                    var html = '';
                    html +=
                        '<li>'+
                        '<span class="name">'+data.nickname+'：</span>'+
                        '<span class="comment">'+data.content+'</span>'+
                        '</li>';

                    $('.votes>ul').children("li").eq(index).find('.comments').removeClass('hide').prepend(html);
                    $('tabs,.lists' ).click();
                }
            });
        }else{
            var not = $('.not');
            not.fadeIn();
            document.body.style.overflow='hidden';
            $('.confirm,.not .bg' ).on('click',function(){
                not.fadeOut();
                document.body.style.overflow='scroll';
                $('.banner,.lists' ).click();
//			$('.bottom' ).animate({'bottom':'-45px'},500,'swing');
//			$('.myword input' ).val('');
            })
        }
    };

    //同意
    var agree = function(e,id,status){
        //样式变化，移到suc
        var n = $(e).next('span').text();
        if($(e).hasClass('agree_')) return false;
        if($(e).nextAll('i').hasClass('disagree_')) return false;
        $(e).toggleClass('agree' ).toggleClass('agree_');
        $(e ).hasClass('agree')?n--:n++;
        $(e ).next('span').text(n);
        $.ajax({
            type:"post",
            url:"{:Url('Activity/vote')}",
            data:{
                id:id,
                status:status
            },
            success:function(data){
                console.log('点赞成功');
            }
        })
    };

    var disagree = function(e,id,status){
        //样式变化，移到suc
        var n = $(e).next('span').text();
        if($(e).hasClass('disagree_')) return false;
        if($(e).prevAll('i').hasClass('agree_')) return false;
        $(e).toggleClass('disagree' ).toggleClass('disagree_');
        $(e ).hasClass('disagree')?n--:n++;
        $(e ).next('span').text(n);
        $.ajax({
            type:"post",
            url:"{:Url('Activity/vote')}",
            data:{
                id:id,
                status:status
            },
            success:function(data){
                console.log('点赞成功');
            }
        })
    };

    var layout = function(){
        $('.lists ul li' ).each(function(){
            var this_ = $(this);
            var n_img = this_.find('.imgs .img' ).length;
            var n_li = this_.find('.comments li' ).length;
            if(n_img == 4){
                this_.find('.imgs .img' ).eq(1).after('<br>')
            }
            if(n_li == 0){
                this_.find('.comments').addClass('hide');
            }
        })
    };
    //图片排版、评论框
    layout();
    //图片裁剪
    imgresize();
</script>
{/block}