*{
    padding: 0;
    margin: 0;
    border: 0;
}
html,body{
    min-height: 100%;
}
body{
    background: #FFF;
    background-size: 100%;
}
a:link,a:visited{
    color: #000;
    text-decoration: none;
}
.clear{
    clear:both;
}
.clearfix{
    *zoom:1;
}
.clearfix:after{
    display:block;
    overflow:hidden;
    clear:both;
    height:0;
    visibility:hidden;
    content:".";
}
.tabCon{
    padding:0;
    width: 100%;
    display: none;
}
.tablist{
    float: left;
    width: 33.33%;
    /*height:7rem;*/
    overflow: hidden;
    text-align:center;
    margin-bottom: 5vw;
}
.tablist .icon{
    width:50%;
    margin:0 auto;
}
.tablist .icon a{
    display:block;
    width: 100%;
}
.tablist .icon a img{
    width: 100%;
    display: block;
    border-radius:50%;
}
.tablist p{
    margin-top: 2vw;
}
.tablist p a{
    display: block;
}


@keyframes myfirst
{
    0%{opacity:0;transform:scale3d(.3,.3,.3)}
    50%{opacity:1}
    100%{opacity:1;}
}

@-moz-keyframes myfirst /* Firefox */
{
    0%{opacity:0;-moz-transform:scale3d(.3,.3,.3)}
    50%{opacity:1}
    100%{opacity:1;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
    0%{opacity:0;-webkit-transform:scale3d(.3,.3,.3)}
    50%{opacity:1}
    100%{opacity:1;}
}

@-o-keyframes myfirst /* Opera */
{
    0%{opacity:0;-o-transform:scale3d(.3,.3,.3)}
    50%{opacity:1}
    100%{opacity:1;}
}

.clearfix .tablist{
    animation:myfirst 1s ease both;
    /* Firefox: */
    -moz-animation:myfirst 1s ease both;
    /* Safari and Chrome: */
    -webkit-animation:myfirst 1s ease both;
    /* Opera: */
    -o-animation:myfirst 1s ease both;
}
.tabBox{
    margin-top: 5vw;
}
#sub1{
    display: block;
    transform-origin: 0px 0px 0px;
    opacity: 1;
    transform: scale(1, 1);
}
.tablist >p >a{
    font-size: 1.4rem;
}