{extend name="public/common"}

{block name="style"}
<title>人脸识别</title>
<style>
    #takePhoto {
        font-size: 25px;
        position: fixed;
        left: 50%;
        bottom: 10vw;
        border: 3px solid rgb(69,201,208);
        color: rgb(69,201,208);
        border-radius: 30px;
        line-height: 30px;
        padding: 2vw 3vw;
    }
    body {
        width: 100vw;
        height: 100vh;
        background: #000 url('/home/images/live/face.jpg') no-repeat 0 0;
        background-size: cover;
        position: fixed;
        top: 0;
    }
</style>
{/block}

{block name="body"}
<div id="file">
    <input type="file" id="imgTest" accept="image/*" capture="camera" onchange="imgChange(event)" style="display:none">
</div>

<div id="takePhoto">人脸识别</div>
{/block}

{block name="script"}
<script src="/home/js/reset.js"></script>
<script>
    $('#takePhoto').click(function(){
        $('#imgTest').click()
    });

    function imgChange(e) {
        var dom = $("input[id^='imgTest']")[0];
        swal({
            title: ' ',
            text: '人脸识别中,请稍等...',
            showConfirmButton:false
        });
        var reader = new FileReader();
        reader.onload = (function (file) {
            return function (e) {
                var base64 = this.result.replace(/^(data:).*(;base64,)/, "");
                $('#file').html('');
                $('#file').html('<input type="file" id="imgTest" accept="image/*" capture="camera" onchange="imgChange(event)" style="display:none">');
                $.ajax({
                    type: 'post',
                    url: "{:Url('Live/face')}",
                    data: {'imgBase': base64},
                    success: function(data){
                        console.log(data);
                        var m = data.match(/{.*}/);
                        m = JSON.parse(m[0]);
                        if (m.confidence < 70) {

                            swal("", "人脸匹配失败", "error")
                        } else {

                            swal("", "人脸匹配完成"+m.confidence, "success")
                        }

                    }
                });
            };
        })(e.target.files[0]);
        reader.readAsDataURL(e.target.files[0]);
    }

</script>

{/block}