<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="/favicon.ico" type="image/x-icon" rel="shortcut icon">
    <link rel="stylesheet" href="/home/css/common/reset1.css">
    <script src="/static/js/jquery-2.2.1.min.js"></script>
    <script src="/static/sweetalert/sweetalert.min.js"></script>
    <link rel="stylesheet" href="/static/sweetalert/sweetalert.css">
    {block name="style"}网页样式{/block}
</head>
<body ontouchstart="" onmouseover="">
<!-- 主体 -->
{block name="body"}页面主体{/block}
<!-- /主体 -->

<!-- 底部 -->

<!-- 用于加载js代码 -->
{block name="script"}底部JS代码{/block}
<!-- 用于加载统计代码等隐藏元素 -->
<!-- /底部 -->
</body>
</html>
