@charset "utf-8";
/*public*/
.t_b {
  font-size: 1.8rem;
  font-weight: 600;
}
.banner{
  position: relative;
  top:0;
  left:0;
  width: 100vw;
  height: 50vw;
}
.banner .banner-img{
  height: 50vw;
  width: 100vw;
}
/*banner点赞*/
/*.banner .isgood {*/
  /*position: absolute;*/
  /*right:4vw;*/
  /*bottom:-8vw;*/
  /*display: inline-block;*/
  /*height: 16vw;*/
  /*color: #EB4F38;*/
  /*line-height: 22vw;*/
/*}*/
/*.banner .good {*/
  /*background: url('/home/images/special/no.png') 0 0 no-repeat;*/
/*}*/
/*.banner .bigger{*/
  /*animation: bigger 300ms ease;*/
  /*-webkit-animation: bigger 300ms ease;*/
/*}*/
/*.banner .good_ {*/

  /*background: url('/home/images/special/yes.png') 0 0 no-repeat;*/
/*}*/
/*.banner .isgood {*/
  /*background-size: 16vw 16vw;*/
  /*padding-left: 18vw;*/
/*}*/


#addnum{
  display: none;
}
#addnum .addmove{
  color: #000;
  position:absolute;
  right:10vw;
  bottom:0;
  font-size: 15px;
  opacity: 0;
  filter: Alpha(opacity=0);
  -moz-opacity:0;
  animation: up 0.5s ;
  -moz-animation: up 0.5s ;	/* Firefox */
  -webkit-animation: up 0.5s ;	/* Safari 和 Chrome */
  -o-animation: up 0.5s ;	/* Opera */
  font-style:normal;
}
#addnum .addmove.add{
  color:#EB4F38;
}
#praise-txt.hover{
  color: #EB4F38;
}
.uecontent *{
  width: 100%;
}
.title{
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}
.note{
  color: #999999;
  font-size: 12px;
  padding: 0 4vw;
  text-align: right;
}
.note_{
  padding: 0;
}
/*文章*/
.article {
  width: 100%;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 13px;
}
.article .title {
  color: #333333;
  font-size: 1.8rem;
  font-weight: 600;
}
.article .note {
  color: #999999;
  font-size: 1.2rem;
  line-height: 30px;
}
.article .note span {
  /*margin-right: 10px;*/
}
.article .note_ span {
  margin-right: 0;
}
.article .content {
  width: 100%;
  overflow: hidden;
}
.article .content * {
  max-width: 100%!important;
}
.article .content img {
  display: block;
  max-width: 100%!important;
  margin-bottom: 13px;
}
.article .content .video {
  position: relative;
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  background: rgba(208, 208, 208, 0.5);
}
.article .content .video video {
  width: 100%;
  height: 200px;
}
.article .content .video .play {
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  width: 50px;
  height: 50px;
  opacity: 0.5;
  display: none;
}
.article .content .video iframe {
  width: 100%;
  height: 100%;
}
.article .content .note {
  color: #999999;
  font-size: 14px;
}
.article .content .note span {
  height: 40px;
  display: inline-block;
  margin-right: 10px;
  line-height: 40px;
}
.article .content .note_ span{
  margin-right: 0;
}
.article .content .note .read {
  background: url('/home/images/detail/scan_.png') 0 12px no-repeat;
  background-size: 15px 15px;
  padding-left: 18px;
}
.article .content .note .good {
  background: url('/home/images/detail/good.png') 0 12px no-repeat;
  background-size: 15px 15px;
  padding-left: 18px;

}
.article .content .note .good_ {
  animation: shake 300ms ease;
  -webkit-animation: shake 300ms ease;
  background: url('/home/images/detail/good_.png') 0 12px no-repeat;
  background-size: 15px 15px;
  padding-left: 18px;
}


/*评论*/
.comment {
  padding-bottom: 50px;
}
.comment .sum {
  height: 30px;
  padding-left: 10px;
  background: #fcfcfc;
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  font-size: 1.2rem;
  line-height: 30px;
}
.comment .lists .list {
  width: 100%;
  padding-left: 13px;
  padding-right: 13px;
  min-height: 100px;
  border-bottom: 1px solid #f1f1f1;
}
.comment .lists .list .fl img {
  width: 30px;
  height: 30px;
  margin-top: 13px;
  margin-right: 10px;
  overflow: hidden;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.comment .lists .list .mid {
  width: 73%;
}
.comment .lists .list .mid .name {
  width: 100%;
  height: 56px;
  line-height: 56px;
  color: #999999;
}
.comment .lists .list .mid .content {
  width: 100%;
  word-break: break-all;
}
.comment .lists .list .mid .time {
  font-size: 1.2rem;
  line-height: 20px;
  color: #999999;
}
.comment .lists .list .fr {
  margin-top: 15px;
  color: #999999;
}
.comment .lists .list .good {
  background: url('/home/images/detail/good.png') 0 2px no-repeat;
}
.comment .lists .list .good_ {
  animation: shake 300ms ease;
  -webkit-animation: shake 300ms ease;
  background: url('/home/images/detail/good_.png') 0 2px no-repeat;
}
.comment .lists .list .isgood {
  background-size: 15px 15px;
  padding-left: 18px;
}
.comment .tip {
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #c1c1c1;
}
/*底部*/
.bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 45px;
  padding-left: 10px;
  border-top: 1px solid #f1f1f1;
  background: #ffffff;
  font-family: "Microsoft YaHei", sans-serif;
}
.bottom .star {
  background: url('/home/images/detail/star-border.png') 20px 12px no-repeat;
}
.bottom .star_ {
  animation: shake 300ms ease;
  -webkit-animation: shake 300ms ease;
  background: url('/home/images/detail/star-yellow.png') 20px 12px no-repeat;
}
.bottom .collect {
  width: 60px;
  height: 100%;
  font-size: 1.2rem;
  text-align: center;
  background-size: 20px 20px;
  padding-top: 24px;
}
.bottom .myword input {
  vertical-align: middle;
  height: 30px;
  width: 76vw;
  margin: 7px 0;
  padding-left: 10px;
  background: #fafafa;
  border: 1px solid #d8d8d8;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.bottom .send {
  width: 20.5vw;
  line-height: 45px;
  text-align: center;
}
.bottom .send:active {
  background: #fafafa;
}

@keyframes bigger
{
  0%{
    background-size: 16vw 16vw;
    height: 16vw;
    bottom:-8vw;
  }
  50%{
    background-size: 18vw 18vw;
    height: 18vw;
    bottom:-10vw;
  }
  100% {
    background-size: 16vw 16vw;
    height: 16vw;
    bottom:-8vw;
  }
}

@-moz-keyframes bigger /* Firefox */
{
  0%{
    background-size: 16vw 16vw;
    height: 16vw;
  }
  50%{
    background-size: 18vw 18vw;
    height: 18vw;
  }
  100% {
    background-size: 16vw 16vw;
    height: 16vw;
  }
}

@-webkit-keyframes bigger /* Safari 和 Chrome */
{
  0%{
    background-size: 16vw 16vw;
    height: 16vw;
    bottom:-8vw;
  }
  50%{
    background-size: 18vw 18vw;
    height: 18vw;
    bottom:-10vw;
  }
  100% {
    background-size: 16vw 16vw;
    height: 16vw;
    bottom:-8vw;
  }
}

@-o-keyframes bigger /* Opera */
{
  0%{
    background-size: 16vw 16vw;
  }
  50%{
    background-size: 18vw 18vw;
  }
  100% {
    background-size: 16vw 16vw;
  }
}

@keyframes up
{
  0%{
    bottom:0;
    opacity: 0;
    filter: Alpha(opacity=0);
    -moz-opacity:0;
  }
  25%{
    bottom:4vw;
    opacity: 0.5;
    filter: Alpha(opacity=50);
    -moz-opacity:0.5;
  }
  50%{
    bottom:8vw;
    opacity: 1;
    filter: Alpha(opacity=100);
    -moz-opacity:1;
  }
  75%{
    bottom:12vw;
    opacity: 0.5;
    filter: Alpha(opacity=50);
    -moz-opacity:0.5;
  }
  100% {
    bottom:16vw;
    opacity: 0;
    filter: Alpha(opacity=0);
    -moz-opacity:0;
  }
}

@-moz-keyframes up /* Firefox */
{
  0%{
    top:-8vw;
    opacity: 0;
    filter: Alpha(opacity=0);
    -moz-opacity:0;
  }
  25%{
    top:-4vw;
    opacity: 0.5;
    filter: Alpha(opacity=50);
    -moz-opacity:0.5;
  }
  50%{
    top:0;
    opacity: 1;
    filter: Alpha(opacity=100);
    -moz-opacity:1;
  }
  75%{
    top:4vw;
    opacity: 0.5;
    filter: Alpha(opacity=50);
    -moz-opacity:0.5;
  }
  100% {
    top:8vw;
    opacity: 0;
    filter: Alpha(opacity=0);
    -moz-opacity:0;
  }
}

@-webkit-keyframes up /* Safari 和 Chrome */
{
  0%{
    bottom:0;
    opacity: 0;
    filter: Alpha(opacity=0);
    -moz-opacity:0;
  }
  25%{
    bottom:4vw;
    opacity: 0.5;
    filter: Alpha(opacity=50);
    -moz-opacity:0.5;
  }
  50%{
    bottom:8vw;
    opacity: 1;
    filter: Alpha(opacity=100);
    -moz-opacity:1;
  }
  75%{
    bottom:12vw;
    opacity: 0.5;
    filter: Alpha(opacity=50);
    -moz-opacity:0.5;
  }
  100% {
    bottom:16vw;
    opacity: 0;
    filter: Alpha(opacity=0);
    -moz-opacity:0;
  }
}

@-o-keyframes up /* Opera */
{
  0%{
    top:-8vw;
    opacity: 0;
    filter: Alpha(opacity=0);
    -moz-opacity:0;
  }
  25%{
    top:-4vw;
    opacity: 0.5;
    filter: Alpha(opacity=50);
    -moz-opacity:0.5;
  }
  50%{
    top:0;
    opacity: 1;
    filter: Alpha(opacity=100);
    -moz-opacity:1;
  }
  75%{
    top:4vw;
    opacity: 0.5;
    filter: Alpha(opacity=50);
    -moz-opacity:0.5;
  }
  100% {
    top:8vw;
    opacity: 0;
    filter: Alpha(opacity=0);
    -moz-opacity:0;
  }
}
