
.bottom .myword{
    color: #eeeeee;
}
.bottom .myword input {
    vertical-align: middle;
    height: 8vw;
    width: 94vw;
    margin: 1.8vw 0;
    padding-left: 2.6vw;
    background: #fafafa;
    border: 1px solid #d8d8d8;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    font-size: 1.3rem;
}
.bottom .myword input::-webkit-input-placeholder {
    color: #000;
}
.bottom .myword input:-moz-placeholder {
    color:#000;
}
.bottom .myword input::-moz-placeholder {
    color:#000;
}
.bottom .myword input:-ms-input-placeholder {
    color:#000;
}
.sweet-alert fieldset{
    margin-top: 5vw;
}
.sweet-alert.show-input textarea{
    border: 1px solid #d8d8d8 !important;
    border-radius: 6px;
    width: 100%;
    height: 20vw;
    /*text-indent: 5vw;*/
    padding: 3vw;
}
.sweet-alert p{
    font-size: 18px !important;
}
.sweet-alert .sa-error-container p{
    font-size: 16px !important;
}
.sweet-alert .sa-input-error.show{
    opacity: 0 !important;
}
.sweet-alert.show-input textarea{
    display: block;
}
.sweet-alert textarea{
    display: none;
}