/*yangmingzhe*/
* {
    box-sizing: border-box;
    font-family: 'Microsoft YaHei';
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, p, table, th, td, select, option {
    padding: 0;
    margin: 0;
    list-style: none;
}
.clearfix:before{
    display:table;
    content:'';
}
.clearfix:after{
    display:table;
    content:'';
    clear:both;
}
a{
    text-decoration: none;
}
a:active{
     background-color: rgba(0,0,0,.1);!important;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}