{extend name="public/pure"}

{block name="style"}
<title>梦想小镇红色驿站</title>
<link rel="stylesheet" href="/home/css/common/rem.css">
<link rel="stylesheet" href="/home/css/index/index1.css">
<link rel="stylesheet" href="/home/css/all.css">
<link rel="stylesheet" href="/home/css/swiper-3.4.2.min.css">
<style>
    .swiper-pagination-bullet-active{background-color: #999999;}
    .swiper-pagination-bullet{background-color: #f1f1f1;}
    .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{ bottom: 0 ;}
    #fixed {position: fixed;top:0;left:0;background: #eee;width:100vw;height:100vh;z-index: 99999;display: block;}
    #video {position: fixed;top:0;left:0;background: #eee;width:100vw;height:100vh;z-index: 99999;display: none;}
</style>
{/block}
{block name="body"}
<!--banner-->
<div class="banners">
    <div class="banner">
        <div class="swiper-container1">
            <div class="swiper-wrapper">
                <!--循环体-->
                {volist name="list" id="vo"}
                <div class="swiper-slide">
                    {switch name='$vo.class'}
                    {case value='5'}
                    <a href="{:Url('Activity/activitydetails?id='.$vo['id'])}">
                    {/case}
                    {default/}
                    {/switch}
                        <img data-src="{$vo.front_cover|get_cover='path'}" class="swiper-lazy" alt="">
                        <div class="title limit">{$vo.title}</div>
                    </a>
                </div>
                {/volist}
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <img src="/home/images/banner/banner.jpg" alt="banner">
    <a  class="exit">
        <img src="/home/images/index/exit.png" alt="">
    </a>
    {eq name="visit" value="0"}
    <a href="{:Url('User/usercenter')}" class="rank">
        <img src="/home/images/index/usercenter.png" alt="">

        <img src="{$user|get_header}" alt="">
    </a>
    {/eq}
</div>
<div class="main">
    <div class="itme">
        <a href="{:Url('structure/index')}" class="fl  yszz"><span>云上组织</span></a>
        <a href="{:Url('Activity/index')}" class="fr hdfb"><span>活动发布</span></a>
    </div>
    <div  class="itme">
        <a href="{:Url('servicemenu/index')}" class="fl  fwcd"><span>服务菜单</span></a>
        <a href="{:Url('dreamflash/index')}" class="fr mxkx"><span>梦想快讯</span></a>
    </div>
    <div class="itme">
        <a href="{:Url('college/index?c=1')}" class="fl  tzgg"><span>通知公告</span></a>
        <a  href="{:Url('club/index?c=1')}" class="fr wdst"><span>我的社团</span></a>
    </div>
    <div  class="itme">
        <a href="{:Url('brand/index?ppxm=1')}" class="fl  ppxm"><span>品牌项目</span></a>
        <a href="http://720yun.com/t/y5y529yj691mn4d5f8?pano_id=TlRdoKsSMZ520zqP" class="fr hdzd"><span>活动阵地</span></a>
    </div>
    <div  class="itme">
        <a href="{:Url('learn/index?c=1')}" class="fl  zxdk"><span>在线党课</span></a>
        <a href="{:Url('report/index')}" class="fr wssz"><span>网上述职</span></a>
    </div>
</div>
{eq name="$show" value="1"}
<div>
    <div id="fixed">
        这里放图片
    </div>
    <div id="video">
        <!--<video src="/home/images/video.mp4"  controls="controls" width="300" height="300" id="videos"></video>-->
        <!--<video src="/home/images/video.mp4" id="videos" class="video-source" width="100%" height="300px" controls="controls"-->
        <!--&gt;</video>-->

        <video id="videos" src="/home/images/video.mp4"   x5-playsinline="" playsinline="" webkit-playsinline="" poster="" preload="auto" style="object-fit: fill;position: relative;top:50%;margin-top: -150px;width:100vw;"></video>
    </div>
</div>
{/eq}

{/block}
{block name="script"}
<script src="/home/js/swiper-3.4.2.jquery.min.js"></script>
<script>

//    视频播放

$("#fixed").click(function(){
    //此处写点击触发的操作
    $(this).css("display","none");
    $('#video').css("display","block");
    //1、取得播放器的对象
    var x = document.getElementById("videos");
    //2、调用视频播放API
    x.play();
    //视频停止API
    //objVideo.pause();
    var vid = document.getElementsByTagName('video')[0];
    vid.addEventListener('ended',function(){        //视频播放完的事件
        //这里写跳转
//        window.location = "http://www.baidu.com";
        $('#video').remove();
    },false);
});

//    $(function(){
//        function sA(s,a,t){
//            s.animate(a,t || "normal",function(){
//                if(s.next().length){
//                    sA(s.next(),a,t);
//                }
//            });
//        }
//        var test = $(".itme>a");
//        var testA = {"left":0};
//        var testB = {"right":0};
////        console.log(test.eq(2))
//        for(var i=0;i<$('.itme a').length;i++){
//            if(i%2==0){
//                sA(test.eq(i),testA,2000);
//            }else {
//                sA(test.eq(i),testB,2000);
//            }
//        }
//
////        sA(test.eq(0),testA,3000);
//    });

var _length = $(".itme>a").length;
var _this = $(".itme>a");
for(var k=0;k<_length;k++){
    if(k%2==0){
        _this.eq(k).stop().animate({
            left:'5%',
            opacity:1
        },1000+k*100)
    }else {
        _this.eq(k).stop().animate({
            right:'5%',
            opacity:1
        },1000+k*100)
    }
}

    $(function(){
        $(".exit").on("click",function(){
            swal({
                    title:"",
                    text: "是否确认退出",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonText: "确认",
                    closeOnConfirm: false,
                    cancelButtonText:"取消"
                },
                function(){
                    swal({
                        title: ' ',
                        text: '退出成功！',
                        type: 'success',
                        confirmButtonText:'确定'
                    });
                    setTimeout(function(){
                        window.location.href="{:Url('Verify/logout')}";
                    },1000)
                });
        })
        var swiper = new Swiper('.swiper-container1', {
            lazyLoading: true,
            pagination: '.swiper-pagination',
            autoplay:3000,
            loop:true,
            autoplayDisableOnInteraction:false,// 滑动后继续轮播
            paginationClickable: true,
            slidesPerView: 1,
            spaceBetween: 30,
//            paginationType: 'fraction',
//            prevButton: '.swiper-button-prev',
//            nextButton: '.swiper-button-next',
           // loop: true,
            lazyLoadingInPrevNext: true,
            lazyLoadingInPrevNextAmount: 2
        });
    });
    //正在调试开发项目
    function dataProject () {
        swal({
            title: ' ',
            text: '该模块正在开发！',
            type: 'warning',
            confirmButtonText:'确定'
        });
    }

</script>
{/block}