/*banner*/
.banner {
    width: 100vw;
    height: 50vw;
}
.banner img {
    width: 100%;
    height: 100%;
}
/*tab*/
.tabs {
    width: 100vw;
    height: 45px;
    padding: 8px 0;
    border-bottom: 1px solid #eee;
    text-align: center;
}
.tabs .tab {
    display: inline-block;
    width: 32vw;
    height: 100%;
    color: #333333;
    font-size: 1.5rem;
    line-height: 28px;
    text-align: center;
}
.tabs .tab:first-child {
    border-right: 1px solid #e5e5e5;
}
.tabs .tab:nth-child(2) {
    /*border-right: 1px solid #e5e5e5;*/
}
.tabs .active {
    color: #fd6743;
}

