body{
    background:#f7f7f7;
}
.de_main{
    width: 100vw;
}
.de_main  .title_name{
    font-size:1.4rem;
    color: #ffffff;
    line-height: 6.67vw;
    width:24vw;
    height:6.67vw;
    background:#ff7043;
    position:absolute;
    top:-3vw;
    left:0;
    text-align:center;
    border-radius:0 5vw 5vw 0;
    box-shadow: 0 3px 3px rgba(255,93,67,0.3);

}
.de_main  .detail{
    margin: 7vw 0;
    width:100%;
    font-size: 1.3rem;
    line-height: 5vw;
    text-align: justify;
    background:#ffffff;
    padding:6.6vw 6.4vw;
    position:relative;
    color: #333;
}
.de_main .hotline{
    width:100%;
    margin-top: 6vw;
    font-size: 1.3rem;
    color: #333;
    line-height:4vw;
    text-align:center;
}
.de_main .hotline a{
    color: #333;

}
.de_main  .serv_time{
    width:100%;
    font-size: 1.3rem;
    color: #333;
    line-height: 10vw;
    text-align:center;
}
.de_main  .serv_time span{
   margin-left: 4vw;
}
.article .content .note {
    color: #999999;
    font-size: 1.4rem;
}


.article .content * {
    max-width: 100%!important;
}

 .note {
    color: #999999;
    font-size: 1.2rem;
    line-height: 8vw;
}
 .note {
    border: none;
}

.note {
    color: #999999;
    font-size: 12px;
    /*border-bottom: 1px solid #e2e2e2;*/
    margin-top: 6vw;
}


 .note .read {
     background: url(/home/images/common/scan.png) 8vw 0.55rem no-repeat;
     background-size: 1.2rem 0.73rem;
     padding-left: 13vw;
}

 .note span {
    height: 8vw;
    display: inline-block;
    margin-right: 3vw;
    line-height: 1.8rem;
}
 .content * {
    max-width: 100%!important;
}
 .note .star {
    background: url(/home/images/common/star-border.png) 2vw 0.25rem no-repeat;
    background-size: 1.2rem 1.2rem;
    padding-left: 7vw;
    margin-left: 2vw;
}
.article .content .note .star_ {
    background: url('/home/images/common/star-blue.png') 2vw 0.25rem no-repeat;
    background-size: 1.2rem 1.2rem;
    padding-left: 7vw;
    margin-left: 2vw;
}

 .note span {
    height: 8vw;
    display: inline-block;
    margin-right: 3vw;
    line-height: 1.8rem;
}

.article .content * {
    max-width: 100%!important;
}


.header {
    width: 100vw;
    padding: 2vw 5vw;
}
.header .title {
    width: 100%;
    color: #333;
    font-size: 1.7rem;
    line-height: 26px;
    text-align: center;
    font-weight:600;
}
.header .time,.header .name {
    display: inline-block;
    color: #999;
    font-size: 1.2rem;
    line-height: 16px;
    margin-top: 2.66vw;

}
.header .time {
    float: right;
}

.header .time {
    float: right;
}
.line {
    height: 1px;
    width: 100%;
    background: #f1f1f1;
}