{extend name="public/common"}

{block name="style"}
<title>个人风采</title>
<link rel="stylesheet" href="/home/css/report/detail.css">
<link rel="stylesheet" href="/home/css/common/rem.css">
<style>
    /*.scrollDiy{*/
        /*position: absolute;*/
        /*top:0;*/
        /*bottom:0;*/
        /*overflow-y: scroll;*/
        /*!* 增加该属性，可以增加弹性 *!*/
        /*-webkit-overflow-scrolling: touch;*/
        /*width:100%;*/
    /*}*/
</style>
{/block}
{block name="body"}
    <div class="reportDetail">
        <div class="reportDetailImg"><img src="{$article.front_cover|get_cover='path'}" alt=""></div>
        <div class="reportDetailText">
            <div class="reportDetailText_01"><span>姓名</span><span>{$article.name}</span></div>
            <div class="reportDetailText_01"><span>机构</span><span>{$article.mechanism}</span></div>
            <div class="reportDetailText_01"><span>职位</span><span>{$article.position}</span></div>
            <div class="reportDetailText_01"><span>联系方式</span><span><a href="tel:{$article.mobile}">{$article.mobile}</a></span></div>
            <div class="reportDetailText_02">
                <span>个人介绍</span>
                <div>
                    {$article.content}
                </div>
            </div>
        </div>
        <div class="cont" style="display: inherit;">
            <span class="read" style="float:right;">{$article.views}</span>
        </div>
    </div>

    {eq name="visit" value="0"}
    {eq name="$article.is_vote" value="1"}
    <div class="vote">
        <div class="is_vote">点赞数：<span>{$article.votes}</span></div>
        {notempty name="is_vote"}
        <div class="no_vote vote_btn" style="background: #9bcc35;">点赞</div>
        {else/}
        <div class="no_vote" style="background: #9bcc35;">已点赞</div>
        {/notempty}
    </div>
    {/eq}
    {/eq}

{/block}

{block name="script"}
<script src="/home/js/reset.js"></script>
<script>

    //获取现在投票人数
    var aa = parseInt($(".is_vote span").text());
    //点击投票按钮
    $('.vote_btn').one("click",function () {
        $.ajax({
            type:"post",
            url:"{:Url('Style/vote')}",
            data:{
                id:{$pid},
            },
            success:function(data){
                console.log(data);
            }
        });
        //投票点击后禁止点击
        $(this).removeClass("vote_btn").html('已点赞');
        $(".is_vote span").text(aa+1)


    })

</script>

{/block}