{extend name="base/common"}

{block name="style"}
<style>
    .shadow{width: 100%;height: 100%;position: absolute;left: 0;top: 0;background: rgba(0,0,0,0.4);z-index: 88;}
</style>
{/block}

{block name="page-header"}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>党建之家</h2>
        <ol class="breadcrumb">
            <li>
                内容管理
            </li>
            <li class="active">
                <strong><a href="{:Url('News/index')}">列表页</a></strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
{/block}

{block name="main"}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>新闻列表</h5>
                    <div class="ibox-tools">
                        <a data-toggle="modal" class="btn btn-sm btn-primary" href="{:Url('News/add')}">添加新闻</a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th><input class="i-checks check-all" type="checkbox"></th>
                                <th>新闻内容</th>
                                <th>图片</th>
                                <th>发布人</th>
                                <th>部门</th>
                                <th>创建时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {volist name="list" id="vo"}
                            <tr>
                                <td><input type="checkbox" class="i-checks" name="input[]"></td>
                                <td>{$vo.content|msubstr=0,20}</td>
                                <td>
                                    {volist name="$vo.images|json_decode" id="img"}
                                        <img src="{$img|get_cover='path'}" alt="" width="20px" height="20px">
                                    {/volist}
                                </td>
                                {eq name="$vo.create_user" value=""}
                                <td>官方发布</td>
                                {else/}
                                <td>{$vo.create_user|get_name}</td>
                                {/eq}

                                {eq name="$vo.department_name" value=""}
                                <td>梦想小镇</td>
                                {else/}
                                <td>{$vo.department_name}</td>
                                {/eq}
                                <td>{$vo.create_time|date='Y-m-d',###}</td>
                                <td>
                                    <a href="{:Url('News/edit?id='.$vo['id'])}">修改</a>
                                    &emsp;<a href="{:Url('News/del?id='.$vo['id'])}" class="confirm ajax-del">删除</a>
                                </td>
                            </tr>
                            {/volist}
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="10">
                                    <div class="page">{$_page}</div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<iframe id="iframe" src="" style="height: 80%;width: 392px;z-index: 99;position: absolute;top: 10%;border: 0;left: 32%;background: #fff;display: none;" scrolling="auto" seamless></iframe>
<div class="shadow" style="display: none"></div>
{/block}

{block name="script"}
<script src="/admin/js/plugins/iCheck/icheck.min.js"></script>
<script>
    $(document).ready(function(){
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
    });

</script>
{/block}