em{
   font-style: inherit;
}
/*tab*/
.tabs {
    width: 100vw;
    height: 14.7vw;
    background: #f1f1f1;
}
.tabs .tab {
    display: inline-block;
    width: 32vw;
    height: 100%;
    color: #fff;
    font-size: 1.6rem;
    line-height: 14.7vw;
    text-align: center;
}
/*.tabs .tab:nth-child(2) {*/
/*border-right: 1px solid #e5e5e5;*/
/*}*/
.tabs .active {
    color: #fd6743;
}
.triangle-up {
    border-left: 2.66vw solid transparent;
    border-right: 2.66vw solid transparent;
    border-bottom: 3.46vw solid #fff;
    position: absolute;
    top: 11.5vw;
    left: 13.06vw;
}

.lists>ul>li{
    padding:6vw 4vw;
    height:28vw;
    border-bottom: 1px solid #f7f7f7;
}
.lists>ul>li:before{
    display: block;
    content:  attr(data-content);
    background: url(/home/images/pioneer/hexagon.png);
    background-size: 5.4vw 6.2vw;
    width: 5.4vw;
    height: 6.2vw;
    line-height: 6.2vw;
    float: left;
    margin-top: 4vw;
    margin-right: 3.2vw;
    text-align: center;
    color: #fff;
}
.lists>ul>li img{
    float: left;
    width: 16vw;
    height: 16vw;
    border-radius: 50%;
    margin-right: 1.2vw;
}
.lists>ul>li span{
    display: block;
    font-size: 1.2rem;
    color: #999;
    margin-top: 2vw;
    margin-left: 3vw;
}
.lists>ul>li span:nth-child(2){
    display:block;
    font-size: 1.4rem;
    color: #333;
}
.lists>ul>li span:last-child{
    width: 24vw;
    height:8vw;
    float: right;
    border-radius: 30px;
    font-size:1.2rem;
    color: #fff;
    line-height: 8vw;
    text-align: center;
    margin-top: -30px;
    background: -moz-linear-gradient(left, #f99300, #ff5c5c);
    background: -webkit-linear-gradient(left, #f99300, #ff5c5c);
    background: -o-linear-gradient(left, #f99300, #ff5c5c);
    -moz-box-shadow:0px 2px 3px #ff5c5c;
    -webkit-box-shadow:0px 2px 3px #ff5c5c;
    box-shadow:0px 2px 3px #ff5c5c;
}
.lists>ul>li span:last-child i{
    position: relative;
    top:1vw;
    margin-right: 1.2vw;
    display: inline-block;
    background: url("/home/images/pioneer/good.png");
    background-size: 5.4vw 5.4vw;
    width: 5.4vw;
    height: 5.4vw;
}
.deeds .content .notices .notice .list {
    height: 22vw;
}
.deeds .content .notices .notice .list {
    display: block;
    width: 100%;
    padding-left: 3vw;
    padding-right:  3vw;
    border-bottom: 1px solid #f1f1f1;
    color: #666666;
}
.deeds .content .notices .notice .list .fl img {
    width: 21.3vw;
    height: 16vw;
    margin-top: 3vw;
}
.deeds .content .notices .notice .list .right {
    width: 69vw;
    height: 16vw;
    margin-top: 3vw;
    margin-left: 3vw;
    position: relative;
}
.deeds .content .notices .notice .list .right .title {
    float: left;
    color: #111;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 1.5rem;
    width: 100%;
}
.deeds .content .notices .notice .list .title {
    color: #333333;
    font-size: 1.4rem;
}
.deeds .content .notices .notice .list .time {
    display: block;
    width: 65vw;
    font-size: 1.2rem;
    color: #999;
    position: absolute;
    bottom: 0;
}
.deeds .content .notices .notice.activity .list .right {
    width: 100%;
    height: 60px;
    margin-top: 10px;
    margin-left: 10px;
}
.bottom {
    position: fixed;
    bottom: -45px;
    width: 100vw;
    height: 45px;
    border-top: 1px solid #dadada;
    padding: 0 4vw;
    background: #ffffff;
    font-family: "Microsoft YaHei", sans-serif;
}
.bottom .myword input {
    vertical-align: middle;
    height: 30px;
    width: 72vw;
    margin: 7px 0;
    padding-left: 10px;
    background: #fafafa;
    border: 1px solid #d8d8d8;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}
.bottom .send {
    width: 18vw;
    line-height: 45px;
    text-align: center;
}
.bottom .send:active {
    background: #fafafa;
}

.liked{
    background:#d3d3d3!important;
    box-shadow:0px 2px 3px #d3d3d3!important;
}