.activity .banner {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50vw;
}
.activity .banner .banner-img {
  width: 100%;
  height: 100%;
}
.activity .banner .tag {
  position: absolute;
  top: 46.5vw;
  left: 36vw;
  display: inline-block;
  width: 28vw;
  height: 7vw;
  background: #ffffff;
  color: #fc4f42;
  font-size: 1.6rem;
  line-height: 7vw;
  text-align: center;
  box-shadow: 1px 3px 8px rgba(153, 153, 153, 0.48);
}
.activity .lists {
  margin: 5vw auto;
}
.activity .lists .list {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 5vw 4vw 2vw 10vw;
  border-bottom: 1px solid #f1f1f1;
}
.activity .lists .list:nth-child(3) {
  border-bottom: none;
}
.activity .lists .list:before {
  position: absolute;
  top: 5.6vw;
  left: 4vw;
  content: '';
  width: 15px;
  height: 15px;
  background: url('/home/images/constitution/circle01.png') 0 0 no-repeat;
  background-size: 15px 15px;
}
.activity .lists .list:nth-child(2):before {
  background: url('/home/images/constitution/circle02.png') 0 0 no-repeat;
  background-size: 15px 15px;
}
.activity .lists .list:nth-child(3):before {
  background: url('/home/images/constitution/circle03.png') 0 0 no-repeat;
  background-size: 15px 15px;
}
.activity .lists .list .title {
  width: 100%;
  color: #333333;
  font-size: 1.6rem;
  line-height: 20px;
  margin-bottom: 8px;
}
.activity .lists .list label {
  display: block;
  width: 100%;
  color: #333333;
  font-size: 1.5rem;
  line-height: 24px;
  font-weight: normal;
}
.activity .lists .list label.checked {
  color: #fc4f42;
}
.activity .lists .list .note {
  width: 100%;
}
.activity .lists .list .note span {
  display: inline-block;
  width: 49%;
}
.activity .lists .list .note .true i {
  color: #fc4f42;
}
.activity .lists .list .number {
  width: 100%;
  margin: 0 auto;
  text-align: right;
  color: #999999;
  font-size: 1.2rem;
  line-height: 14px;
}
.activity .submit {
  width: 80vw;
  height: 9vw;
  margin: 4vw auto;
  background: #fc4f42;
  text-align: center;
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 9vw;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  box-shadow: 1px 3px 8px rgba(252, 79, 66, 0.51);
}
#modal .modal-content {
  width: 60vw;
  margin-top: 35vh;
  margin-left: 18vw;
}
#modal .modal-content .modal-body {
  text-align: center;
}
#modal .modal-content .modal-body .score {
  color: #fc4f42;
}
#modal .modal-content .modal-footer {
  text-align: center;
}
#modal .modal-content .modal-footer a {
  color: #fc4f42;
  font-size: 1.6rem;
  line-height: 30px;
}
