/*banner*/
.banner {
    width: 100vw;
    height: 50vw;
}
.banner img {
    width: 100%;
    height: 100%;
}
/*tab*/
.tabs {
    width: 100vw;
    height: 11.7vw;
    padding: 2.1vw 0;
    background: #f1f1f1;
}
.tabs .tab {
    display: inline-block;
    width: 49%;
    height: 7.5vw;
    color: #333333;
    font-size: 1.5rem;
    line-height: 7.5vw;
    text-align: center;
}
.tabs .tab:first-child {
    border-right: 1px solid #e5e5e5;
}
/*.tabs .tab:nth-child(2) {*/
    /*border-right: 1px solid #e5e5e5;*/
/*}*/
.tabs .active {
    color: #fd6743;
}

