{extend name="public/common"}

{block name="style"}
<title>为党庆生</title>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
//---微信接口JS-SDK的调用
wx.config({
	debug: false,
	appId: '{$jsSign.appId}', // 必填，公众号的唯一标识
	timestamp: "{$jsSign['timestamp']}", // 必填，生成签名的时间戳，切记时间戳是整数型，别加引号
	nonceStr: '{$jsSign.nonceStr}', // 必填，生成签名的随机串
	signature: '{$jsSign.signature}', // 必填，签名，见附录1
	jsApiList: [
		'checkJsApi',
		'chooseImage',
		'previewImage',
		'uploadImage',
		'downloadImage',
		'onMenuShareTimeline',
		'onMenuShareAppMessage',
	]
});

wx.ready(function () {
	//ios音乐播放
	var globalAudio=document.getElementById("music");
	globalAudio.play();
	//分享到朋友圈
	wx.onMenuShareTimeline({
		title: '{$info.title}',
		link: '{$info.link}',
		imgUrl: '{$info.share_image}',
		success: function () {
			// 用户确认分享后执行的回调函数
		},
		cancel: function () {
			// 用户取消分享后执行的回调函数
		}
	});
	//分享给朋友
	wx.onMenuShareAppMessage({
		title: '{$info.title}', // 分享标题
		desc: '{$info.desc}', // 分享描述
		link: '{$info.link}', // 分享链接
		imgUrl: '{$info.share_image}', // 分享图标
		type: '', // 分享类型,music、video或link，不填默认为link
		dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
		success: function () {
			// 用户确认分享后执行的回调函数
		},
		cancel: function () {
			// 用户取消分享后执行的回调函数
		}
	});

});
</script>
<link rel="stylesheet" href="/home/css/common/rem.css">
<link rel="stylesheet" href="/home/css/birth/detail.css">
{/block}

{block name="body"}
<div class="bg">
	<img src="/home/images/birth/logo.png" alt="logo" class="logo">
	<div class="music">
		<audio src="/home/images/birth/music2.mp3" id="music"  autoplay loop></audio>
		<img src="/home/images/birth/play.png" alt="播放" id="birthplay" class="rotate">
	</div>
	<div class="citation">
		<img src="/home/images/birth/citation.png" alt="奖状" >
		<div class="note">
			<div class="name"><span>{$name}</span>同志:</div>
			<div class="time">您的入党日期为<span>{$str1}</span>，截止到活动参与时，您已入党<span>{$str2}</span>。</div>
		</div>
	</div>
	<div class="content">
		<div>我为党庆生！您是第<span>{$num}</span>位</div>
		<div>祝福中国共产党96岁生日的小镇创客</div>
		<div>转发微信参与祝福传递。  </div>
	</div>
	<img src="/home/images/birth/code.png" alt="二维码" class="code">
</div>
{/block}

{block name="script"}

<script>
$(function() {
	//音乐
	var img = $('#birthplay');
	img.off('click').on('click',function(){
		if($(this).attr('src')=='/home/images/birth/play.png'){
			$(this).attr('src','/home/images/birth/pause.png');
			$('#music')[0].pause();
		}
		else{
			$(this).attr('src','/home/images/birth/play.png');
			$('#music')[0].play();
		}
		img.toggleClass('rotate');
	});
});

</script>
{/block}