{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/static/sweetalert/sweetalert2.min.css">
<style>
    body{
        background: url("/home/images/birth/bg.jpg");
        background-size: 100% ;
        width: 100%;
        height: 100%;
    }
     ::-webkit-input-placeholder{
         font-size: 1.4rem;
         color: #cecece;
         text-align: left;
           }
    /*mask*/
    .mask{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .content .main img:first-child{
        width: 8vw;
        position: absolute;
        left: 5px;
        top: 5px;
    }
    .content .main img:last-child{
        width:67vw;
        margin-top: 50px;
    }
    .content .main{
        text-align: center;

    }
    .text{
        text-align: center;
        margin-top: 20px;
    }
    .text p{
        padding: 1.2vw 0;
        font-size: 1.6rem;
        color: #cc0000;
    }
    .bottom{
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: -1;
    }
    .bottom img{
        width:100%;
    }

    /*homepage*/
    .homepage{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .homepage .main{
        text-align: center;

    }
    .homepage .main img:first-child{
        width: 8vw;
        position: absolute;
        left: 5px;
        top: 5px;
    }
    .homepage .main img:last-child{
        width:77vw;
        margin-top: 50px;
    }
    .hometext{
        text-align: center;
        margin-top: 40px;
    }
    .hometext p{
        font-size: 1.6rem;
        color: #f12b2c;
        margin-bottom: 10px;
    }
    .name,.date{
        background: #fff;
    }
    .name:after,.date:after{
        display: block;
        content: "";
        height: 1px;
        background: #eee;
        width: 67vw;
        position: absolute;
        left: 18vw;
    }
    .username{
        background: url(/home/images/birth/username.png);
        background-size: 15px 17px;
        width: 15px;
        height: 17px;
        display: inline-block;
        position: relative;
        top:5px;
    }
    .userdate{
        background: url(/home/images/birth/userdate.png);
        background-size: 15px 17px;
        width: 15px;
        height: 17px;
        display: inline-block;
        position: relative;
        top:5px;
    }
    #name,#date{
        height:10vw;
        width: 57vw;
        padding-left: 10px;
    }
    .hometext .input input:first-child{
        width: 16vw;
        height: 10vw;
        margin-right: 10px;
    }
    .submit{
        width:100%;
        margin-top: 30px;
        text-align: center;
    }
    .submit span{
        display: inline-block;
        width: 42vw;
        height: 10vw;
        font-size: 1.5rem;
        background: #f00;
        border-radius: 30px;
        line-height: 10vw;
        color: #fff;
        -webkit-box-shadow:1px 4px 4px rgba(255, 61, 23, 0.4);
        box-shadow:1px 4px 4px rgba(255, 61, 23, 0.4);
        background: -moz-linear-gradient(left, #ff8710, #ff3d17);
        background: -webkit-linear-gradient(left, #ff8710, #ff3d17);
        background: -o-linear-gradient(left, #ff8710, #ff3d17);
    }

    input[type="date"]:before{
        content: attr(placeholder);
        color: #cecece;
    }

    ::-webkit-input-placeholder {
        color:#cecece;
    }

    @media screen and (device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2){
        .text p{
            font-size: 1.2rem;
        }
        .homepage .main img:last-child {
            width: 68vw;
            margin-top: 50px;
        }
    }
</style>
{/block}

{block name="body"}
<div class="mask">
<div class="content">
<div class="main">
    <img src="/home/images/birth/index_seal.png">
    <img src="/home/images/birth/index_main.png">
</div>
    <div class="text">
        <p>中国共产党于1921年7月23日成立</p>
         <p>1938年5月毛泽东在《论持久战》一文中</p>
           <p>提出把7月1日作为中国共产党的</p>
            <p>诞辰纪念日</p>
    </div>
<div class="bottom">
    <img src="/home/images/birth/index_bottom.jpg">
</div>
</div>
</div>

<div class="homepage"  style="display: none;">
    <div class="main">
        <img src="/home/images/birth/index_seal.png">
        <img src="/home/images/birth/homepage.png">
    </div>
    <div class="hometext">
        <p>请选择您的入党日期</p>
        <div class="name">
            <span class="username"></span>
        <input type="text"  placeholder="请输入姓名" id="name">
        </div>
        <div class="date">
            <span class="userdate"></span>
            <input placeholder="请选择入党日期" type="date"  id="date">
        </div>
    </div>
    <div class="submit"><span>确认上传</span></div>
</div>
{/block}

{block name="script"}
<script src="/static/sweetalert/sweetalert2.min.js"></script>
<script>
$(function(){
    setTimeout(function(){
        $(".mask").fadeOut();
        $(".homepage").fadeIn();
    },5000)
    var o = document.getElementById('date');
    o.onfocus = function(){
        this.removeAttribute('placeholder');
    };
    o.onblur = function(){
        if(this.value == '') this.setAttribute('placeholder','请选择入党日期');
    };
})

$(".mask").click(function(){
    $(this).fadeOut();
    $(".homepage").fadeIn();
});

$(".submit span").click(function(){
    var name = $("#name").val();
    var date  =$("#date").val();
    if(name==""){
        swal({
            title: ' ',
            text: '请输入姓名',
            type: 'warning',
            showConfirmButton:false,
            timer:1500
        });
        return false;
    }
    if(date==""){
        swal({
            title: ' ',
            text: '请选择入党日期',
            type: 'warning',
            showConfirmButton:false,
            timer:1500
        });
        return false;
    }
    $.ajax({
        type:"post",
        url: "{:Url('Birth/detail')}",
        data:{
            name:name,
            data:date
        },
        success:function(data){
                if(data===0){
                    swal({
                        title: ' ',
                        text: '选择的入党日期有误',
                        type: 'warning',
                        showConfirmButton:false,
                        timer:1500
                    });
                }else{
                    window.location.href="/home/birth/detail/id/"+data;
                }
        }
    })
})


</script>
{/block}