{extend name="public/common"}

{block name="style"}
<title>关于小镇</title>
<link rel="stylesheet" href="/home/css/birth/smallTown.css">
{/block}

{block name="body"}
 <div class="banner">
     <img src="/home/images/banner/1.jpg" alt="">
 </div>

<div class="detail">
    <div class="title_name ">小镇介绍</div>
    <p>梦想小镇，是余杭为泛大学生群体专门打造的互联网创业平台。2014年8月，在省市谋篇布局特色小镇、大力培育信息经济的大背景下，梦想小镇扬帆起航。</p>
    <p>在省市领导的关心重视和社会各界的支持下，抓住“大众创业、万众创新”的时代浪潮，瞄准互联网创业的台风口，充分发挥区域资源禀赋，梦想小镇大胆探索，大力构筑创新创业生态系统，快速吸引了一大批年轻创客。他们在这里将各种奇思妙想付诸实践，把创意变成产品，将智慧变成财富。梦想小镇，成为了一个备受瞩目的大舞台和新景点，并为特色小镇建设积累了许多可复制推广的经验和做法。</p>
    <p>伴随梦想小镇的快速发展和创新创业的蓬勃兴起。梦想小镇的党建群团事业也在不断探索和创新。2017年以来，在上级组织部门及工会、共青团、妇联的指导下，梦想小镇积极推进群团组织建设，小镇工青妇组织已经基本建立。截止11月底，梦想小镇常驻办公的职工人数5612名，其中在册党员152名，女性人数2162名，35周岁以下青年人数4609名，28周岁下团员人数2848名。</p>
    <p>2017年9月，在省市深入贯彻中央党的群团工作会议精神，大力推进群团改革的大背景下，梦想小镇幸运地成为了浙江省首批三家群团改革试点单位之一，承担起了先行先试的重要使命。</p>

</div>

{/block}

{block name="script"}
{/block}