{extend name="public/pure"}
{block name="style"}
<title>个人中心</title>
<link rel="stylesheet" href="/home/css/user/usercenter.css">
<link rel="stylesheet" href="/home/css/common/rem1.css">
<style>
    #upload{
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0;
    }
</style>
{/block}

{block name="body"}
<div class="top">
    <div class="content">
    <div class="userImg">
        <div class="shadow"></div>
        <div class="userImgBox">
            <img src="{$user.headimgurl}" alt="" class="up">
            <input type="file" class="hide" id="upload" accept="image/jpg, image/png, image/gif, image/jpeg">
        </div>
    </div>
        <div class="topName">{$user.name}</div>
        <div class="topDepartment">{$user.department}</div>
    </div>
    <div class="rule">
        <img src="/home/images/user/rule.png" alt="">
        <!--<span>积分规则</span>-->
    </div>
    <div class="bottomRank">
        <div>我的积分 ：{$user.score}</div>
        <div>我的排行 ：{$user.rank}</div>
    </div>
</div>

<div id="bk">
    <div>
        <a></a>
        <img src="/home/images/rank/7.png" alt="">
        <p>
            您可以通过浏览文章、点赞、评论等获取相应积分，具体如下：
            <br>
            <br>
            文章浏览：<b>1</b>分
            <br>
            评论点赞：<b>1</b>分
            <br>
            发表评论：<b>1</b>分
            <br>
            每日一课：<b>1</b>分
            <br>
            <br>
            通过以上互动行为，您可以累积积分！
        </p>
    </div>
</div>
{/block}

{block name="script"}
<script>
    //css适配
    $(function(){
        $('#bk').height($(window).height());
    });
    //积分规则
    $('.rule').click(function(){
        $('#bk').fadeIn(300);
        $('#bk>div').fadeIn(300).css({'top':'50%'});
    });
    //积分窗口关闭
    $('#bk>div>a').click(function(){
        $('#bk').fadeOut(300);
        $('#bk>div').fadeOut(300).css({'top':'0%'});
    });

    //触发上传按钮
    var up = $('.up' );
    up.off("click").on('click',function(){
        $('#upload').click();
    });

    //上传图片并获取信息
    $('#upload').off("change").on('change',function(){
//        var up = $('.userImg img');
        var size = ($(this)[0].files[0].size / 1024).toFixed(2);
        if(size <= 2048){
            var img = $(this)[0].files[0];
            var formData = new FormData();
            formData.append("picture",img);
            $.ajax({
                type:"post",
                url:"{:Url('File/uploadHead')}",
                data:formData,
                processData : false,
                contentType : false,
                success:function(data){
                    var msg = $.parseJSON(data);
                    if(msg.code == 1){
                        var image = new Image();
                        image.src = msg.data.path ;
                        up.attr('src',msg.data.path);
                        $.ajax({
                            type:"post",
                            url:"{:Url('Rank/setHeader')}",
                            data:{header:msg.data.path},
                            success:function(data){
                                swal({
                                    title: ' ',
                                    text: data.msg,
                                    type: 'success',
                                    confirmButtonText:'确定',
                                    timer:2000
                                });
                            }
                        })
                    } else {
                        swal({
                            title: ' ',
                            text: '上传失败!',
                            type: 'error',
                            confirmButtonText:'确定',
                            timer:2000
                        });
                        return;
                    }
                }
            });
        } else {
            swal({
                title: ' ',
                text: '您选择的图片超过2mb，请重新选择!',
                type: 'error',
                confirmButtonText:'确定',
                timer:2000
            });
            return;
        }
    });
</script>
{/block}