
.header {
    width: 100vw;
    /*height:18.8vw;*/
    padding: 2vw;
}
.header .title {
    width: 100%;
    color: #333;
    font-size: 1.7rem;
    line-height: 26px;
}
.header .time,.header .name {
    display: inline-block;
    color: #999;
    font-size: 1.2rem;
    line-height: 16px;
    margin-top: 2.66vw;
}
.header .time {
    float: right;
}
.line{
    height:1px;
    width: 100%;
    background: #f1f1f1;
}
.content{
    width: 100vw;
    padding: 5.33vw 4vw;
}
.content img {
    display: block;
    max-width: 100%;
    margin: 4vw auto;
}
.content .text{
    font-size: 1.3rem;
    color: #4f4f4f;
}
.content .get {
    width: 87.2vw;
    height: 9.4vw;
    margin: 5.33vw auto;
    text-align: center;
    color: #ffffff;
    font-size: 1.6rem;
    line-height: 9.4vw;
    -webkit-border-radius: 6px;
    border-radius: 30px;
}
.content .get.yes {
    background: -moz-linear-gradient(left, #f99300, #ff5c5c);
    background: -webkit-linear-gradient(left, #f99300, #ff5c5c);
    background: -o-linear-gradient(left, #f99300, #ff5c5c);
}
.content .get.no {
    background: #9a9a9a;
}
.gray{
    height:2.66vw;
    width:100%;
    background: #f7f7f7;
}
.enroll .title {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 9.33vw;
    padding-left: 4vw;
    color: #666;
    font-size: 1.2rem;
    line-height: 9.33vw;
    border-bottom: 1px solid #f1f1f1;
}
.enroll .lists .list {
    padding: 2.7vw 4vw;
}
.enroll .lists .list > * {
    display: inline-block;
    color: #666666;
    font-size: 1.3rem;
}
.enroll .lists .list img {
    width: 10.7vw;
    height: 10.7vw;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.enroll .lists .list .name {
    width: 18vw;
    padding-left: 3.73vw;
    font-size: 1.4rem;
    color: #333;
}
.enroll .lists .list .publish {
    width: 38vw;
    position: absolute;
    left: 19vw;
    padding-top: 7vw;
    color: #999;
}
.enroll .lists .list .time {
    width: 22vw;
   position: absolute;
    padding-top: 7vw;
    right: 0;
    color: #999;
}




.content .article {
    width: 100%;
    padding-left: 3.4vw;
    padding-right: 3.4vw;
    /*font-size: 1.6rem;*/
    /*text-indent: 3.2rem;*/
}
.content .article * {
    max-width: 100%!important;
}
.content .article p {text-align: justify;}
/*评论*/
.comment {
    padding-left:0.3rem;
    padding-right: 0.3rem;
}
.comment .sum {
    height: 30px;
    padding-left: 10px;
    background: #fbfbfb;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    font-size: 1.2rem;
    line-height: 30px;
}
.comment .lists .list {
    width: 100%;
    min-height: 90px;
    border-bottom: 1px solid #dadada;
    position: relative;
    overflow: hidden;
}
@media screen and (device-width: 320px){

    .comment .lists .list {
        min-height: 75px;
    }

}
.comment .lists .list .fl img {
    float:left;
    width: 4rem;
    height: 4rem;
    margin-top: 13px;
    margin-right: 10px;
    margin-bottom: 13px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.comment .lists .list .mid {
    width: 84%;
    margin-top: 10px;
}
.comment .lists .list .mid .name {
    font-size:1.4rem;
    width: 80%;
    margin-top: 0.8rem;
    margin-bottom: 0.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #666666;
}
.comment .lists .list .mid .content {
    width: 100%;
    word-break: break-all;
    font-size:1.4rem;
    margin-top: 2vw;
    margin-bottom: 6vw;
    line-height:1.5rem;

}
.comment .lists .list .mid .time {
    font-size: 1.2rem;
    line-height: 20px;
    color: #666666;
    position:absolute;
    bottom:5px;
}
.comment .lists .list .fr {
    margin-top: 15px;
    color: #666666;
}
.comment .lists .list .good {
    background: url('/home/images/detail/good.png') 0 2px no-repeat;
}
.comment .lists .list .good_ {
    animation: shake 300ms ease;
    -webkit-animation: shake 300ms ease;
    background: url('/home/images/detail/good_.png') 0 2px no-repeat;
}
.comment .lists .list .isgood {
    background-size: 15px 15px;
    padding-left: 18px;
    position: absolute;
    top: 5px;
    right:0;
}
.comment .tip {
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #c1c1c1;
}
/*底部*/
.bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 12vw;
    padding-left: 2.6vw;
    border-top: 1px solid #f1f1f1;
    background: #ffffff;
    font-family: "Microsoft YaHei", sans-serif;
}
.bottom .star {
    background: url('/home/images/detail/star-border.png') 20px 12px no-repeat;
}
.bottom .star_ {
    animation: shake 300ms ease;
    -webkit-animation: shake 300ms ease;
    background: url('/home/images/detail/star-yellow.png') 20px 12px no-repeat;
}
.bottom .collect {
    width: 60px;
    height: 100%;
    font-size: 1.2rem;
    text-align: center;
    background-size: 20px 20px;
    padding-top: 24px;
}
.bottom .myword input {
    vertical-align: middle;
    height: 8vw;
    width: 76vw;
    margin: 1.8vw 0;
    padding-left: 2.6vw;
    background: #fafafa;
    border: 1px solid #d8d8d8;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    font-size: 1.3rem;
}
.bottom .send {
    width: 20.5vw;
    line-height: 12vw;
    text-align: center;
    font-size: 1.5rem;
}
.bottom .send:active {
    background: #fafafa;
}
@media (max-width: 320px) {
    .myword input {
        width: 200px;
    }
}
/*加载动画*/
.loading {
    width: 100%;
    height: 40px;
}
.typing_loader {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    -webkit-animation: typing 1s linear infinite alternate;
    -moz-animation: Typing 1s linear infinite alternate;
    animation: typing 1s linear infinite alternate;
    position: relative;
    top: 17px;
    left: calc( 50vw - 15px );
}

.article  .note {
    color: #999999;
    font-size: 14px;
    height: 40px;
}
.article  .note span {
    height: 40px;
    display: inline-block;
    margin-right: 10px;
    line-height: 40px;
}
.article  .note_ span{
    margin-right: 0;
}
.article  .note .read {
    background: url('/home/images/detail/scan_.png') 0 center no-repeat;
    background-size: 1.5rem 1.5rem;
    padding-left: 1.8rem;
    float: right;
    text-indent: 0;
}
.article  .note .good {
    background: url('/home/images/detail/good.png') 0 center no-repeat;
    background-size: 1.5rem 1.5rem;
    padding-left: 1.8rem;
    float: right;
    text-indent: 0;
}
.article .note .good_ {
    animation: shake 300ms ease;
    -webkit-animation: shake 300ms ease;
    background: url('/home/images/detail/good_.png') 0 center no-repeat;
    background-size: 1.5rem 1.5rem;
    padding-left: 1.8rem;
    float: right;
    text-indent: 0;
}

