.bg{
	width: 100vw;
	height:100vh;
	background: url("/home/images/birth/bg.jpg") no-repeat;
	background-size:100vw 100vh;
}
.logo{
	width: 3rem;
	height: 3rem;
	margin: 1rem 0 0 1rem;
}
#birthplay{
	position:absolute;
	top:1rem;
	right:1rem;
	width:3rem;
	height:3rem;
	display: block;
	-webkit-transform-origin: 1.5rem 1.5rem;
	z-index:1000000;
}
#birthplay.rotate{
	animation:rotate 5s 0.1s infinite linear;
	-webkit-animation:rotate 5s 0.1s infinite linear;
}
@-moz-keyframes rotate{
	0%{
		-moz-transform:rotate(0deg);
	}
	100%{
		-moz-transform:rotate(360deg);
	}
}
@-webkit-keyframes rotate{
	0%{
		-webkit-transform:rotate(0deg);
	}
	100%{
		-webkit-transform:rotate(360deg);
	}
}
@keyframes rotate{
	0%{
		transform:rotate(0deg);
	}
	100%{
		transform:rotate(360deg);
	}
}
.citation{
	position: relative;
	margin: 1rem auto;
	width: 92.3vw;
	height: 61.3vw;
}
.citation img{
	width: 100%;
	height:100%;
	opacity: 0.9;
}
.citation .note{
	position: absolute;
	top:6.5rem;
	left:14.15vw;
	width: 64vw;
	font-size: 1.2rem;
	line-height: 2rem;
}
.citation .note .name{
	font-size: 1.2rem;
}
.citation .note .time{
	text-indent: 2em;
}
.citation .note .time span{
	color:red;
}
.content{
	color:#333333;
	text-align: center;
	font-size: 1.5rem;
	line-height: 2.6rem;
	margin-bottom: 1rem;
}
.content span{
	color: #af0000;
}
.code{
	display: block;
	width: 10rem;
	height:14.3rem;
	margin: 0 auto;
}

@media screen and (max-width: 320px) {
	.logo{
		margin: 0.5rem 0 0 0.5rem;
	}
	.citation{
		margin: 0.5rem auto;
	}
	.citation .note{
		top:4.5rem;
		left:14.15vw;
		width: 64vw;
		font-size: 1.2rem;
		line-height: 1.6rem;
	}
	.content{
		font-size: 1.5rem;
		line-height: 2rem;
		margin-bottom: 1rem;
	}
	.code{
		width: 8rem;
		height:11.44rem;
		margin: 0 auto;
	}
}
