{extend name="public/common"}

{block name="style"}
<title>品牌项目</title>
<link rel="stylesheet" href="/home/css/swiper-3.4.2.min.css">
<style>
    .serveries {position: relative;margin: 0 auto;width:100%; border-bottom: 1px solid #f1f1f1; padding-bottom: 5.33vw;}
    .serverContent {width:90%;position: relative;margin: auto;}
    .border {display: block;width:2vw;height:6vw;background: #ff7043;position: absolute;top:0;left:-5vw;border-bottom-right-radius:4px;border-top-right-radius:4px }
    .serverContent .serverTitle {font-size: 1.8rem;margin: 5.33vw  0 1.67vw 0;padding-left: 4vw;color: #333;}
    .serverContent .serverText {text-align: justify;font-size: 1.3rem;color: #999;
        line-height: 24px;
    }
    .serverContent .serverText span {
        font-family: "Microsoft yahei" !important;
        font-size: 1.8rem !important;
        line-height: 6.4vw !important;
    }
    .serverBanner {margin-top: -1vw;}
    .banner {position: relative;width:100%;height:100%;margin:2.7vw auto 0;overflow: hidden;}
    .banner .swiper-container1 {  width: 100%;  height: 100%;  }
    .banner .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    .banner img {width:87.2vw;height:40vw;position: relative;border-radius: 8px;}
    .banner .swiper-pagination {width:10.7vw;height:4.8vw;line-height:4.8vw;background: #fff;right:13.33vw;left:inherit;bottom:inherit;top:4vw;border-radius: 20px;color: #ff7041;font-size: 1.2rem;box-shadow: 0 0 2px rgba(0,0,0,.2) }
    .num {position: absolute;top:0;right:0;}
    .banner .swiper-button-next , .banner .swiper-button-prev  {width:8.53vw;height:8.53vw;margin-top: -4.3vw;}
    .swiper-button-next, .swiper-container-rtl .swiper-button-prev {background-image: inherit;}
    .swiper-button-prev, .swiper-container-rtl .swiper-button-next {background-image: inherit;}
    .banner .swiper-button-next img , .banner .swiper-button-prev img {width:100%;height:100%;}
</style>
{/block}
{block name="body"}
{volist name="list" id="vo"}
<div class="serveries">
    <div class="serverContent">
        <span class="border"></span>
        <div class="serverTitle">{$vo.title}</div>
        <div class="serverText">{$vo.content}</div>
    </div>
    <div class="serverBanner">
        <div class="banner">
            <div class="swiper-container1">
                <div class="swiper-wrapper">
                    {volist name="vo.images" id='v'}
                    <div class="swiper-slide"><img src="{$v|get_cover='path'}" alt=""></div>
                    {/volist}
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
                <div class="swiper-button-next"><img src="/home/images/feedback/right.png" alt=""></div>
                <div class="swiper-button-prev"><img src="/home/images/feedback/left.png" alt=""></div>
            </div>
        </div>
    </div>
</div>
{/volist}







<!--<div class="serveries">-->
    <!--<div class="serverContent">-->
        <!--<span class="border"></span>-->
        <!--<p class="serverTitle">创客学员</p>-->
        <!--<p class="serverText">每月开展两次活动，提供公益性创业培训，解读创业政策，指导创客解决创业中的各种问题。</p>-->
    <!--</div>-->
    <!---->
    <!--<div class="serverBanner">-->
        <!--<div class="banner">-->
            <!--<div class="swiper-container1">-->
                <!--<div class="swiper-wrapper">-->
                    <!--<div class="swiper-slide"><img src="/home/images/feedback/1.jpg" alt=""></div>-->
                    <!--<div class="swiper-slide"><img src="/home/images/feedback/1.jpg" alt=""></div>-->
                    <!--<div class="swiper-slide"><img src="/home/images/feedback/1.jpg" alt=""></div>-->
                    <!--<div class="swiper-slide"><img src="/home/images/feedback/1.jpg" alt=""></div>-->
                    <!--<div class="swiper-slide"><img src="/home/images/feedback/1.jpg" alt=""></div>-->
                <!--</div>-->
                <!--&lt;!&ndash; Add Pagination &ndash;&gt;-->
                <!--<div class="swiper-pagination"></div>-->
                <!--<div class="swiper-button-next"><img src="/home/images/feedback/right.png" alt=""></div>-->
                <!--<div class="swiper-button-prev"><img src="/home/images/feedback/left.png" alt=""></div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
{/block}


{block name="script"}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js">
</script><script type="text/javascript" src="http://www.jo2.org/js/jquery.lazyload.js"></script>
<script src="/home/js/swiper.min.js"></script>
<script>
    jQuery(document).ready(
        function($){
            $("img").lazyload({

                placeholder : "/home/images/index/newindex/wdst.png", //加载图片前的占位图片
                effect : "fadeIn" //加载图片使用的效果(淡入)
            });
        });
    var swiper = new Swiper('.swiper-container1', {
        loop:true,
        pagination: {
            el: '.swiper-pagination',
            type: 'fraction'
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });

</script>
{/block}