.top{
    height:50vw;
    background:url("/home/images/rank/banner.jpg") no-repeat center center;
    background-size:cover;
    position:relative;
}
.top>.userImg{
    width: 16vw;
    height: 16vw;
    left:50%;
    top: 10vw;
    /*border:1px solid #fff;*/
    position:absolute;
    -webkit-transform: translateX(-50%);
    /*padding-left:2px;*/
    /*padding-top:2px;*/
}
.top>.userImg>.userImgBox{
    width: 16vw;
    height: 16vw;
    border-radius: 50%;
    background: #ff9b24;
    overflow: hidden;
    display:inline-block ;
    position: absolute;
}
.userImg .shadow{
    position: absolute;
    width: 16vw;
    height: 16vw;
    -webkit-transform: rotate(-45deg) translate(0%,50%);
    -moz-transform: rotate(-45deg) translate(0%,50%);
    -ms-transform: rotate(-45deg) translate(0%,50%);
    -o-transform: rotate(-45deg) translate(0%,50%);
    transform: rotate(-45deg) translate(0%,50%);
    background: -moz-linear-gradient(top, rgba(255,155,36,1) 0%, rgba(255,155,36,0) 100%);
    background: -webkit-linear-gradient(top, rgba(255,155,36,1) 0%,rgba(255,155,36,0) 100%);
    background: -o-linear-gradient(top, rgba(255,155,36,1) 0%,rgba(255,155,36,0) 100%);
    background: -ms-linear-gradient(top, rgba(255,155,36,1) 0%,rgba(255,155,36,0) 100%);
    background: linear-gradient(top, rgba(255,155,36,1) 0%,rgba(255,155,36,0) 100%);
}
.top>.userImg>.userImgBox>img{
    width: 16vw;
    height: 16vw;
    border-radius: 50%;
    display:block;
    float:left;
    border:1.5px solid #fff;
    padding: 2px;
}
.top>.now{
    font-size: 1.5rem;
    color: #fff;
    width:100%;
    position:absolute;
    bottom: 8vw;
}
.top>.now>li{
    width:50%;
    text-align: center;
    float:left;
}
.navbar>.classify{
    margin-top: 2.6vw;
    display: flex;
    justify-content: space-between;
    padding:0 8vw;
}
.navbar>.classify>li{
    padding:1.8vw 4.5vw;
    text-align: center;
    font-size: 1.6rem;
    color:#ffb759;
    border-top: 1.5px solid transparent;
    border-bottom: 1.5px solid transparent;
}
.navbar>.classify>li.active{
    color:#f48500;
    border-color: #f48500;
}
.name{
    padding-left: 3.2vw;
    padding-right: 3.2vw;
    font-size: 1.4rem;
    color:#999;
    line-height: 9vw;
    border-bottom: 1px solid #e5e5e5;
}
.name>span:last-child{
    float:right;
}
.ranging{
    padding-top:7vw;
}

.ranging>div>ul>li{
    height: 13.6vw;
    border-bottom: 1px solid #f7f7f7;
    padding:0 8vw;
    overflow: hidden;
}
.ranging>div>ul>li>.king{
    width: 8.2vw;
    height: 6.4vw;
    float:left;
    margin-top: 3.6vw;
}
.ranging>div>ul>li>span{
    width: 31px;
    height:24px;
    float:left;
    margin-top:13px;
    line-height: 24px;
    font-size: 20px;
    color:#333;
    text-align: center;
    display:none;
}
.ranging>div>ul>li>.userImg{
    width: 8vw;
    height: 8vw;
    float: left;
    margin-top: 2.8vw;
    margin-left: 2.8vw;
    border-radius: 50%;
}
.ranging>div>ul>li>b{
    float:right;
    font-weight: normal;
    color:#333;
    font-size: 15px;
    line-height: 13.6vw;
    margin-right: 3.2vw;
}
.ranging>div>ul>li>p{
    float:left;
    line-height: 13.6vw;
    font-size: 1.4rem;
    color:#666;
    text-align: center;
    margin-left: 2.6vw;
}
.ranging>div>ul>li:nth-child(-n+3)>b{
    color:#fc4f41;
}
.ranging>div>ul>li:nth-child(n+4)>span{
    display:block;
}
.ranging>div>ul>li:nth-child(n+4)>.king{
    display:none;
}
.ranging>div>ul>li:nth-child(1)>.king{
    background: url("/home/images/rank/4.png") no-repeat center center;
    background-size:cover;
}
.ranging>div>ul>li:nth-child(2)>.king{
    background: url("/home/images/rank/5.png") no-repeat center center;
    background-size:cover;
}
.ranging>div>ul>li:nth-child(3)>.king{
    background: url("/home/images/rank/6.png") no-repeat center center;
    background-size:cover;
}
.topName{
    position:absolute;
    top: 26vw;
    text-align: center;
    width:100%;
    font-size: 1.7rem;
    color:#fff;
    margin-top: 2vw;
}
#bk{
    background-color:rgba(0,0,0,.5);
    width:100%;
    position:fixed;
    top:0;
    left:0;
    display:none;
    z-index: 1001;
}
#bk>div{
    width:80%;
    height:auto;
    position:absolute;
    top: 25%;
    left:50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    border-radius: 20px 0 20px 0;
    overflow: hidden;
    background-color:#fff;
    border: none;
    transition: all  linear 0.3s;
    background-color:#eee;
}
#bk>div>a{
    position:absolute;
    width: 9vw;
    height: 9vw;
    background: url("/home/images/rank/9.png") no-repeat center center;
    background-size:cover;
    top:0;
    right:0;
}
#bk>div>img{
    width:100%;
}
#bk>div>p{
    margin-top: 4vw;
    font-size: 1.5rem;
    color:#333;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-bottom: 4vw;
}
.rule{
    width: 10vw;
    position:absolute;
    top: 3vw;
    right: 3vw;
}
.rule>img{
    width: 10vw;
    height: 10vw;
    display:block;
    margin: 0 auto;
    margin-bottom: 0.5vw;
}
.rule>span{
    font-size: 1.4rem;
    color:#fff;
    display: block;
    text-align: center;
}
.other{
    width: 26.6vw;
    position:absolute;
    top: 3vw;
    left: 0;
    background: url("/home/images/rank/10.png") no-repeat center center;
    background-size: cover;
    height: 10vw;
}
.other.gr{
    background: url("/home/images/rank/bmph.png") no-repeat center center;
    -webkit-background-size:26.6vw 10vw;
    background-size:26.6vw 10vw;
}
.other.bm{
    background: url("/home/images/rank/grph.png") no-repeat center center;
    background-size: cover;
}
.other>a{
    display: block;
    width: 100%;
    height: 100%;
}