.content {
  z-index: 99;
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 300px;
  background: #ffffff;
}
.content #content {
  width: 100%;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 200px;
  margin-top: 10px;
  color: #999999;
  font-size: 1.3rem;
}
.content .contentnum {
  width: 100%;
  padding-right: 15px;
  color: #d9d9d9;
  text-align: right;
}
.content .img {
  position: relative;
  width: 78px;
  height: 78px;
  margin-left: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  background: #d9d9d9;
}
.content .img img {
  position: absolute;
  top: 0;
  left: 0;
}
.content .add {
  width: 78px;
  height: 78px;
  margin-left: 10px;
  margin-bottom: 10px;
  border: 2px solid #d9d9d9;
  text-align: center;
  line-height: 68px;
  font-size: 60px;
  color: #d9d9d9;
}
.bottom {
  z-index: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.bottom .ths {
  width: calc( 100vw - 40px);
  margin: 10px auto;
  font-size: 1.2rem;
  color: #b4b4b4;
}
.bottom .sure {
  height: 45px;
  background: #4dbf50;
  font-size: 1.6rem;
  line-height: 45px;
  color: #ffffff;
}
.tips {
  display: none;
  z-index: 144;
  position: absolute;
  top: 25%;
  left: 15%;
  width: 70%;
  background: #ffffff;
  font-size: 1.5rem;
  text-align: center;
  line-height: 60px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  overflow: hidden;
}
.tocheck,
.todel {
  display: none;
  z-index: 133;
  position: absolute;
  left: 15%;
  top: 25%;
  width: 70%;
  background: #ffffff;
  font-size: 1.5rem;
  text-align: center;
  line-height: 30px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  overflow: hidden;
}
.tocheck .text,
.todel .text {
  padding: 13px;
}
.tocheck .confirm,
.todel .confirm,
.tocheck .del_confirm,
.todel .del_confirm {
  width: calc( 100% );
  border-top: 2px solid #f1f1f1;
}
.tocheck .confirm span,
.todel .confirm span,
.tocheck .del_confirm span,
.todel .del_confirm span {
  display: inline-block;
  width: calc( 50% - 4px);
  height: 45px;
  line-height: 45px;
  text-align: center;
}
.tocheck .confirm span:nth-child(2),
.todel .confirm span:nth-child(2),
.tocheck .del_confirm span:nth-child(2),
.todel .del_confirm span:nth-child(2) {
  border-left: 2px solid #f1f1f1;
  color: #e93a3a;
}
.typebg {
  display: none;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.31);
}
.success {
  display: none;
  z-index: 111;
  position: fixed;
  top: 30vh;
  left: calc( 50% - 75px);
  width: 150px;
  height: 150px;
  background: url("/home/images/feedback/success.png") no-repeat;
  background-size: 100% 100%;
}
/*加载动画*/
.loading {
  z-index: 102;
  width: 100%;
  height: 40px;
  position: fixed;
}
.typing_loader {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  -webkit-animation: typing 1s linear infinite alternate;
  -moz-animation: Typing 1s linear infinite alternate;
  animation: typing 1s linear infinite alternate;
  position: fixed;
  top: 30vh;
  left: calc( 50% - 15px);
}
.typing_loader {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  -webkit-animation: typing 1s linear infinite alternate;
  -moz-animation: Typing 1s linear infinite alternate;
  animation: typing 1s linear infinite alternate;
  margin: 46px auto;
  position: relative;
  left: calc( 50% - 15px);
}
@-webkit-keyframes typing {
  0% {
    background-color: #ffffff;
    box-shadow: 12px 0 0 0 rgba(255, 255, 255, 0.2), 24px 0 0 0 rgba(255, 255, 255, 0.2);
  }
  25% {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 12px 0 0 0 #ffffff, 24px 0 0 0 rgba(255, 255, 255, 0.2);
  }
  75% {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 12px 0 0 0 rgba(255, 255, 255, 0.2), 24px 0 0 0 #ffffff;
  }
}
