.brand_main .list{
  width: 90vw;
  margin: 4vw auto 0;
  height:42.6vw;
  display: block;
    position: relative;
    -moz-opacity:0.8;
    opacity:0.8;
    border-radius: 3vw;
    /*text-align: center;*/
    /*line-height: 42.6vw;*/
    background: rgba(0,0,0,.1);
}
.brand_main  .list img{
    width: 100%;
    height: 100%;
    border-radius: 3vw;
}
.br_info{
      width: 90vw;
      height: 43vw;
      position: absolute;
      top:0;
      left: 0;
      z-index: 1;
      color: #fff;
      border-radius:3vw;
}
.br_info>div {border: 2px solid #fff;text-align: center;  font-size: 2rem;position: relative;margin: -5vw auto 0;width:50%;top:50%;height:10vw;line-height: 9vw;border-radius: 14px;}
.br_info .hd_title{
    width:26.6vw;
    line-height: 5.33vw;
    height: 5.33vw;
    background-color: #333333;
    opacity: 0.8;
    color: #fff;
    font-size: 1.2rem;
    border-radius: 4vw;
    text-align: center;
    position: absolute;
    right: 2vw;
    top:2vw;
}
.br_info .info{
    text-align: center;
}
.br_info .info .info_title{
    font-size: 2.0rem;
    line-height:43vw ;
    color: #fff;
}
.br_info .info  .info_text{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-size: 1.4rem;
}
.brandSort {position: relative;margin:auto ;width:100%;height:100%;background: url('/home/images/icon_003.jpg');padding-top: 5.33vw;}
.brandSort li {width:90%;height:17.1vw;line-height: 17.1vw;margin:0 auto 2.67vw;}
.brandSort div {background-size:54.67vw 17.33vw;background-repeat: no-repeat;width:54.67vw;font-size: 1.4rem;}
.brandSort .left {float:left;padding-left: 8vw;text-align: left}
.brandSort .right {float:right;padding-right: 8vw;text-align: right}

#brandFixed {position: fixed;background: rgba(0,0,0,.7);width:100%;height:100%;top:0;left:0;display: none;}
#brandFixed .brandFixedContent {width:93.33vw;background: #fff;border-radius: 2.67vw;position: relative;padding-bottom: 8vw;top:50%;margin-left: 3.335vw;margin-right: 3.335vw;}
#brandFixed .brandFixedContent_01 {height:13.33vw;line-height: 13.33vw;font-size: 1.7rem;color: #333;border-bottom: 1px solid #f1f1f1;text-align: center;}
#brandFixed .brandFixedContent_02 {width:93.4%;position: relative;margin:1.6vw auto 0;text-align: justify;}
#brandFixed .brandFixedContent_02 p:first-child{line-height: 1.6rem;}
#brandFixed .brandFixedContent_02 img {margin-top: 2.67vw;width:100%;}