{extend name="public/common"}

{block name="style"}
<title>活动展示</title>
<link rel="stylesheet" href="/home/css/report/detail.css">
<link rel="stylesheet" href="/home/css/common/rem.css">
<style>
</style>
{/block}
{block name="body"}
<div class="scrollDiy" data-id="0" style="padding-bottom: 5vw;">
    <div class="banner">
        <img src="/home/images/banner/sz.jpg" alt="支部活动banner" class="banner-img">
    </div>
    <div class="rep_main">
        <div class="title">{$article.title}</div>
        <div class="note clear">
            <span class="fls">{$article.publisher}</span>
            <span class="frs">{$article.create_time|time_format="Y-m-d"}</span>
        </div>
        <div class="info">
            　{$article.content}
        </div>
        <p style=";background: url(/home/images/detail/scan_.png) 0 center no-repeat;
    background-size: 1.5rem 1.5rem;
    padding-left: 1.8rem;
    float: right;
    text-indent: 0;"><i  class="read fr">{$article.views} <em class="fa"></em></i></span></p>

    </div>
    <div class="vote">
        <div class="is_vote">投票数：{$article.votes}</div>
        {notempty name="is_vote"}
        <div class="no_vote vote_btn" style="background: #9bcc35;">投票</div>
        {else/}
        <div class="no_vote" style="background: #9bcc35;">已投票</div>
        {/notempty}
    </div>

</div>
{/block}


{block name="script"}
<script src="/home/js/reset.js"></script>
<script>

    //获取现在投票人数
    var aa = parseInt($(".vote").find("b").text());
    console.log($(".vote"))
    //点击投票按钮
    $('.vote_btn').on("click",function () {
        $.ajax({
            type:"post",
            url:"{:Url('Display/vote')}",
            data:{
                id:{$pid},
            },
            success:function(data){
                console.log(data);
            }
        });
        //投票点击后禁止点击
        $(this).removeClass("vote_btn").html('已投票');
//        $(".vote").find("b").text(aa+1);


    })

</script>

{/block}