.banner {
    width: 100vw;
    height: 50vw;
}

.banner img {
    width: 100%;
    height: 100%;
}
.main{
    border-bottom: 10vw;
}
.re_list{
    display: block;
    width: 95vw;
    margin: 5vw auto 0;
    border: 1px solid #eee;
    border-radius: 1vw;
    display: flex;
    justify-content: space-between;
    padding: 2vw 3vw;
    box-shadow: 0 0 8px rgba(102, 102, 102, 0.2);
}
.re_list  .re_time{
    width: 30vw;
    border: 1px solid #eee;
    position:relative;

}
.re_list  .re_time span{
    display: block;
}
 .re_time  .month{
    line-height: 8.7vw;
     text-align: center;
     display: block;
     background-color: #fafafa;
     color: #333;
}
.re_time  .month b{
    font-size: 1.8rem;
    color: #1ed3ff;
}
.re_time  .year{
    text-align: center;
    color: #fff;
    background-color: #1ed3ff;
    font-size: 1.4rem;
    line-height: 9vw;

}
  .re_info{
    margin-left: 3vw;
      width: 65vw;
}
.re_info .title{
    font-size: 1.6rem;
    color: #333;
    line-height:7vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.re_info  .rep_text{
    font-size: 1.3rem;
    color: #999;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
    overflow:hidden;
    line-height: 6.4vw;
}


.reportSort {
    width:100%;
    position: relative;
    margin: auto;
    height:12vw;
    text-align: center;
    font-size: 1.6rem;
}
.reportSort div {
    width:33.33vw;
    height:12vw;
    line-height: 12vw;
    display: block;
    float:left;
    position: relative;
    color: #333;
}
.reportSort .active {
    border-bottom: 2px solid  #ff7242;
    color: #ff7242;
}
.reportSort img {
    position: absolute;
    bottom:0;
    width:2.4vw;
    height:1.87vw;
    left:50%;
    margin-left: -.935vw;
}
.reportDiv .reportDivSort {width:100%;position: relative;margin: auto;display: none;}
.reportDivSort .banner {width:100%;height:50vw;}
.reportDivSort .banner img {width:100%;height:100%;}
.reportDivmain {position: relative;width:100%;margin: auto;background: #f1f1f1;}
.reportDivmain li {width:100%;height:20vw;margin-bottom: 1.2vw;background: #fff;position: relative;}
.reportDivmain .reportDivmainImg {width:24.8vw;height:100%;text-align: center;line-height: 20vw;}
.reportDivmain .reportDivmainImg img {width:18.67vw;height:18.67vw;position: relative;vertical-align: middle;}
.reportDivmain .reportDivmainText .reportDivmainText_01{
    width: 70.2vw;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    color: #333;
    font-size: 1.4rem;
    /* margin-top: 3.33vw; */
    margin-bottom: 2.73vw;
    /* padding-top: 2vw; */
    line-height: 10vw;
}
.reportDivmain .reportDivmainText .reportDivmainText_02 {background: #ff7043;font-size: 1.2rem;color: #fff;padding:.5vw 5.33vw;border-radius: 5.33vw;}
.reportDivmain .reportDivmainText .reportDivmainText_03 {position: relative;right:5vw;color: #999;font-size: 1.2rem;float:right;top:.6vw;}
.reportDivmain .reportDivmainImg ,.reportDivmain .reportDivmainText {float:left;}
.fa:before {
    content: "\f105";
}

#side2 li {height:32vw;width:100%;position: relative;margin:0 auto 1.33vw;}
#side2 .reportDivmainText {width:72vw;}
#side2 .reportDivmainText_04 {
    margin-top: 3.8vw;color: #333;
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    overflow: hidden;
    width:100%;
}

#side2 .reportDivmainText_01 {
    white-space:inherit;
    margin-top: 1vw;
    margin-bottom: 2.6vw;
    width: 100%;
    font-size: 1.2rem;
    color: #999;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-family: "Microsoft yahei" !important;
    padding-top: initial;
}
#side2 .reportDivmainText_01 p  , #side2 .reportDivmainText_01 span {font-family: "Microsoft yahei" !important;line-height: 6.4vw;}
#side2 .reportDivmainText_02 {background: #fe9903;font-size: 1.2rem;color: #fff;padding:.5vw 5.33vw;border-radius: 5.33vw;}
#side2 .reportDivmainText_03 {bottom:4.6vw;}
#side2 .reportDivmainImg {line-height: 32vw;}
#side2 .reportDivmainImg div {width:18.67vw;height:18.67vw;border-radius: 50%;background:#b1e3fc;color: #fff;font-size: 1.5rem;line-height: 18.67vw;position: relative;top:50%;margin: -9vw auto 0;}
#side2 .reportDivmainText_03 {right:3.2vw;}


#side3 li {height:29.33vw;width:100%;position: relative;padding: 0 2.5%;}
#side3 .reportDivmainText_04 {color: #333;}
#side3 .reportDivmainText {padding-top: 1.8vw;}
#side3 .reportDivmainText_01  {
     margin-top: 1vw;
    white-space:inherit;
     margin-bottom: 2.6vw;
     width: 100%;
     font-size: 1.2rem;
     color: #999;
     line-height: 4.8vw;
     text-overflow: -o-ellipsis-lastline;
     overflow: hidden;
     text-overflow: ellipsis;
     display: -webkit-box;
     -webkit-line-clamp: 2;
     -webkit-box-orient: vertical;
    padding-top: initial;
 }
#side3 .reportDivmainText_01 p ,#side3 .reportDivmainText_01 span {line-height: 6.4vw;}
#side3 .reportDivmainText_02 {background: #9bcc35;font-size: 1.2rem;color: #fff;padding:.5vw 5.33vw;border-radius: 5.33vw;}
#side3 .reportDivmainText_03 {bottom:2.6vw;}
#side3 .reportDivmainText_03 {right:3.2vw;}

#side3 .reportDivmainText_02 , #side3>.reportDivmain .reportDivmainText .reportDivmainText_03 {position: absolute;bottom: 2vw;top:inherit;}
#side1 .reportDivmainText_02 , #side1>.reportDivmain .reportDivmainText .reportDivmainText_03 {position: absolute;bottom: 3vw;top:inherit;}
#side2 .reportDivmainText_02 , #side2>.reportDivmain .reportDivmainText .reportDivmainText_03 {position: absolute;bottom: 2vw;top:inherit;}
