{extend name="public/common"}

{block name="style"}
<title>通讯录</title>
<link rel="stylesheet" href="/home/css/structure/structure.css">
<link rel="stylesheet" href="/home/css/common/rem.css">
<link rel="stylesheet" href="/home/css/common/tip.css">
<style>
	.mui-pull-bottom-pocket {
		height:3.06rem;
	}
	.d_img_box {
		float: left;
	}

</style>
{/block}

{block name="body"}

<div class="list-t-wrap">
	<div class="list-wrapper">
		<!--列表一定要放到容器内,因为会有一个div append到mui-scroll中,需要在底部才能起作用-->
		<ul class="d_lists" id="refreshContainers">
					{volist name="modelAll" id="vo"}
					<li class="d_list clearfix">
						<div class="d_img_box">
							<div class="d_img" style="background-color: {$vo.color}">
								{$vo.surname}
							</div>
						</div>
						<div class="d_name ">{$vo.name}
							{eq name="$vo.tag" value="2"}
							<img src="/home/images/structure/xx.jpg" alt="">
							{/eq}
							<a class="d_tel" href="tel:{$vo.mobile}">
				<span class="d_lst fl">
					{eq name="$vo.gender" value="2"}
					<img src="/home/images/structure/woman.png" alt="">
					{else/}
					<img src="/home/images/structure/man.png" alt="">
					{/eq}
					<i>{$vo.politics_status}</i> </span>
								<span class="fr d_tel_img">
					<img src="/home/images/structure/tel.png" alt="">
					{$vo.mobile}
				</span>
								<!--<span class="d_tel_icon fr"></span>-->
							</a>
						</div>
					</li>
					{/volist}
				</ul>
	</div>
	<!--加载更多-->
	<div class="tip"></div>
	<div class="loading hidden">
		<div class="typing_loader"></div>
	</div>
</div>
{/block}

{block name="script"}
<script src="/home/js/reset.js"></script>
<script>

    var scrollNow = true;//判断下拉请求是否执行中.false为正在请求
    var _party = '{$party}';
    $(function(){
        //两学一做上拉加载
        var len = $('.d_lists>li').length;
        if(len >=7){
            $('.tip').text('上拉加载更多');
        }
        loadScroll();
    });
    function loadScroll(){
        $(window ).off("scroll" ).on("scroll",function(){
            var dh = $(document).height();
            var end = $(window).height() + $(window).scrollTop();
            var len = $('.d_lists>li').length;
            var tip = $(".tip");
            var loading = $('.loading');
            var url="{:Url('Structure/detailmore')}";
			console.log(dh,end)
            if(dh >= end && scrollNow){
                scrollNow = false;//请求执行中
                $.ajax({
                    type:"post",
                    url: url,
                    data:{
                        length:len,
                        party:_party
                    },
                    beforeSend: function(XMLHttpRequest){
                        tip.hide();
                        loading.toggleClass('hidden');
                    },
                    success:function(data){
                        loading.toggleClass('hidden');
                        tip.show();
                        if(data.code == 1){
                            addCourse(data);
                            var dataLen =data.data.length;
                            if(data.data.length == 5){
                                tip.text('上拉加载更多');
                            }
                        }else{
                            tip.text('没有更多了');
                            $(window ).off("scroll");
                        }
                        scrollNow = true;//请求结束
                    }
                })
            }
        })
    }

    function addCourse(data){
        var html = '';
        var lists = data.data;
        var len = lists.length;
        var str='';
        for (var i=0;i<len;i++){
            var img = '';
            if(lists[i].gender == 1){
                img = '/home/images/structure/man.png'
            }else {
                img = '/home/images/structure/woman.png'
            }
            str += '<li class="d_list clearfix">'
                +'<div class="d_img_box"><div class="d_img" style="background-color:'+lists[i].color+'">'+lists[i].surname+'</div></div>'
                +'<div class="d_name ">'
                +'<span>'+lists[i].name+'</span>'
                +'<a class="d_tel" href="tel:'+lists[i].mobile+'">'
                +'<span class="d_lst fl"><img src="'+img+'" alt=""><i>'+lists[i].politics_status+'</i></span>'
                +'<span class="fr d_tel_img"><img src="/home/images/structure/tel.png" alt=""><span>'+lists[i].mobile+'</span></span>'
                +'</a>'
                +'</div>'
                +'</li>'
        }
        $('#refreshContainers').append(str);
    }

</script>
{/block}