{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/structure/structure.css">
{/block}

{block name="body"}

<div class="table">
	<div class="thead clear">
		<div class="th fl party">党组织名称</div>
		<div class="th fl position">党内职位</div>
		<div class="th fl name">姓名</div>
	</div>
	<!--&lt;!&ndash;一组&ndash;&gt;-->
	<!--<div class="tbody">-->
		<!--<div class="tb fl party">-->
			<!--<span>凫村党工委</span>-->
		<!--</div>-->
		<!--<div class="tb fl position">-->
			<!--<span>书记</span>-->
			<!--<span>副书记</span>-->
			<!--<span>党建指导员</span>-->
		<!--</div>-->
		<!--<div class="tb fl name">-->
			<!--<span>尹达文</span>-->
			<!--<span>尹柱荣</span>-->
			<!--<span>尹金海</span>-->
		<!--</div>-->
	<!--</div>-->
	<!--&lt;!&ndash;/一组&ndash;&gt;-->
</div>
{/block}

{block name="script"}
<script>
$('title' ).text('组织架构');
var party3 = '{$party}';
var data2 =[
	{
		"party3":"浙江中测新图地理信息技术有限公司党支部",
		"detail3":[
			{
				"party4":"浙江中测新图地理信息技术有限公司党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"廖明"
					},
					{
						"position":"党建指导员",
						"name":"汤巍巍"
					},
				]
			}]
	},
	{
		"party3":"浙江正元地理信息有限责任公司党支部",
		"detail3":[
			{
				"party4":"浙江正元地理信息有限责任公司党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"张宏波"
					},
					{
						"position":"党建指导员",
						"name":"沈法根"
					},
				]
			}]
	},	
	{
		"party3":"浙江南方测绘科技有限公司党支部",
		"detail3":[
			{
				"party4":"浙江南方测绘科技有限公司党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"李培宏"
					},
					{
						"position":"党建指导员",
						"name":"丁金伟"
					},
				]
			}]
	},	
	{
		"party3":"浙江房联科技有限公司党支部",
		"detail3":[
			{
				"party4":"浙江房联科技有限公司党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"毛寒松"
					},
					{
						"position":"党建指导员",
						"name":"谢建伟"
					},
				]
			}]
	},	
	{
		"party3":"浙江中海达空间信息技术有限公司党支部",
		"detail3":[
			{
				"party4":"浙江中海达空间信息技术有限公司党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"李荣亚"
					},
					{
						"position":"党建指导员",
						"name":"孙建锋"
					},
				]
			}]
	},
	{
		"party3":"浙江国遥地理信息技术有限公司党支部",
		"detail3":[
			{
				"party4":"浙江国遥地理信息技术有限公司党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"冯涛丽"
					},
					{
						"position":"党建指导员",
						"name":"桂妃妃"
					},
				]
			}]
	},
	{
		"party3":"杭州经纬信息技术股份有限公司党支部",
		"detail3":[
			{
				"party4":"杭州经纬信息技术股份有限公司党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"陈青海"
					},
					{
						"position":"党建指导员",
						"name":"沈珏"
					},
				]
			}]
	},
	{
		"party3":"浙江天下图地理信息技术有限公司党支部",
		"detail3":[
			{
				"party4":"浙江天下图地理信息技术有限公司党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"兰小庆"
					},
					{
						"position":"党建指导员",
						"name":"柳丹翼"
					},
				]
			}]
	},
	{
		"party3":"浙江圣周信息科技有限公司党支部",
		"detail3":[
			{
				"party4":"浙江圣周信息科技有限公司党支部",
				"detail4":[
					{
						"position":"书记",
						"name":"周文涛"
					},
					{
						"position":"党建指导员",
						"name":"高海峰"
					},
				]
			}]
	},
	{
		"party3":"地信梦工场联合党支部",
		"detail3":[{
			"party4":"地信梦工场联合党支部",
			"detail4":[
				{
					"position":"书记",
					"name":"倪涵"
				},
				{
					"position":"副书记",
					"name":"黎旻懿"
				},
				{
					"position":"党建指导员",
					"name":"王杰"
				},
			]

		},]
	},
	{
		"party3":"地信小镇党群服务中心党支部",
		"detail3":[{
			"party4":"地信小镇党群服务中心党支部",
			"detail4":[
				{
					"position":"书记",
					"name":"王俊菲"
				},
				{
					"position":"党建指导员",
					"name":"丁金伟"
				},

			]
		},]
	},
];
var len = data2.length;
console.log(party3);
for(var i = 0 ; i < len ;i++){
	var party = data2[i];
	if( party.party3 == party3){
		var detail3 = party.detail3;
		var len3 = detail3.length;
		var html = '';
		for(var j = 0; j < len3 ; j++){
			var party4 = detail3[j];
			html+=
					'<div class="tbody">'+
					'<div class="tb fl party">'+
					'<span>'+party4.party4+'</span>'+
					'</div>'+
					'<div class="tb fl position">';
			var detail4 = party4.detail4;
			var len4 = detail4.length;
			for(var m = 0 ;m < len4 ;m++){
				html+=
						'<span>'+detail4[m ].position+'</span>';
			}
			html+=
					'</div>'+
					'<div class="tb fl name">';
			for(var n = 0 ;n < len4 ;n++){
				html+=
						'<span>'+detail4[n].name+'</span>';
			}
			html+=
					'</div>'+
					'</div>'
		}
		$('.table' ).append(html);
		break;
	}else{
		console.log('百分百名字错了'+ party3 + '后：'+ party.party3)
	}
}
$('.tbody' ).each(function(){
	var this_ = this;
	var h = $(this ).find('.position' ).height();
	var h_ = $(this ).find('.party>span' ).height();
	$(this ).find('.party' ).height(h);
	$(this ).find('.party>span').css('margin-top',h/2-h_/2+'px');

});
$(function(){

});
</script>
{/block}