{extend name="public/common"}

{block name="style"}
<title>云上组织</title>
<link rel="stylesheet" href="/home/css/structure/structure.css">
<!--<link rel="stylesheet" href="/home/css/common/rem.css">-->
<style>
	.listbox .box .box_  .bor_ls {
		position: absolute;
		top: 3vw;
		left: -1.8vw;
		width: 28.2vw;
		height: 11vw;
		background: url(/home/images/structure/tag.png) 0 0 no-repeat;
		background-size: 28.2vw 11vw;
		color: #ffffff;
		text-align: center;
		font-size: 1.4rem;
		line-height: 7.8vw;
	}

</style>

{/block}

{block name="body"}
<div class="tabs">
	<span class="tab active"><span>组织领导</span></span>
	<span class="tab"><span>组织架构</span></span>

</div>
<div class="listbox">
	<!--组织领导   小镇介绍   党工青妇联介绍-->
	<div class="box summary active">
		<!--banner-->
		<div class="banner">
			<img data-original="/home/images/banner/1.jpg" alt="" class="banner-img">
		</div>
		<!--党群组织领导架构-->
		<div class="leadership">
          	<div class="le_text"><div class="le_ioc"></div></div>
			<!--主任级别-->
			<div class="leader_info">
			  <div class="le_de fr">
				  <a class="fl" href="#">
					  <img src="/home/images/structure/tx.jpg" alt="">
				  </a>
				  <a class="fl" href="#">
					  <img src="/home/images/structure/tx.jpg" alt="">
				  </a>
				  <a class="fl" href="#">
					  <img src="/home/images/structure/tx.jpg" alt="">
				  </a>
			  </div>
				<div class="box_sl">
					<span>主任:</span><span>王主任</span><span>李主任</span><span>陈主任</span>
				</div>
			</div>

		</div>

	</div>
	<!--组织架构 村部名录-->
	<div class="town box hidden">
		<div class="banner">
			<img data-original="/home/images/banner/1.jpg" alt="" class="banner-img">
		</div>


	</div>
</div>

{/block}

{block name="script"}
<script src="/home/js/reset.js"></script>
<script src="/home/js/jquery.lazyload.min.js"></script>
<script>


$(function(){
    $('.tabs .tab').each(function(){
        if($(this).index()==1 || $(this).hasClass('.active')){
            $('.listbox .town').show();
		}
	})
    $(function(){
        //tab值记录
        tabRecord('.tab' ,'.box');
        //tab切换
        tabSwitch('.tab' ,'.box');
        //上拉加载
    });
    $(function() {
        $("img.lazy").lazyload({effect: "fadeIn"});
    });
});


</script>
{/block}