{extend name="public/common"}

{block name="style"}
<title>云上组织</title>
<link rel="stylesheet" href="/home/css/structure/structure.css">
<!--<link rel="stylesheet" href="/home/css/common/rem.css">-->
<style>
	.listbox .box .box_  .bor_ls {
		position: absolute;
		top: 3vw;
		left: -1.8vw;
		width: 28.2vw;
		height: 11vw;
		background: url(/home/images/structure/tag.png) 0 0 no-repeat;
		background-size: 28.2vw 11vw;
		color: #ffffff;
		text-align: center;
		font-size: 1.4rem;
		line-height: 7.8vw;
	}

</style>

{/block}

{block name="body"}
<div class="tabs">
	<span class="tab active" data-side="1" style="line-height: 11vw;"><span>组织领导</span></span>
	<span class="tab" data-side="2" style="line-height: 11vw;"><span>组织架构</span></span>

</div>
<div class="listbox" style="margin-top: -1px;display: block;" id="side1">
	<!--组织领导   小镇介绍   党工青妇联介绍-->
	<div class="box summary active" >
		<!--banner-->
		<div class="banner">
			<img src="/home/images/banner/1.jpg" alt="" class="banner-img">
		</div>
		<!--党群组织领导架构-->
		<div class="structureSort">
			<div class="structureSortTop"><span>梦想小镇党群工作委员会</span><img src="/home/images/icon_004.png" alt=""></div>
		    <!--党群工作委员-->
			<div class="structureSortText">
				<div class="structureTextLeft"><span>主任:</span></div>
				<div class="structureTextRight">
					<ul>
						<li><img src="/home/images/structure/tx.jpg" alt=""><p></p></li>
					</ul>
				</div>
			</div>
			<div class="structureSortText">
				<div class="structureTextLeft"><span>副主任:</span></div>
				<div class="structureTextRight">
					<ul>
						<li><img src="/home/images/structure/tx.jpg" alt=""><p>某主任</p></li>
						<li><img src="/home/images/structure/tx.jpg" alt=""><p>某主任</p></li>
						<li><img src="/home/images/structure/tx.jpg" alt=""><p>某主任</p></li>
						<li><img src="/home/images/structure/tx.jpg" alt=""><p>某主任</p></li>
						<li><img src="/home/images/structure/tx.jpg" alt=""><p>某主任</p></li>
						<li><img src="/home/images/structure/tx.jpg" alt=""><p>某主任</p></li>
						<li><img src="/home/images/structure/tx.jpg" alt=""><p>某主任</p></li>
						<li><img src="/home/images/structure/tx.jpg" alt=""><p>某主任</p></li>
						<li><img src="/home/images/structure/tx.jpg" alt=""><p>某主任</p></li>
					</ul>
				</div>
			</div>
			<div class="structureSortText">
				<div class="structureTextLeft"><span>委员:</span></div>
				<div class="structureTextRight">
					<ul>
						<li><img src="/home/images/structure/tx.jpg" alt=""><p>某主任</p></li>
						<li><img src="/home/images/structure/tx.jpg" alt=""><p>某主任</p></li>
						<li><img src="/home/images/structure/tx.jpg" alt=""><p>某主任</p></li>
						<li><img src="/home/images/structure/tx.jpg" alt=""><p>某主任</p></li>
						<li><img src="/home/images/structure/tx.jpg" alt=""><p>某主任</p></li>
						<li><img src="/home/images/structure/tx.jpg" alt=""><p>某主任</p></li>
						<li><img src="/home/images/structure/tx.jpg" alt=""><p>某主任</p></li>
						<li><img src="/home/images/structure/tx.jpg" alt=""><p>某主任</p></li>
						<li><img src="/home/images/structure/tx.jpg" alt=""><p>某主任</p></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!--组织架构 村部名录-->
</div>
<div class="listbox" style="margin-top: -1px;display: none;" id="side2">
	<!--组织领导   小镇介绍   党工青妇联介绍-->
	<!--组织架构 村部名录-->
	<div class=" box ">
		<div class="banner">
			<img src="/home/images/banner/1.jpg" alt="" class="banner-img">
		</div>
		<div class="structureSort">
			<div class="box_ or">
				<div class="lists">

                    <div class="list clear">
                        <!--第一层-->
                        <div class="party1">
                            <div class="tri-left structure1"></div>
                            <div class="name1"><span class="mx_name">梦想小镇</span><span class="rt sj"></span></div>
                        </div>
						{volist name="list" key="k" id="vo"}
                        <!--第二层-->
                        <div class="detail1 party2">
                            <div class="tri-left structure{$k+1}"></div>
                            <a class="name2 limit" href="javascript:void(0);"><span class="box_name">{$key}</span><span class="rt sj"></span></a>
                        </div>
                        <!--第三层-->
                        <div class="detail2 party3" >
							{volist name="vo" id="v"}
                            <a class="name2 limit" href="{:Url('detail?party='.$v['id'])}"><span class="bor_name">{$v.name}</span>
								{neq name="$v.mark" value="0"}
								<img src="/home/images/icon_005.png" alt="">
								{/neq}
								<span class="rt sj"></span></a>
							{/volist}
                        </div>
						{/volist}
                    </div>

				</div>
			</div>
		</div>

	</div>
</div>

{/block}

{block name="script"}
<script src="/home/js/reset.js"></script>
<script src="/home/js/jquery.lazyload.min.js"></script>
<script>
	if(localStorage.getItem('yszz') == null || localStorage.getItem('yszz')==1){
	    $('.tab').removeClass('active')
        $('.tabs .tab').eq(0).addClass('active')
		$('.listbox').hide();
        $('#side1').show();
	}else {
	    $('.tab').removeClass('active')
        $('.tabs .tab').eq(1).addClass('active')
		$('.listbox').hide();
        $('#side'+localStorage.getItem('yszz')).show();
	}
	for(var i=0;i<$('.tabs .tab').length;i++){
        $('.tabs .tab')[i].onclick = function(){
            $('.tab').removeClass('active')
            $(this).addClass('active')
            var side = $(this).data('side');
            $('.listbox').hide();
            $('#side'+side).show();
            localStorage.setItem('yszz',side);
            $('.structureTextLeft').css('height',$('.structureTextRight li').eq(0).height())
		}
	}
$(function(){

    $(function() {
        $("img.lazy").lazyload({effect: "fadeIn"});
    });
    $('.structureTextLeft').css('height',$('.structureTextRight li').eq(0).height())
});
$(function(){
    slide();
    $(function() {
        $("img.lazy").lazyload({effect: "fadeIn"});
    });
});
function slide(){
    $('.lists .party1' ).on('click',function(){
        var it = $(this);
        $(".party2").slideToggle();
        $(".party3").slideUp();
     });
	$(".party2>.name2").on('click',function () {
        $(this).parents(".party2").next(".party3").slideToggle();
    })
}
</script>
{/block}
