{extend name="public/common"}

{block name="style"}
<link rel="stylesheet" href="/home/css/structure/structure.css">
<link rel="stylesheet" href="/home/css/common/rem.css">

{/block}

{block name="body"}
<div class="banner">
	<img src="/home/images/banner/1.jpg" alt="组织架构banner" class="banner-img">
</div>
<div class="tabs">
	<span class="tab active"><span>组织介绍</span></span>
	<span class="tab"><span>组织架构</span></span>
	<span class="tab"><span>党员须知</span></span>
</div>
<div class="listbox">
	<div class="box summary active">
		<div class="box_ ">
			<p>	梦想小镇是一个专为年轻人打造的互联网创业平台。2014年8月，在省市区谋篇布局特色小镇、大力培育信息经济的大背景下，梦想小镇扬帆起航。</p>
			<p>	抓住“大众创业、万众创新”的时代浪潮，瞄准互联网创业的台风口，充分发挥区域资源禀赋，梦想小镇大胆探索，大力构筑创新创业生态系统，快速吸引了一大批年轻创客。他们在这里将各种奇思妙想付诸实践，把创意变成产品，将智慧变成财富。</p>
			<p>经过两年多的发展，梦想小镇创新创业成效初显，为区域经济升级注入了全新动力，同时推动了基层党建和社会治理的创新。小镇虽小，但内涵丰富。这正是特色小镇的魅力所在。</p>
			<p>	随着特色小镇的发展，小镇党建已成为基层党建工作一个新的重要领域。2016年6月，梦想小镇党委成立。针对小镇企业规模小、员工流动快的特点，梦想小镇采用生态化的理念，探索“固沙型”党建。通过“五创”工作法（创新组织设置、创意组织生活、创客先锋引领、创优帮扶服务、创设基础环境），让党建融入创业生态、让党建成为一种生态。</p>
		</div>
	</div>
	<div class="town box hidden">
		<!--小镇党委-->
		<div class="box_ or">
			<div class="lists">
				<!--第一层-->
				<div class="list clear">
					<div class="party1">
						<div class="tri-left structure1"></div>
						<!--<div class="tri down"></div>-->
						<div class="name1">联建式支部</div>
					</div>
					<!--第二层-->
					<div class="down detail1">
						<a class="name2 limit" href="{:Url('Structure/detail')}">网络工程师联合党支部<span class="rt sj"></span></a>
					</div>
					<!--/第二层-->
				</div>
				<!--/第一层-->

				<!--第一层-->
				<div class="list clear">
					<div class="party1">
						<div class="tri-left structure2"></div>
						<!--<div class="tri down"></div>-->
						<div class="name1">苗圃式支部</div>
					</div>
					<!--第二层-->
					<div class="down detail1">
						<a class="name2 limit" href="{:Url('Structure/detail')}">蜂巢孵化器党支部<span class="rt sj"></span></a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">原质资本党支部<span class="rt sj"></span></a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">湾西加速器党支部<span class="rt sj"></span></a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">海龟孵化器党支部<span class="rt sj"></span></a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">良仓加速器党支部<span class="rt sj"></span></a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">杭报第七空间党支部<span class="rt sj"></span></a>
					</div>
					<!--/第二层-->
				</div>
				<!--/第一层-->
				<!--第一层-->
				<div class="list clear">
					<div class="party1">
						<!--<div class="tri down"></div>-->
						<div class="tri-left structure3"></div>
						<div class="name1">单建式支部</div>
					</div>
					<!--第二层-->
					<div class="down detail1">
						<a class="name2 limit" href="{:Url('Structure/detail')}">浙江舞九信息科技有限公司党支部<span class="rt sj"></span></a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">杭州弧途科技有限公司党支部<span class="rt sj"></span></a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">杭州联线电子商务有限公司党支部<span class="rt sj"></span></a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">杭州美哒网络科技有限公司党支部<span class="rt sj"></span></a>
					</div>
					<!--/第二层-->
				</div>
				<!--/第一层-->

				<!--第一层-->
				<div class="list clear">
					<div class="party1">
						<div class="tri-left structure4"></div>
						<!--<div class="tri down"></div>-->
						<div class="name1">联动式支部</div>
					</div>
					<!--第二层-->
					<div class="down detail1">
						<a class="name2 limit" href="{:Url('Structure/detail')}">流动党员第一党支部<span class="rt sj"></span></a>
						<a class="name2 limit" href="{:Url('Structure/detail')}">流动党员第二党支部<span class="rt sj"></span></a>
					</div>
					<!--/第二层-->
				</div>
				<!--/第一层-->
			</div>
		</div>

		<!--/小镇党委-->
	</div>
	<div class="box hidden  shouldKnow">
		<div class="box_">
			<p class="q">question 1. 党的最大政治优势是什么？</p>
			<p class="a">答：密切联系群众。</p>
			<p class="q">question 2. 党最大危险是什么？</p>
			<p class="a">答：脱离群众。</p>
			<p class="q">question 3. 党的纪律处分有哪些？</p>
			<p class="a">答：警告、严重警告、（ 撤销党内职务） 、 （留党察看） 和开除党籍。</p>
			<p class="q">question 4. “三讲教育”指的是哪三讲？</p>
			<p class="a">答：讲学习、 讲政治 、 讲正气。</p>
			<p class="q">question 5.什么情况下使用党员组织关系介绍信？</p>
			<p class="a">答：党员外出地点或工作单位相对固定，外出时间6个月以上的，一般应当开具中国共产党党员组织关系介绍信。</p>
			<p class="q">question 6. 党员的预备期怎么样计算呢？</p>
			<p class="a">答：【党章】规定:作为预备党员的预备期，是从支部大会通过你为预备党员以后，从那一天开始之日算起。</p>
			<p class="q">question 7. 党龄问题怎么计算呢？</p>
			<p class="a">答：【党章】里面有很明确的说明：作为一个党员的党龄的计算，因为是从预备期满转为正式党员，然后从预备期结束之日算起。</p>
			<p class="q">question 8. 党员三会一课具体指什么？</p>
			<p class="a">答：三会指支部党员大会、支部委员会、党小组会；一课指党课。 <br>
				1.支部党员大会每半年召开一次。如遇有紧迫问题需要讨论,可随时召开。 <br>
				2.支部委员会的会议每月一次。 <br>
				3.党小组会每月至少召开一次。 <br>
				4.党课每年不少于四次,由支部负责实施。
			</p>
			<p class="q">question 9. 发展党员有哪些条件？</p>
			<p class="a">答：发展党员，必须具备以下几个条件： <br>
				1.必须是经过一年以上培养、教育和考察的，要求入党的积极分子。 <br>
				2.政治审查合格。 <br>
				3.本人对党有正确的认识，入党动机端正、作风正派，能自觉以共产党员的标准要求自己。 <br>
				4.培养联系人和党内外多数群众认为其已基本具备党员条件。</p>
			<p class="q">question 10. 入党流程有哪些？</p>
			<p class="a">答：1.自愿提出入党申请 <br>
				要求入党的同志自愿向所在单位党组织提出书面申请，申请主要写对党的认识、入党动机和本人主要表现。党组织接到申请后，应派人与申请入党人谈话(一般在十五天内)进行教育和鼓励。 <br>
				2.确定入党积极分子 <br>
				参加学校组织的党校培训，并取得结业证书，经党小组(共青团组织)推荐、支委会(不设支委会的支部大会)审查同意后，便确定为入党积极分子。党支部将入党积极分子报上级党组织备案，并通知入党积极分子本人，要求其本人写出自传(内容主要写本人简历、家庭主要成员及主要社会关系的政历和现实表现情况)，指定党员作为入党积极分子的培养联系人。
				<br>
				3.考察期一年以上 <br>
				党支部每季度对要求入党的积极分子进行谈话、考察，每次考察情况要填入入党积极分子考察表(填写考察意见时，要真实、具体、准确，既要有优点，也要写出缺点)。积极分子要定期向党组织汇报思想，学习工作等。 <br>
				4.听取党内外群众意见 <br>
				党支部派一至两名正式党员召开座谈会，听取党内外群众对入党积极分子的反映。一般座谈会应在考察期近一年，支部准备列为发展对象之前召开。会议内容应真实反映在《发展对象意见表》上。 <br>
				5.确定发展对象 <br>
				要求入党的积极分子经过一年以上培养教育后，在听取党小组、培养联系人和党内外群众意见的基础上，经支委会(不设支委会的支部大会)讨论同意，可列为发展对象，并对发展对象的情况予以公示。 <br>
				6.政审 <br>
				审查发展对象本人对党的路线、方针、政策的态度、政治历史和重大政治斗争中(特别是 " 文革 " 和动乱)的表现。审查发展对象直系亲属和关系密切的主要社会关系的政治情况。发展对象应如实向党组织汇报情况，并填写《发展对象政审表》
				<br>
				7.上级党组织预审 <br>
				党支部确定了发展对象，应及时向上级党委(总支)报告意见，并附送入党积极分子的政审材料、《发展对象意见表》、《发展对象情况表》、《入党积极分子登记表》等。上级党组织(总支)进行审查，对符合要求的，同意确定为发展对象者方可下发《入党志愿书》。
				<br>
				8.填写入党志愿书 <br>
				发展对象填写《入党志愿书》，须经上级党组织同意，在入党介绍人的指导下，用钢笔或毛笔填写。并要求其填写时要忠诚老实、实事求是，不得有任何隐瞒和伪造。字迹要清楚，不得涂改。对《入党志愿书》上有的项目没有内容可填时，应注明 " 无 " 。在 " 对党还有哪些需要说明的问题 " 一栏，主要填写需要向党说明，而其它栏目中不能填写的问题，或对某些栏目需要补充说明的问题。
				<br>
				9.确定入党介绍人 <br>
				入党介绍人由两名正式党员担任，一般由培养联系人担任，也可由发展对象约请，或由党组织指定。 <br>
				入党介绍人的主要任务是： <br>
				(1)向被介绍人解释党的纲领、章程，阐明党员的条件、义务和权利，认真了解被介绍人的入党动机、政治觉悟、思想品质、工作表现、经历等情况，如实向党组织汇报。不能采取马马虎虎的态度，更不能有意隐瞒和歪曲事实真相。
				<br>
				(2)指导被介绍人填写《入党志愿书》，并认真填写自己的意见(填写入党介绍人意见时，不要简单地以 " 提希望 " 的形式代替写缺点，而应实事求事地对被介绍人的政治觉悟、思想品质、工作表现和其它方面的情况作出全面评价，并表明自己对其能否入党的态度)。向支部大会负责地介绍被介绍人情况。
				<br>
				(3)被介绍人批准为预备党员以后，应继续对他进行教育帮助，使他按期转为正式党员 <br>
				10.召开支部大会程序： <br>
				(1)申请入党人汇报对党的认识、入党动机、本人履历、现实表现以及向组织说明的其它问题; <br>
				(2)党小组和介绍人介绍入党人的主要情况，并对其能否入党表明意见; <br>
				(3)支委会报告对申请入党人审议情况; <br>
				(4)与会党员充分发表意见，对申请入党人能否入党进行讨论; <br>
				(5)申请入党的人对大会讨论情况表明自己的态度; <br>
				(6)采取举手或无记名投票的方式进行表决。 <br>
				11.在审批接收新党员前 <br>
				要指派党委组织委员、组织员、其他党委成员同申请人谈话(2人以上)，作进一步的考察。谈话前，组织员要对支部报来的入党材料进行审查，看材料是否齐全，手续是否完备(查看支部记录)，并采取座谈或个别谈心的方式，听取党内外人员对入党申请人的反映。
				<br>
				谈话中，主要了解被谈话人的入党动机，对党的认识和对党的基本知识的掌握情况，征求其对党需要说明的问题，帮助其提高对党的认识，指出努力的方向。谈话后，及时如实地将谈话人的意见填入《入党志愿书》，并向党委汇报谈话情况。
				<br>
				12.预备期的培养考察 <br>
				预备期为一年，从支部大会通过预备党员之日算起。对预备党员地教育和考察，党组织通过听取本人汇报、个别谈心、集中培训、介绍人帮助等方式，每季度要讨论一次，发现问题及时同本人谈话。预备党员要自觉地接受党组织的教育和考察，经常向党组织汇报思想和工作情况，每半年要向支部书面汇报思想和工作一次。
				<br>
				预备期潢后，党支部要进行全面考察，并写出书面报告。各基层党委和市直机关工委的预备党员转正材料(转正申请、个人思想工作汇报、党小组意见、党内外群众意见、党支部考察报告及发展材料)必须报市委组织部审查同意后，方可讨论审批。
				<br>
				13.预备期满，考察合格，转正。 <br>
				手续：本人在预备期满前适当时候向支部提出书面转正申请→党支部征求党内外群众意见→支部大会讨论、表决通过→预备党员材料报上级党组织审批。 <br>
				(1)考察不合格,延长预备期。 <br>
				对预备期满后不完全具备条件或犯有一定的错误，但还没有完全丧失预备党员条件，并且本人决心努力改正错误的，可延长预备期。延长时间最长不超过一年，最短不能少于半年。延长预备期必须经过支部大会讨论作出决议，填入《入党志愿书》，报上级党组织。延长预备期期满后，由党支部根据其是否具备党员条件作出转为正式党员或取消预备党员资格的决议并报上级党组织审批。
				<br>
				(2)取消预备党员资格。 <br>
				对在预备期内不能履行党员义务，确定不具备党员条件或犯有严重错误或延长预备期后经过教育考察已不具备党员条件的，应取消预备党员资格。取消预备党员资格必须经过支部大会讨论通过，支部大会决议填入《入党志愿书》报上级党组织审批。</p>
			<p class="q">question 11.党费如何计算？</p>
			<p class="a">答：党费收缴 <br>
				1.按月领取工资的党员，每月以工资总额中相对固定的、经常性的工资收入(税后)为计算基数，按规定比例交纳党费。 <br>
				工资总额中相对固定的、经常性的工资收入包括：机关工作人员(不含工人)的职务工资、级别工资、津贴补贴;事业单位工作人员的岗位工资、薪级工资、绩效工资、津贴补贴;机关工人的岗位工资、技术等级(职务)工资、津贴补贴;企业人员工资收入中的固定部分(基本工资、岗位工资)和活的部分(奖金)。
				<br>

				2.党员交纳党费的比例为：每月工资收入(税后)在3000元以下(含3000元)者，交纳月工资收入的0.5%;3000元以上至5000元(含5000元)者，交纳1%;5000元以上至10000元(含10000元)者，交纳1.5%;10000元以上者，交纳2%。
				<br>

				3.实行年薪制人员中的党员，每月以当月实际领取的薪酬收入为计算基数，参照第一条、第二条规定交纳党费。 <br>

				4.不按月取得收入的个体经营者等人员中的党员，每月以个人上季度月平均纯收入为计算基数，参照第一条、第二条规定交纳党费。 <br>

				5.离退休干部、职工中的党员，每月以实际领取的离退休费总额或养老金总额为计算基数，5000元以下(含5000元)的按0.5%交纳党费，5000元以上的按1%交纳党费。 <br>

				6.农民党员每月交纳党费0.2元—1元。学生党员、下岗失业的党员、依靠抚恤或救济生活的党员、领取当地最低生活保障金的党员，每月交纳党费0.2元。 <br>

				7.交纳党费确有困难的党员，经党支部研究，报上一级党委批准后，可以少交或免交党费。 <br>

				8.预备党员从支部大会通过其为预备党员之日起交纳党费。 <br>

				9.党员一般应当向其正式组织关系所在的党支部交纳党费。持《中国共产党流动党员活动证》的党员，外出期间可以持证向流入地党组织交纳党费。 <br>

				10.党员工资收入发生变化后，从按新工资标准领取工资的当月起，以新的工资收入为基数，按照规定比例交纳党费。 <br>

				11.党员自愿多交党费不限。自愿一次多交纳1000元以上的党费，全部上缴中央。具体办法是：由所在基层党委代收，并提供该党员的简要情况，通过省、自治区、直辖市党委组织部，中央直属机关工委、中央国家机关工委组织部，国务院国资委党委、中央各金融机构党委组织部，铁道部政治部、民航总局党委组织部，解放军总政治部组织部转交中央组织部。中央组织部给本人出具收据。
				<br>

				12.党员应当增强党员意识，主动按月交纳党费。遇到特殊情况，经党支部同意，可以每季度交纳一次党费，也可以委托其亲属或者其他党员代为交纳或者补交党费。补交党费的时间一般不得超过6个月。 <br>

				13.对不按照规定交纳党费的党员，其所在党组织应及时对其进行批评教育，限期改正。对无正当理由，连续6个月不交纳党费的党员，按自行脱党处理。 <br>

				14.党组织应当按照规定收缴党员党费，不得垫交或扣缴党员党费，不得要求党员交纳规定以外的各种名目的“特殊党费”。 <br>

				15.各省、自治区、直辖市党委，中央直属机关、工委，中央国家机关工委，国务院国资委党委，中央各金融机构党委，铁道部政治部，民航总局党委和解放军总政治部，每年按全年党员实交党费总数的5%上缴中央。上缴中央的党费应当于次年4月底前汇入中央组织部党费帐户，不得少缴或拖延。
				<br>

				16.铁路、民航系统党的关系在地方的党委，每年按照全年党员实交党费总数的10%向所在地方党委上缴党费。中国人民银行的地市级分支机构和中央其他金融机构的省级分支机构党委，每年按本地本系统党员全年实交党费总数的5%向所在地方党委上缴党费，其他派出机构和下属单位党委不再向地方党委上缴党费。</p>
		</div>
	</div>


</div>

{/block}

{block name="script"}
<script src="/home/js/reset.js"></script>
<script>
$('title' ).text('组织架构');
$(function(){
	//组织架构切换
	slide();
	$('.name2' ).each(function(){
		var t = $(this ).text();
		var href = '/home/structure/detail?party='+t+'';
		$(this ).attr('href', href);
	})
	$(function(){
		//标题
		$('title' ).text('服务团队');
		//tab值记录
		tabRecord('.tab' ,'.box');
		//tab切换
		tabSwitch('.tab' ,'.box');
		//上拉加载
	});
});
function slide(){
	$('.lists .party1' ).on('click',function(){
		var it = $(this);
		var detail = it.next('.detail1' );
		if(detail.hasClass('down')){
			detail.slideUp();
			it.find('.tri').removeClass('toup').addClass('todown');
		}else{
			detail.slideDown();
			it.find('.tri').removeClass('todown').addClass('toup');
		}
		detail.toggleClass('down');
	});
}
</script>
{/block}