{extend name="public/common"}

{block name="style"}
<title>社团活动/志愿服务</title>
<link rel="stylesheet" href="/home/css/structure/newIndex.css">

{/block}

{block name="body"}
<!--顶部banner-->
    <div class="banner"><img src="/home/images/feedback/1.jpg" alt=""></div>
<!--顶部banner    end-->
<!--主体-->
    <div class="tabs">
        <div class="tab active" data-side="1">社团活动</div>
        <div class="tab" data-side="2">志愿服务</div>
    </div>
    <div class="listBox">
        <div class="listSort" id="side1" style="display: block;">1</div>
        <div class="listSort" id="side2">2</div>
    </div>
<!--主体  end-->
{/block}

{block name="script"}
{/block}