{extend name="public/common"}

{block name="style"}
<title>云上组织</title>
<link rel="stylesheet" href="/home/css/structure/pilot.css">
<link rel="stylesheet" href="/home/css/common/rem.css">
{/block}

{block name="body"}
<!--领导信息-->
<a class="lists">
    <div class="picture">
        <img src="/home/images/structure/tx.jpg" alt="图片无法加载">
    </div>
    <div class="list_info">
         <!--姓名  职务-->
        <h4 class="name">文静  <span>(中心主任)</span></h4>
        <!--政治面貌-->
        <p class="status"><img src="/home/images/structure/woman.png" alt="">  <span>党员</span></p>
        <!--联系电话-->
        <p class="phone"><span>13105695215</span></p>
    </div>
</a>
<a class="lists">
    <div class="picture">
        <img src="/home/images/structure/tx.jpg" alt="图片无法加载">
    </div>
    <div class="list_info">
        <!--姓名  职务-->
        <h4 class="name">文静  <span>(中心主任)</span></h4>
        <!--政治面貌-->
        <p class="status"><img src="/home/images/structure/woman.png" alt="">  <span>党员</span></p>
        <!--联系电话-->
        <p class="phone"><span>13105695215</span></p>
    </div>
</a>
<a class="lists">
    <div class="picture">
        <img src="/home/images/structure/tx.jpg" alt="图片无法加载">
    </div>
    <div class="list_info">
        <!--姓名  职务-->
        <h4 class="name">文静  <span>(中心主任)</span></h4>
        <!--政治面貌-->
        <p class="status"><img src="/home/images/structure/woman.png" alt="">  <span>党员</span></p>
        <!--联系电话-->
        <p class="phone"><span>13105695215</span></p>
    </div>
</a>

{/block}

{block name="script"}
{/block}