{extend name="public/common"}

{block name="style"}
<title>云上组织</title>
<link rel="stylesheet" href="/home/css/structure/pilot.css">
<link rel="stylesheet" href="/home/css/common/rem.css">
{/block}

{block name="body"}
<!--领导信息-->
{volist name="modelAll" id="vo"}
<a href="{:Url('structure/pilotinfo?id='.$vo.id)}" class="lists">
    <div class="picture">
        <img src="/home/images/structure/tx.jpg" alt="图片无法加载">
    </div>
    <div class="list_info">
         <!--姓名  职务-->
        <h4 class="name">{$vo.name}  <span>({$vo.position})</span></h4>
        <!--政治面貌-->
        <p class="status">
            {eq name="$vo.gender" value="2"}
            <img src="/home/images/structure/woman.png" alt="">
            {else/}
            <img src="/home/images/structure/man.png" alt="">
            {/eq}
            <span>{$vo.politics_status}</span></p>
        <!--联系电话-->
        <p class="phone"><span>{$vo.mobile}</span></p>
    </div>
</a>
{/volist}

{/block}

{block name="script"}
{/block}