*{
    font-family: "微软雅黑";
}
.tabs {
    width: 100vw;
    height: 11vw;
    border-bottom: 1px solid #eee;
}
.clear {
    zoom: 1;
}
.tabs .tab {
    display: block;
    float:left;
    width: 50vw;
    height: 100%;
    color: #999;
    font-size: 1.6rem;
    line-height: 12.3vw;
    text-align: center;
}
.tabs .tab:nth-child(1)::after {
    content: '';
    display: block;
    width: 1px;
    height: 6vw;
    float: right;
    margin-top: 3vw;
    background-color: #999;
}
.triangle-up {
    position: absolute;
    top: 10.7vw;
    left:0.06vw;
    border-bottom: 2px solid #ff7f24;
    width: 50vw;
    display: inline-block;
}
.clear:after {
    content: '';
    display: block;
    clear: both;
}


.mass .title .fa{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    float: right;
    -moz-osx-font-smoothing: grayscale;
    line-height: 14vw;
}
.fa:before {
    content: "\f105";
}
.list .list_info{
    margin-left: 3vw ;
    width: 64vw;
}
.list .time{
    line-height: 6vw;
    color: #999;
    margin-top: 2vw;
    display: flex;
    justify-content: space-between;
}
.list{
    ont-size: 1.4rem;
    color: #333;
    padding: 3vw;
    border-bottom: 1px solid #eee;
    display: flex;
}
.list  img{
    width: 24vw;
    height: 16vw ;
    border-radius: 1vw;
}
.list .info_text{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    line-height: 8vw;
    font-size: 1.6rem;
    color: #a3a3a3;
}
.tip {
    height: 7.4vw;
    line-height: 7.4vw;
    text-align: center;
    color: #c1c1c1;
    font-size: 1.4rem;
}
.tip img{
    width:5vw;
    height:5vw;
    margin-top: 1.2vw;
}

 .mass .simple_info{
    padding: 4vw;
     font-size: 1.4rem;
     display: block;
 }
 .mass .simple_info p{
     overflow:hidden;
     text-overflow:ellipsis;
     display:-webkit-box;
     -webkit-box-orient:vertical;
     -webkit-line-clamp:3;
     color:#666;
 }
  .volunt  .tip {
    display: block;
    height: 7.4vw;
    line-height: 7.4vw;
    text-align: center;
    color:#666;
    font-size: 1.4rem;
}
 .volunt  .tip img{
    width:5vw;
    height:5vw;
    margin-top: 1.2vw;
}
 .notices{
     margin-bottom: 5vw;
 }
.swiper-slide .tm_info{
    position: absolute;
    top: 0vw;
    left: 0vw;
    width: 72vw;
    height: 107vw;
    background: #333;
    opacity: .3;
    border-radius: 3vw;
}
.swiper-slide .tm_info .tm_name{
    font-size:2rem;
    color: #fff;
    margin: 7vw 0vw 0vw 7vw;
}
.swiper-slide .tm_info  i{
    display: block;
    width:1.2vw;
    height: 16vw;
    background-color: #fff;
    border:0.8vw solid #fff ;
    border-radius: 1vw;
    position: absolute;
    top:7vw;
    left:3vw;
}
.swiper-slide .tm_info  .info{
    color: #fff;
    position: absolute;
    top:16vw;
    left: 5vw;
    font-size: 1.5rem;
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp:5;
    -webkit-box-orient: vertical;
    line-height: 6vw;
    margin-left: 2vw;
    padding: 0vw 3vw;
    border-radius: 3vw;
    z-index: 1000;
}
.swiper-slide .tm_info  .info p{
    color: #fff;
}
.swiper-slide .tm_info  a{
    display: block;
    text-align: center;
    color: #fff;
    width:57vw;
    line-height:9.5vw;
    font-size: 1.8rem;
    margin: 0 auto;
    border: 1px solid #FFF;
    position: absolute;
    bottom:12vw;
    border-radius: 6vw;
    margin-left: 7vw;
}
.fa{
    line-height: 6vw;
}
a:active {background: #eee;}