.note {
    color: #999999;
    font-size: 1.4rem;
}
.note .read {
    background: url(/home/images/detail/scan_.png) 0 center no-repeat;
    background-size: 1.5rem 1.5rem;
    padding-left: 1.8rem;
}
.note span {
    height: 8vw;
    display: inline-block;
    margin-right: 3vw;
    line-height: 8vw;
}
.note .good {
     background: url(/home/images/detail/good.png) 0 center no-repeat;
     background-size: 1.5rem 1.5rem;
     padding-left: 1.8rem;
 }

.note .isgood {
    margin-right: 0;
}

.note span {
    height: 8vw;
    display: inline-block;
    margin-right: 3vw;
    line-height: 8vw;
}

 .note span {
    /* margin-right: 10px; */
}

