.banner {
    width: 100vw;
    height: 50vw;
}
.banner .banner-img {
    width: 100%;
    height: 100%;
}
.detail_info{
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 130vw;
}
.detail_info .activityTitle{
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 15vw;
    text-align: center;
    color: #333;
}
.detail_info .info{
    font-size:1.3rem;
    padding: 3vw;
    color: #333;
    border-bottom:1px solid #eee;
}
.detail_info .contact, .reg{
    display: block;
    color: #333;
    font-size:1.3rem;
    line-height: 11vw;
     border-bottom:  1px dashed #eee;
    margin-left: 6.5vw;
}
.site{
    color: #333;
    font-size:1.3rem;
    line-height: 11vw;
    margin-left: 6.5vw;
}
.contact_info{
    border-bottom: 1px solid #eee;
}

.detail_info .contact i{
     display: inline-block;
     width: 3.75vw;
     height: 4.53vw;
     background: url("/home/images/club/tp.png") center no-repeat;
     -webkit-background-size: 3.73vw;
     background-size: 3.73vw 4.53vw ;
     position: relative;
     top:1.2vw;
     left: 2vw;
 }
.detail_info .reg i{
    display: inline-block;
    width: 3.75vw;
    height: 4.53vw;
    background: url("/home/images/club/bm.png") center no-repeat;
    -webkit-background-size: 3.73vw;
    background-size: 3.73vw 4.53vw ;
    position: relative;
    top:1.2vw;
    left: 2vw;
}
.clud_activity .title {
    display:flex;
    justify-content: space-between;
    padding: 3vw ;
}
.clud_activity>.title>span:before{
    width: 2vw;
    height: 5vw;
    background-color: #ff7043;
}