body {
  background: #f9f9f9;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #d9d9d9!important;
}
.form .list {
  height: 12vw;
  width: 100%;
  padding-left: 3.4vw;
  padding-right: 3.4vw;
  border-bottom: 1px solid #f1f1f1;
  background: #ffffff;
  line-height: 12vh;
  zoom: 1;
}
.form .listï¼šafter {
  content: '';
  display: block;
  clear: both;
}
.form .list:last-child {
  border-bottom: none;
}
.form .list span {
  width : 23.2vw;
  text-align: center;
  float: left;
  color: #333333;
  font-size: 1.5rem;
  line-height: 12vw;
}
.form .list input,
.form .list .select,
.form .list .time {
  float: right;
  width: 70vw;
  color: #999;
  font-size: 1.3rem;
}
.form .list input {
  height : 12vw;
}
.form .list .select {
  color: #d9d9d9;
}
.block {
  background: #ffffff;
  margin-top: 2.6vw;
  padding-bottom: 2.6vw;
}
.block #text {
  width: 100%;
  padding: 3.4vw;
  min-height: 100px;
  margin-top: 2.6vw;
  color: #999999;
  font-size: 1.3rem;
  text-indent: 2em;
}
.block .img {
  position: relative;
  width: 20.8vw;
  height: 20.8vw;
  margin-left: 2.6vw;
  overflow: hidden;
  background: #d9d9d9;
}
.block .img img {
  position: absolute;
  top: 0;
  left: 0;
}
.block .add {
  width: 20.8vw;
  height: 20.8vw;
  margin-left: 2.6vw;
  border: 2px solid #d9d9d9;
  text-align: center;
  line-height: 100%;
  font-size: 6rem;
  color: #d9d9d9;
}
.foot {
  margin-top: 10vw;
}
.foot .save {
  width: 60vw;
  height: 10.6vw;
  margin: 10px auto;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #ff7d6c;
  font-size: 1.6rem;
  text-align: center;
  line-height: 10.6vw;
}
.foot .save {
  background: #ff7d6c;
  color: #ffffff;
}


